<div class="row">
  <div class="col-sm-12">
    <p class="pl-2 txt-cinza d-sm-flex justify-content-sm-center d-lg-flex justify-content-lg-start">
      <strong>Radar</strong></p>
  </div>
  <div class="col-sm-12">
    <div class="shadow rounded bg-white">
      <div class="d-flex justify-content-between align-items-center p-2">
        <span><img class="img-author" src="../../../../../assets/img/perfil-navbar.png" />
          <span class="pl-3">{{ 'nameRadar' }}</span></span>
        <mat-icon>more_vert</mat-icon>
      </div>
    <div class="px-0">
      <img class="img-fluid img-radar" src="../../../../../assets/img/img-radar.png" />
    </div>
    <div class="d-flex align-items-center p-2">
      <img class="img-fluid px-2" src="../../../../../assets/svg/clap.svg" />
      <img class="img-fluid px-2" src="../../../../../assets/svg/origami.svg" />
    </div>
  </div>
</div>
