<!--Termos-->
<div *ngIf="!isAbout && isTerms" class="dialog-content">
  <div class="dialog-header">
    <span class="w-100 text-center">
      <h4 class="dialog-title mt-5">Termos de uso e Política de privacidade</h4>
    </span>
    <button mat-dialog-close type="button" data-dismiss="modal" aria-label="Close" class="close-modal">
      <span aria-hidden="true">x</span>
    </button>
  </div>
  <div mat-dialog-content>
    <div class="dialog-body">
      <pre class="dialog-text text-format-modal">
        <strong>Bem-vindos à SPARKEEP!</strong>

        A rede social SPARKEEP cria tecnologias que conectam entidades governamentais, não governamentais sem fins
        lucrativos, empresariado, lideranças comunitárias e o cidadão – Todos gerenciam perfis em um ambiente
        colaborativo para promover suas PAIXÕES nos campos da:
        - Assistência social;
        - Cultura;
        - Direitos Humanos;
        - Direitos dos Animais;
        - Esporte;
        - Defesa do Meio Ambiente;
        - Saúde;
        - Educação;
        - Pesquisa;
        - Espiritualidade;
        O acesso e uso da plataforma são disponibilizados gratuitamente. Nosso objetivo é que a sociedade INSPIRE-SE no
        engajamento promovido por nossos usuários em suas respectivas áreas de atuação e, oportunamente, também
        participem dessas atividades e INSPIREM outros usuários, gerando um ciclo virtuoso que beneficia toda sociedade,
        fortalecendo-a para enfrentar os desafios do século XXI.
        Por enquanto nossa rede foca em atividades desenvolvidas no território brasileiro, mas esperamos, assim que
        possível, internacionalizar nossa comunidade virtual, permitindo interações que ultrapassem fronteiras
        nacionais. Buscaremos sempre aprimorar nossos serviços e o retorno acerca da experiência do usuário (feedback)
        norteará todo desenvolvimento. Estamos disponíveis para que você entre em contato pelo e-mail
        “contato@sparkeep.com”.
        Toda plataforma foi desenvolvida e vem sendo financiada com recursos próprios. Em paralelo, aceitaremos doações
        de usuários que entendam a relevância de nosso serviço e estão dispostos a contribuir para manter a SPARKEEP
        viva e evoluindo, prospectando novos cadastros e aprimorando sistema.
        Na SPARKEEP é possível que o usuário gerencie múltiplos perfis de Entidades, projetos e eventos que interagem
        entre sim, podendo as Entidades e os projetos deste usuário vincularem-se como titulares de seus próprios
        projetos e eventos ou apenas eventos no caso de projetos.
        Os perfis interagem entre si e estabelecem parcerias para suprir carências de projetos e eventos cadastrados,
        possibilitando: recrutar voluntários para prestação de serviços, ou receber patrocínio material e financeiro.
        Na SPARKEEP, usuários podem identificar atividades em qualquer região de interesse, seja no município, bairro ou
        rua, por isso é obrigatório que os perfis relacionem essas informações, utilizada por nós unicamente para este
        fim.
        Conforme prática comum, exclusivamente para melhorar a experiência do usuário face ao que a SPARKEEP se propõe,
        informações armazenadas no navegador (cookies) serão utilizadas, caso necessário for.
        Além do mural de publicações gerais, enquadrando manifestação de todos os usuários, na SPARKEEP é possível
        visualizar publicações que se enquadrem especificamente com paixões cadastradas, ou com a rede de interesses -
        composta por perfis que o inspiraram dentro da rede. Os usuários terão suas publicações vinculadas na página dos
        respectivos titulares e poderão apaga-las quando desejarem.
        Nós estaremos alertas para, em prazo razoável, averiguamos denúncias enviadas por usuários e estaremos sempre
        realizando nossa própria patrulha – caso alguma publicação ou perfil viole as orientações de boas práticas de
        conduta da sociedade civil face ao senso comum, serão excluídos, pois são proibidos. Perfis com características
        fraudulentas (“fake”) estarão sujeitos a comprovarem sua legitimidade mediante contato para apresentação de
        documentos e, caso não haja retorno da comunicação (em 30 dias após segunda solicitação), serão apagados por
        nossa equipe – portanto, todos os perfis devem vincular ao menos uma fonte para contato da SPARKEEP que não
        disponibilizará esse(s) dado(s) ou qualquer outro à terceiros, a não ser por força da lei ou caso cadastrador
        deseje torna-los públicos por livre e espontânea vontade; também para combater fraudes, requeremos cadastro de
        CNPJ das pessoas jurídicas e, pelo cruzamento de dados, impedimos cadastramento de dois perfis com a mesma
        numeração. Caso seu CNPJ esteja em uso por outro usuário, entre em contato como nossa equipe pelo e-mail
        disponibilizado por nós. Para entidades que se cadastrem como “filantrópicas” – requeremos indicação do CEBAS
        que, ficará disponível para consulta de usuários que visualizem este perfil, sem exceções. Não nos
        responsabilizamos por publicações ou iniciativas ilegais/imorais por parte dos usuários, os participantes da
        rede estão sujeitos a esse risco de exposição ao prosseguirem com cadastramento na plataforma. Não autorizamos
        que sua senha pessoal seja compartilhada e não nos responsabilizaremos por este ocorrido, seja por iniciativa
        própria do usuário ou de terceiros. Mediante intimação por parte das autoridades públicas, em respeito ao
        ordenamento jurídico brasileiro, colaboraremos com as instituições reguladoras de nossa sociedade, conforme
        previsto em lei, dentro dos limites hábeis de colaboração. Ao realizar o cadastro você concorda com todos os
        termos supra relacionados.
      </pre>
    </div>
  </div>
</div>
<!--Fim termos e Políticas-->

<!--Sobre-->
<div *ngIf="isAbout" class="dialog-content">
  <div class="dialog-header">
    <span class="w-100 text-center">
      <h4 class="dialog-title mt-5">Sobre</h4>
    </span>
    <button mat-dialog-close type="button" data-dismiss="modal" aria-label="Close" class="close-modal">
      <span aria-hidden="true">x</span>
    </button>
  </div>
  <div class="mobile" mat-dialog-content>
    <div class="d-flex justify-content-center mt-2">
      <iframe src="assets/video/intro.mp4" width="676" height="339"></iframe>
    </div>
    <div class="dialog-body">
      <p class="dialog-text">
        <strong>BEM VINDOS!</strong><br/><br/>

      <strong>SPARKEEP</strong> é a nova rede social que conecta: entidades governamentais e não governamentais sem fins
        lucrativos, empresariado, lideranças comunitárias e o cidadão.<br/><br/>

        O objetivo é promover projetos e eventos voltados para: assistência social, cultura, direitos humanos, dos
        animais, esporte, lazer, meio ambiente, saúde, política, educação, pesquisa e espiritualidade.<br/><br/>

        Na <strong>SPARKEEP</strong> é possível promover parcerias que suprem carências cadastradas pelos projetos e eventos para
        vabilisa-los ou expandir suas atividades!<br/><br/>

        O mundo precisa se inspirar no que há de melhor! Faça parte desta comunidade!<br/><br/>

        Estamos disponíveis em todas as plataformas móveis e em nosso endereço eletrônico (sparkeep.com). Aprimoraremos
        constantemente a plataforma para proporcionar uma melhor experiência aos usuários. Nos informe sua opinião e,
        caso necessário, solicite assistência.<br/><br/>

      </p>
      <a href="https://www.youtube.com/channel/UC77LdGldGoV-kKAZx254ErQ/" target="_blank">Visite nosso canal do
        Youtube</a>
      <h6 class="mt-5">Contato</h6>
      <a href="mailto:contato@sparkeep.com">contato@sparkeep.com</a>
    </div>
  </div>
</div>
<!--Fim Sobre-->
