.dialog-content {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.dialog-body {
  margin: 44px 153px 44px 153px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.dialog-header .dialog-title {
    color: #4F0B73;
    font-size: 34pxpx;
    font-family: Poppins;
    letter-spacing: 2.24px;
}

.close-modal {
  font-weight: 500;
  font-size: 1.3em;

  outline: none;
  border: none;
  background-color: transparent;
}


iframe {
    border: none;
}

.dialog-body p {
  font-size: 16px;
  color: #43434A;
}

.dialog-body a {
    font-size: 17px;
    color: #4F0B73;
    font-weight: 600;
}

.dialog-body a:hover {
    text-decoration: none;
}

.dialog-body h6 {
    font-size: 24px;
    color: #292929;
}

.text-format-modal{
  font-size: 14px;
  font-family: 'Poppins';
}

@media(max-width: 768.9px) {
    iframe {
        width: 200px;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }
    .mat-dialog-content {
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    div.dialog-body {
        margin: 10px 0 0 0;
    }
}
