.p-margin {
  margin: 5px 0px;
}

.close-modal {
  font-weight: 500;
  font-size: 1.3em;

  outline: none;
  border: none;
  background-color: transparent;
}

.txt-post {
  border: none;
  outline: none;

  width: 100%;
  height: 100px;

  max-height: 100%;
}

.fundo-post {
  background: #fafafa;
}

.img-post {
  width: 100px;
  height: 100px;

  max-width: 100%;
  max-height: 100%;

  border-radius: 5px;
}

.img-perfil-post {
  width: 50px;
  height: 50px;

  border-radius: 100%;
  object-fit: cover;
}

.delete-img-post {
  width: 25px;
  height: 25px;

  top: 30px;
  left: 100px;

  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 100%;

  cursor: pointer;

  background: #000;
  opacity: 0.6;
}

.delete-img-post:hover {
  opacity: 0.8;
}

.delete-button {
  position: absolute;
  bottom: 2px;

  padding-left: 68px;
}


.btn-roxo-2 {
  color: white;

  width: 250px;
  height: 35px;

  border-radius: 3px;
  background: linear-gradient(269deg, #392244 0%, #560F7B 100%, #FC9970 100%);
}

.select-post-privacity {
  width: 110px;
  border: 0.30000001192092896px solid #8F8F8F;
  border-radius: 3px;
}

.select-type-user {
  padding-right: 15px;
  border: none;
  outline: none;
}

.select-type-user option {
  padding: 15px 0;

  border: 0.30000001192092896px solid #8F8F8F;
  border-radius: 3px;
}

.select-type-user option:hover {
  background-color: #7e7384;
}

/* Input File */
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile+label {
  font-size: 1em;
  color: #9b9b9b;
  background-color: #e9e9e9;
  display: inline-block;

  width: 250px;
  height: 35px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 3px;
}

.inputfile:focus+label,
.inputfile+label:hover {
  background-color: #cecece;
}

.inputfile+label {
  cursor: pointer;
}
