<form class="w-100" [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <div class="modal fade" id="modalPost" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content pt-3">
        <div class="modal-header">
          <span class="w-100 text-center">
            <h4 class="txt-roxo">Novo post</h4>
          </span>
          <button type="button" class="close-modal" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">

            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-2 d-flex align-items-center">
                  <img [src]="imgSelectedSender? imgSelectedSender : '/assets/img/user.svg' "
                    class="img-fluid img-perfil-post" />
                </div>
                <div class="col-sm-10">
                  <div class="row">
                    <div class="col-lg-12">
                      <select class="select-type-user mb-1" formControlName="select_profile" #selectProfile (change)="selectChange(selectProfile.value)">
                        <option value="" selected hidden disabled>Selecione um perfil</option>
                        <option value="user_{{userSession.id}}">{{userSession?.name}}</option>
                        <option value="organization_{{organization.id}}" *ngFor="let organization of organizations" >{{organization.name}}</option>
                        <option value="project_{{project.id}}" *ngFor="let project of projects">{{project.name}}</option>
                        <option value="event_{{event.id}}" *ngFor="let event of events">{{event.name}}</option>
                      </select>
                      <div *ngIf="formulario.get('select_profile').touched && formulario.get('select_profile').invalid || isSubmited && formulario.get('select_profile').invalid">
                        <span class="small text-danger" *ngIf="formulario.get('select_profile').errors.required">
                          Por favor selecione um perfil.
                        </span>
                      </div>
                    </div>
                    <div class="col-lg-12 py-1">
                      <select class="select-post-privacity" formControlName="privacy">
                        <option value="public">Público</option>
                        <option value="private">Privado</option>
                      </select>
                    </div>
                    <div class="col-lg-12">
                      <select formControlName="passions">
                        <option value="" hidden selected disabled>Selecione uma paixão</option>
                        <option *ngFor="let passion of passions" [value]="passion.id"> {{passion.name}} </option>
                      </select>
                      <div *ngIf="formulario.get('passions').touched && formulario.get('passions').invalid || isSubmited && formulario.get('passions').invalid">
                        <span class="small text-danger" *ngIf="formulario.get('passions').errors.required">
                          Por favor selecione uma paixão.
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-12">
              <div class="row justify-content-center">
                <!-- Text Area -->
                <div class="col-lg-12 d-flex justify-content-center pt-3 px-0">
                  <textarea matInput class="txt-post px-4 pt-3 fundo-post" cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" placeholder="O que você está fazendo"
                    formControlName="description"></textarea>
                </div>
                <div class="col-lg-12">
                  <div *ngIf="formulario.get('description').touched && formulario.get('description').invalid || isSubmited && formulario.get('description').invalid">
                    <span class="small text-danger" *ngIf="formulario.get('description').errors.required">
                      Descrição é um campo obrigatório.
                    </span>
                  </div>
                </div>

                <div class="col-lg-12 py-2 px-2 fundo-post">
                  <!-- IMAGENS  -->

                  <!-- <div>{{imgUrlForm | json}}</div> -->
                  <div class="row justify-content center">
                    <div class="col-lg-12 d-flex flex-wrap justify-content-center">
                      <div *ngFor="let img of imgUrlForm; let i= index">
                        <div class="d-flex flex-wrap position-relative m-1">
                          <img *ngIf="img" [src]="img" class="img-post img-fluid px-1">
                          <div class="d-flex delete-button">
                            <span *ngIf="img" class="delete-img-post" (click)="removeImgDOM(i)">&times;</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- IMAGEM -->
                  <!-- <img *ngIf="imgUrlForm" src="{{imgUrlForm}}" class="img-post img-fluid">
                  <span *ngIf="imgUrlForm" class="delete-img-post">&times;</span> -->

                </div>

                <div class="col-lg-12 d-flex justify-content-center py-3 px-0 fundo-post">
                  <div class="row mx-2">
                    <div class="col-sm-12 d-flex justify-content-center">
                      <span>
                        <input type="file" multiple id="file" class="inputfile"
                          (change)="envioImg($event)" accept="image/*" />
                        <label for="file">
                          <mat-icon>camera_alt</mat-icon>&nbsp;Adicionar fotos
                        </label>
                      </span>

                    </div>
                    <div class="col-sm-12 text-center">
                      <p class="small m-0 py-1">Você pode postar no máximo 10 imagens por post, os arquivos deverão está no formato imagem e no máximo 2,5mb</p>
                      <p class="small m-0 py-1 ">Você tem direito a três publicações por dia, sendo cada uma por perfil
                        próprio ou derivado.</p>
                    </div>
                  </div>
                </div>

                <div class="col-lg-12 d-flex justify-content-center pt-3">
                  <button mat-button class="btn-roxo-2" type="submit">Publicar</button>
                  <app-partial-spinner></app-partial-spinner>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
