.dialog-content {
    width: 100%;
    height: 100%;
}

.dialog-body {
    margin: 44px 153px 44px 153px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.dialog-body span {
    color: #515151;
    font-size: 19px;
    font-family: Poppins, Medium;
}