.text-area-100 {
  width: 100%;
  height: 70px;

  padding-left: 15px;
  padding-top: 15px;

  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 8px #E7EAF070;
  border: 0.30000001192092896px solid #A2A2A2;
  border-radius: 5px;
}

h1 {
  color: #4F0B73;
  font-size: 22px;
  letter-spacing: 1.54px;
}