<div class="content-complaint">
  <div class="d-flex align-items-center w-100">
    <h1 class="text-center w-100" mat-dialog-title>Denunciar Post</h1>
    <p class="text-right" mat-dialog-close>x</p>
  </div>
  <div [formGroup]="complaint" mat-dialog-content>
    <h6 class="text-center mb-4">Insira abaixo o motivo da denúncia.</h6>
    <textarea  class="text-area-100" cdkTextareaAutosize cdkAutosizeMinRows="1"
    cdkAutosizeMaxRows="8" rows="8" formControlName="comment"></textarea>
    <div *ngIf="(complaint.get('comment').touched && complaint.get('comment').invalid) || (complaint.get('comment').invalid && reported)">
      <span class="small text-danger">Motivo da denúncia obrigatória.</span>
    </div>
    <div class="d-flex justify-content-center align-items-center mt-4 w-100">
      <button class="btn btn-primary w-50" mat-raised-button (click)="reportPost(data.post.id, $event)" >Denunciar</button>
    </div>
  </div>
</div>
