/***************************/
/* MENU PRINCIPAL - FILTRO */
.txt-menu {
  font-weight: 500;
  color: #515151;

  text-decoration: none;
  cursor: pointer;
}

.active-menu {
  color: #fff;

  padding: 8px 28px;
  text-decoration: none;
  text-align: center;
  background: transparent linear-gradient(269deg, #392244 0%, #560F7B 100%, #FC9970 100%) 0% 0% no-repeat padding-box;
  border-radius: 3px;
}

.active-menu:hover {
  color: #fff;
}

/*******************/
/* SUBMENU - ROTAS */
.txt-submenu {
  font-weight: 400;
  color: #515151;
  text-decoration: none;

  cursor: pointer;

  word-break: break-all;
  word-wrap: break-word;
}

.txt-submenu:hover {
  color: #7e33a7;
  padding-bottom: 10px;
  border-bottom: 4px solid #7e33a7;
}

.active-submenu {
  font-weight: 500;
  color: #4F0B73;

  padding-bottom: 10px;
  border-bottom: 4px solid #4F0B73;
}

.active-submenu {
  font-weight: 500;
  color: #4F0B73;

  padding-bottom: 10px;
  border-bottom: 4px solid #4F0B73;
}

.hide400px {
  display: none !important;
}

@media(max-width: 575px) {
  .hide575px {
    display: none;
  }

  .hide400px {
    display: flex !important;
  }
}

@media(max-width: 400px) {
  .hide575px {
    display: flex;
  }

  .hide400px {
    display: none !important;
  }
}
