<section class="col-md-11 shadow rounded bg-white mx-auto pt-3 pb-0">
  <div class="row justify-content-center">
    <div
      class="col-12 d-flex justify-content-center align-items-center col-sm d-sm-flex justify-content-center align-items-sm-center"
      style="height: 37px;">
      <a class="txt-menu" routerLink="/minha-rede" routerLinkActive="active-menu">Minha rede</a>
    </div>
    <div
      class="col-12 d-flex justify-content-center align-items-center col-sm d-sm-flex justify-content-sm-center align-items-sm-center"
      style="height: 37px;">
      <a class="txt-menu" routerLink="/meus-interesses" routerLinkActive="active-menu">
        Minhas paixões
      </a>
    </div>
    <div
      class="col-12 d-flex justify-content-center align-items-center col-sm d-sm-flex justify-content-sm-center align-items-sm-center"
      style="height: 37px;">
      <a class="txt-menu" routerLink="/global" routerLinkActive="active-menu">Global</a>
    </div>
  </div>

  <hr />

  <div class="row justify-content-center hide575px">
    <div class="col-sm-11 d-flex justify-content-center">
      <div class="row w-100">
        <div class="col-sm d-flex justify-content-center" style="height: 35px;">
          <a class="txt-submenu text-nowrap active-submenu" (click)="alternarProfile('')"
            [class.active-submenu]="profile === ''">Ver tudo</a>
        </div>
        <div class="col-sm d-flex justify-content-center" style="height: 35px;">
          <a class="txt-submenu text-nowrap" (click)="alternarProfile('user')"
            [class.active-submenu]="profile === 'user'">Pessoas</a>
        </div>
        <div class="col-sm d-flex justify-content-center" style="height: 35px;">
          <a class="txt-submenu text-nowrap" (click)="alternarProfile('organization')"
            [class.active-submenu]="profile === 'organization'">Entidades</a>
        </div>
        <div class="col-sm d-flex justify-content-center" style="height: 35px;">
          <a class="txt-submenu text-nowrap" (click)="alternarProfile('project')"
            [class.active-submenu]="profile === 'project'">Projetos</a>
        </div>
        <div class="col-sm d-flex justify-content-center" style="height: 35px;">
          <a class="txt-submenu text-nowrap" (click)="alternarProfile('event')"
            [class.active-submenu]="profile === 'event'">Eventos</a>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex flex-wrap justify-content-between hide400px">
    <a class="txt-submenu text-nowrap active-submenu" (click)="alternarProfile('')"
      [class.active-submenu]="profile === ''">Ver tudo</a>
    <a class="txt-submenu text-nowrap" (click)="alternarProfile('user')"
      [class.active-submenu]="profile === 'user'">Pessoas</a>
    <a class="txt-submenu text-nowrap" (click)="alternarProfile('organization')"
      [class.active-submenu]="profile === 'organization'">Entidades</a>
    <a class="txt-submenu text-nowrap" (click)="alternarProfile('project')"
      [class.active-submenu]="profile === 'project'">Projetos</a>
    <a class="txt-submenu text-nowrap" (click)="alternarProfile('event')"
      [class.active-submenu]="profile === 'event'">Eventos</a>
  </div>
</section>
