<!-- <h6 class="col-lg-12 partner-title mb-4 p-0">Usuários: </h6> -->

<div class="col-md-12 col-lg-12" *ngIf="usersPartners?.data.length === 0">
  <div class="d-flex pl-2">
    <p>Nenhum usuário encontrado!</p>
  </div>
</div>

<div class="d-flex flex-column w-100"> <!-- class="scroll-area-chat" (scroll)="handleScrollUser($event)" -->
  <div class="d-flex rounded cursor-pointer mouse-hover p-2 my-2" *ngFor="let partner of usersPartners?.data" (click)="onClickUser(partner)">
    <img [src]="partner.image_url ? partner.image_url : 'assets/img/user.svg' " class="img-profile">
    <div class="pl-2">
      <p class="person-name m-0">{{ partner?.name | slice: 0:15 }}</p>
      <span class="msg mt-1">{{ partner?.description | slice: 0:15 }}</span>
    </div>
    <div class="d-flex flex-grow-1 justify-content-end align-items-center">
      <img src="assets/svg/arrow-right.svg" class="seta">
    </div>
  </div>
</div>

<!-- <div *ngIf="usersPartners?.data">
  <pagination-template #p="paginationApi" (pageChange)="changePage($event)">
    <div class="d-flex justify-content-end">
      <div class="pagination-previous" [class.disabled]="p.isFirstPage()">
        <img class="prev" (click)="previous()">
      </div>

      <div class="pagination-next" [class.disabled]="p.isLastPage()">
        <img class="next" (click)="next()">
      </div>
    </div>
  </pagination-template>
</div> -->
