.img-logo {
  height: 25px;
}

.navbar {
  box-shadow: 0px 1px 9px #E7EAF0;
  padding: 8px 50px ;
}

.img-perfil {
  width: 150px;
  height: 150px;

  object-fit: cover;

  border-radius: 50%;
}

.bg-c-roxo {
  background: #FAF1FF;
  color: #515151;
}

.txt-c-cinza {
  color: #515151;
}

.title-card-purple {
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.52px;
  color: #515151;
  margin-bottom: 0;
}

.btn-back{
  text-decoration: none;
  color: #4F0B73;
  font-weight: 600;
}

.btn-back:hover{
  color: #69298b;
}
