<nav class="navbar navbar-expand-md navbar-light bg-white">
  <a class="navbar-brand" routerLink="/login"><img class="img-logo" src="../../../../assets/svg/logo-txt.svg" /></a>
</nav>

<section class="container-fluid">
  <section class="row justify-content-center">
    <div class="col-lg-7 pt-4">
      <a routerLink="/global" class="mx-1 btn-back">
        <img src="assets/svg/arrow-left.svg" />
        Voltar
      </a>
      <div class="row shadow rounded bg-white p-5" style="margin: 1px">
        <div
          class="col-lg-3 d-flex justify-content-center col-md-10 d-md-flex justify-content-md-center col-sm-12 d-sm-flex justify-content-sm-center">
          <img [src]="myPosts?.authorImage ? myPosts?.authorImage : '../../../../../assets/img/user.svg' "
            class="img-perfil" />
        </div>
        <div class="col-lg-9 col-md-10 col-sm-12 txt-c-cinza">
          <h3 class="font-weight-bold">{{myPosts?.authorName}}</h3>
        </div>
      </div>
    </div>
  </section>
  <main class="row justify-content-center">
    <section class="col-lg-7 pt-4">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <section class="col-lg-12 shadow rounded bg-white my-4 mx-auto pt-2 pb-0">
            <div class="row">
              <div class="col-sm-12 d-flex justify-content-between align-items-center px-4 py-2">
                <span>
                  <img class="img-author"
                    [src]="myPosts?.authorImage ? myPosts?.authorImage : '../../../../../assets/img/user.svg' " />
                  <span class="pl-3 txt-name-user">{{ myPosts?.authorName }}</span>
                </span>
                <div id="dropdown">
                  <mat-icon class="pointer" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    more_vert
                  </mat-icon>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <p *ngIf="!reported" class="dropdown-item pointer mb-0" (click)="openDialog(myPosts.id, $event)">
                      Denunciar
                    </p>
                    <p *ngIf="reported" class="dropdown-item reported pointer mb-0">
                      <span class="mr-1">
                        <img src="assets/img/tick.svg" style="width: 20px; transform: translateY(-3px);">
                      </span>
                      Denunciado
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 d-flex justify-content-center px-0">

                <span *ngIf="myPosts?.images.length == 1">
                  <img class="img-fluid img-container" [src]="myPosts?.images[0].path" />
                </span>

                <span *ngIf="myPosts?.images.length > 1">
                  <div id="carouselExampleIndicators{{myPosts?.id}}" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item" *ngFor="let image of myPosts?.images; let iimage = index"
                        [class.active]="iimage == 0">
                        <img [src]="image.path" class="img-fluid img-container w-100" alt="...">
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators{{myPosts?.id}}" role="button"
                      data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators{{myPosts?.id}}" role="button"
                      data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                </span>

              </div>
              <div class="col-sm-12 py-2">
                <p class="p-margin">{{ myPosts?.created_at | date: "longDate" }}</p>
                <p class="p-justify-pre">
                  {{ myPosts?.description}}
                </p>
              </div>
              <div class="col-sm-12 d-flex align-items-center py-2">
                <span class="font-weight-bold txt-gray" [class.txt-roxo]="POST_LIKE">
                  {{ myPosts?.__meta__?.total_inspireds }}
                </span>
                <img *ngIf="POST_LIKE" class="img-fluid pointer px-2" [src]="img_clap_roxo" (click)="clickClaps()" />
                <img *ngIf="!POST_LIKE" class="img-fluid pointer px-2" [src]="img_clap" (click)="clickClaps()" />
                <img class="img-fluid pointer px-2" src="../../../../../assets/svg/origami.svg"
                  (click)="sharePost(myPosts?.id)" />
              </div>
            </div>
          </section>
          <div class="mt-5 pt-5">
            <app-medium-spinner *ngIf="spinnerPost"></app-medium-spinner>
          </div>
        </div>
      </div>
    </section>
  </main>
</section>
