<section class="my-3">
  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <strong>Proprietário e Administradores <span>({{administrators?.length + 1}})</span> </strong>
        </mat-panel-title>
        <!-- <mat-panel-description>
      </mat-panel-description> -->
      </mat-expansion-panel-header>
      <section *ngIf="owner" class="d-flex justify-content-between cursor-pointer border-project py-2 px-1">
        <div class="d-flex" routerLink="/{{handleReturnRoute(typeProfile)}}/{{owner.id}}">
          <img [src]="owner?.image_url? owner.image_url : 'assets/img/user.svg'" class="image_project"
            alt="" />
          <div class='d-flex justify-content-center align-items-center'>
            <span class="pl-2">
              <h5 class="font-weight-bold">{{owner?.name | slice: 0 : 10}}...</h5>
              <span>{{owner?.description | slice: 0 : 15}}...</span>
            </span>
          </div>
        </div>
      </section>
      <section class="d-flex justify-content-between cursor-pointer border-project py-2 px-1"
        *ngFor="let admin of administrators" routerLink="/perfil/{{admin.id}}">
        <div class="d-flex">
          <img
            [src]="admin?.image_url ? admin.image_url : 'assets/img/user.svg'"
            class="image_project" alt="" />
          <div class='d-flex justify-content-center align-items-center'>
            <span class="pl-2">
              <h5 class="font-weight-bold">{{admin?.name | slice: 0 : 10}}...</h5>
              <span>{{admin?.description | slice: 0 : 15}}...</span>
            </span>
          </div>
        </div>
        <div class="d-flex justify-content-center align-items-center">
          <img src="../../../../assets/svg/arrow-right.svg" class="seta_project" alt="">
        </div>
      </section>
      <section *ngIf="!administrators || administrators?.length === 0">
        <span>Nenhum administrador encontrado.</span>
      </section>
    </mat-expansion-panel>
  </mat-accordion>
</section>
