<div class="row">
  <div class="col-sm-12 fundo-cinza pb-3">
    <div class="row">
      <div class="col-sm-12 pt-4 pb-4 px-4 d-flex justify-content-center ">
        <button mat-raised-button class="btn-roxo" (click)="modalPost()" >Novo post</button>
      </div>
      <hr class="hr-100" />
    </div>

    <div class="row">
      <div class="col-sm-12 py-3 px-4 ">
        <p class="txt-roxo cursor-pointer" routerLink="/eventos"><strong>Meus eventos</strong></p>
        <p *ngFor="let event of myEvents" class="txt-side-size cursor-pointer txt-hover-cinza text-break text-wrap" routerLink="/evento/{{event.id}}">
          <img class="img-profile" [src]="event.image_url !== null ? event.image_url : 'assets/img/user.svg' " > {{event.name | slice : 0 : 15  }}...
        </p>
        <p *ngIf="myEvents.length === 0" class="txt-side-size">
          Você não possui nenhum evento
        </p>
        <app-partial-spinner *ngIf="isLoadingEvent" ></app-partial-spinner>
        <!-- <p class="txt-side-size"><img class="img-event" src="../../../../../assets/img/perfil-navbar.png" > {{donate}} </p>
        <p class="txt-side-size"><img class="img-event" src="../../../../../assets/img/perfil-navbar.png" > {{donate}} </p> -->
        <!-- <div class="espaco"></div> Remover -->
        <div class="row justify-content-end pr-4">
          <a class="txt-roxo-vertodos" routerLink="/eventos">Ver todos ></a>
        </div>
      </div>
      <hr class="hr-100" />
    </div>

    <div class="row">
      <div class="col-sm-12 py-3 px-4 ">

        <p class="txt-roxo cursor-pointer" routerLink="/projetos"><strong>Meus projetos</strong></p>
        <p *ngFor="let project of myProjects" class="txt-side-size cursor-pointer txt-hover-cinza text-break text-wrap" routerLink="/projeto/{{project.id}}">
          <img class="img-profile" [src]="project.image_url !== null ? project.image_url : 'assets/img/user.svg'" > {{project.name | slice : 0 : 15  }}...
        </p>
        <p *ngIf="myProjects.length === 0" class="txt-side-size">
          Você não possui nenhum projeto
        </p>
        <app-partial-spinner *ngIf="isLoadingProject"></app-partial-spinner>

        <div class="row justify-content-end pr-4">
          <a class="txt-roxo-vertodos" routerLink="/projetos">Ver todos ></a>
        </div>
      </div>
      <hr class="hr-100" />
    </div>

    <div class="row">
      <div class="col-sm-12 py-3 px-4 ">

        <p class="txt-roxo cursor-pointer" routerLink="/entidades"><strong>Minhas Entidades</strong></p>
          <p *ngFor="let organization of myOrganizations" class="txt-side-size cursor-pointer txt-hover-cinza text-break text-wrap" routerLink="/entidade/{{organization.id}}" >
            <img class="img-profile" [src]="organization.image_url !== null ? organization.image_url : 'assets/img/user.svg'" > {{organization.name | slice : 0 : 15  }}...
          </p>
          <p *ngIf="myOrganizations.length === 0" class="txt-side-size">
            Você não possui nenhuma entidade
          </p>
          <app-partial-spinner *ngIf="isLoadingOrganization"></app-partial-spinner>

          <div class="row justify-content-end pr-4">
          <a class="txt-roxo-vertodos" routerLink="/entidades">Ver todos ></a>
        </div>
      </div>
      <hr class="hr-100" />
    </div>

    <div class="row">
      <div class="col-sm-12 py-3 px-4 ">

        <p class="txt-roxo cursor-pointer" routerLink="/parcerias"><strong>Minhas Parcerias</strong></p>
        <p *ngFor="let partnership of myPartnerships" class="txt-side-size cursor-pointer txt-hover-cinza">
          <img class="img-profile" [src]="partnership?.image_url !== null ? partnership?.image_url  : 'assets/img/user.svg'" > {{partnership?.name | slice : 0 : 15  }}...
        </p>
        <p *ngIf="myPartnerships?.length === 0" class="txt-side-size">
          Você não possui parcerias
        </p>
        <app-partial-spinner *ngIf="isLoadingPartnership" ></app-partial-spinner>

        <div class="row justify-content-end pr-4">
          <a class="txt-roxo-vertodos" routerLink="/parcerias">Ver todos ></a>
        </div>
      </div>
      <hr class="hr-100" />
    </div>
  </div>
</div>
