.hr-100{
  width: 100%;
  margin-top: 2px;
  margin-bottom: 2px;
}

.img-profile{
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.txt-side-size{
  font-size: 14px;
}
p:focus {
  outline: none;
}

a.txt-roxo-vertodos{
  color: #4F0B73;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
}

a.txt-roxo-vertodos:hover{
  color: #7e33a7;
}

.txt-hover-cinza:hover{
  color: #a1a1a1;
}

.espaco{
  width:50px;
  height: 55px;
}
