<section [class]="className">
  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <strong>Carências <span>({{myShortages?.length}})</span></strong>
        </mat-panel-title>
        <!-- <mat-panel-description>
      </mat-panel-description> -->
      </mat-expansion-panel-header>
      <ul *ngFor="let shortage of myShortages">
        <!-- <span class="font-size18px">•</span> -->
        <li> {{shortage?.description}}</li>
      </ul>
      <hr *ngIf="kind_of_help" />
      <p *ngIf="kind_of_help"><strong>De que forma irá ajudar: </strong>{{kind_of_help}}</p>

      <section *ngIf="!myShortages || myShortages?.length === 0">
        <span >Não possuí carencias.</span>
      </section>
    </mat-expansion-panel>
  </mat-accordion>
</section>
