<section class="my-3">
  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <strong>Projetos <span>({{myProjects?.length}})</span> </strong>
        </mat-panel-title>
        <!-- <mat-panel-description>
      </mat-panel-description> -->
      </mat-expansion-panel-header>
      <section class="d-flex justify-content-between cursor-pointer border-project py-2 px-1"
        *ngFor="let project of myProjects" routerLink="/projeto/{{project.id}}">
        <div class="d-flex">
          <img [src]="project?.image_url" class="image_project" alt="" />
          <div class='d-flex justify-content-center align-items-center'>
            <span class="pl-2">
              <h5 class="font-weight-bold">{{project?.name}}</h5>
              <span>{{project?.description}}</span>
            </span>
          </div>
        </div>
        <div class="d-flex justify-content-center align-items-center">
          <img src="../../../../assets/svg/arrow-right.svg" class="seta_project" alt="">
        </div>
      </section>
      <section *ngIf="!myProjects || myProjects?.length === 0">
        <span >Nenhum projeto encontrado.</span>
      </section>
    </mat-expansion-panel>
  </mat-accordion>
</section>
