.img-logo {
  height: 25px;
}

.navbar {
  box-shadow: 0px 1px 9px #E7EAF0;
  padding: 8px 50px;
}

.input-pesquisar {
  width: 260px;
  height: 38px;
  padding-left: 40px;

  background: #FBFBFB 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 8px #E7EAF070;
  border: 0.30000001192092896px solid #D1D1D1;
  border-radius: 5px;
}

.icon-search {
  position: absolute;
  padding: 7px 8px;
}

.icon-material-search {
  color: #292929;
}

.img-perfil-navbar {
  width: 50px;
  height: 50px;

  object-fit: cover;

  border-radius: 50%;
}


li div,
li img {
  cursor: pointer;
  transition: .2s;
  outline: none;
}

.hover:hover,
li img:hover {
  transform: translateY(-5px);
}

.mat-badge-small.mat-badge-overlap.mat-badge-after .mat-badge-content {
  right: -24px;
}

.mat-badge-small.mat-badge-above .mat-badge-content {
  top: -12px;
}


.mat-hover:hover {
  transform: translateY(-5px);
  transition: all 0.2s;
}

.padding-span {
  padding-left: 35px;
  vertical-align: middle;
}

/* ACTIVED - Icons */
.home,
.home-active {
  display: block;

  width: 25px;
  height: 25px;
}

.home {
  background: url('../../../../assets/svg/home.svg') no-repeat;
}

.home-active {
  background: url('../../../../assets/svg/home-roxo.svg') no-repeat;
}

.my-network,
.my-network-active {
  display: block;

  width: 25px;
  height: 25px;
}

.my-network {
  background: url('../../../../assets/svg/group.svg') no-repeat;
}

.my-network-active {
  background: url('../../../../assets/svg/group-roxo.svg') no-repeat;
}

.notification,
.notification-active {
  display: block;

  width: 20px;
  height: 25px;
}

.notification {
  background: url('../../../../assets/svg/notification.svg') no-repeat;
}

.notification-active {
  background: url('../../../../assets/svg/notification-roxo.svg') no-repeat;
}

.chat,
.chat-active {
  display: block;

  width: 25px;
  height: 25px;
}

.chat {
  background: url('../../../../assets/svg/comment.svg') no-repeat;
}

.chat-active {
  background: url('../../../../assets/svg/comment-roxo.svg') no-repeat;
}

@media(max-width: 400px) {
  .navbar {
    padding: 8px 25px;
  }
}

@media(max-width: 767px) {

  .img-perfil-navbar {
    width: 110px;
    height: 110px;

    object-fit: cover;

    border-radius: 50%;
  }
}
