<nav class="navbar navbar-expand-md navbar-light bg-white">
  <a class="navbar-brand" routerLink="/global"><img class="img-logo" src="../../../../assets/svg/logo-txt.svg" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="container justify-content-center d-none d-md-flex">
    <form class="form-inline mt-2 mt-md-0">
      <div class="input-group justify-content-center">
        <div class="input-group-prepend">
          <span class="icon-search">
            <mat-icon class="icon-material-search">search</mat-icon>
          </span>
        </div>
        <input type="text" class="input-pesquisar" placeholder="Pesquisar" (keyup)="handleSearch($event.target.value)"
          (click)="gotoSearch()" />
      </div>
    </form>
  </div>
  <div class="justify-content-lg-end justify-content-md-start collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav ">
      <li class="nav-item d-flex align-items-center px-lg-3 px-md-2 py-sm-2 pl-sm-3 py-2">
        <div class="home hover" [routerLink]="'/global'" routerLinkActive="home-active">
          <span class="padding-span d-lg-none d-md-none">Home</span>
        </div>
      </li>
      <li class="nav-item d-flex align-items-center px-lg-3 px-md-2 py-sm-2 pl-sm-3 py-2">
        <div class="my-network hover" routerLink="/rede" routerLinkActive="my-network-active">
          <span class="padding-span d-lg-none d-md-none">Rede</span>
        </div>
      </li>
      <li class="nav-item d-flex align-items-center px-lg-3 px-md-2 py-sm-2 pl-sm-3 mat-hover py-2">
        <div *ngIf="!hiddenNotify" matBadge="" matBadgeColor="warn" matBadgeSize="small"
          style="position: absolute; margin-top: -5px; margin-left: 10px;">
        </div>
        <div class="notification" id="notify" routerLink="/notificacao" routerLinkActive="notification-active"
          (click)="toogleBadgeVisibility()">
          <span class="padding-span d-lg-none d-md-none">Notificações</span>
        </div>
      </li>
      <li class="nav-item d-flex align-items-center mat-hover px-lg-3 px-md-2 py-sm-2 pl-sm-3 py-2">
        <div *ngIf="!hiddenChat" matBadge="" matBadgeColor="warn" matBadgeSize="small"
          style="position: absolute; margin-top: -5px; margin-left: 10px;">
        </div>
        <div class="chat" routerLink="/chat" routerLinkActive="chat-active" (click)="toogleChatBadgeVisibility()">
          <span class="padding-span d-lg-none d-md-none">Chat</span>
        </div>
      </li>
      <li class="nav-item d-lg-none d-md-none d-flex align-items-center mat-hover px-lg-3 px-md-2 py-sm-2 pl-sm-3 py-2">
        <div class="input-group justify-content-center">
          <div class="input-group-prepend">
            <span class="icon-search">
              <mat-icon class="icon-material-search">search</mat-icon>
            </span>
          </div>
          <input type="text" class="input-pesquisar" placeholder="Pesquisar" (keyup)="handleSearch($event.target.value)"
            (click)="gotoSearch()" />
        </div>
      </li>
      <li class="nav-item d-flex justify-content-center align-items-center px-lg-3 pl-sm-1">
        <span (click)="sideNavRight.open()">
          <img *ngIf="userSession.image_url != null" [src]="userSession.image_url" class="img-perfil-navbar" />
          <img *ngIf="userSession.image_url === null" src="../../../../assets/img/user.svg"
            class="img-perfil-navbar" />
        </span>
      </li>
    </ul>

    <div class="d-lg-none d-md-none mt-2">
      <app-sidenav></app-sidenav>
    </div>
  </div>
</nav>
