<app-medium-spinner></app-medium-spinner>
<section class="row px-1 pt-4">
  <div class="col-lg-4 py-2" *ngFor="let project of projects?.data | paginate:
  { itemsPerPage: projects?.perPage, currentPage: page, totalItems: projects?.total }">
    <div class="d-flex shadow bg-white rounded cursor-pointer p-3 justify-content-between align-items-center" style="margin: 1px;" routerLink="/projeto/{{project.id}}">
      <div>
        <img *ngIf="project?.image_url"  [src]="project?.image_url" alt="imagem  de perfil" class="image-perfil-projeto">
        <img *ngIf="!project?.image_url"  src="../../../../../../../assets/img/project_rounded.png" alt="imagem  de perfil" class="image-perfil-projeto">
      </div>
      <div class="px-1">
        <h5>{{project?.name}}</h5>
        <p class="breaking">{{project?.description}}</p>
      </div>
      <div class="align-items-center">
        <img src="../../../../../../../assets/svg/arrow-right.svg" class="seta">
      </div>
    </div>
  </div>

  <section *ngIf="projects.data.length === 0" class="col-lg-4">
    <div class="d-flex shadow bg-white rounded p-3 justify-content-center align-items-center" style="margin: 1px;">
      <h6 class="m-0">Nenhum projeto encontrado em sua rede</h6>
    </div>
  </section>
</section>
<pagination-template #p="paginationApi" (pageChange)="changePage($event)">

  <div class="d-flex justify-content-end mt-5">
    <div class="pagination-previous" [class.disabled]="p.isFirstPage()">
      <img class="prev" (click)="p.previous()">
    </div>

    <div class="pagination-next" [class.disabled]="p.isLastPage()">
      <img class="next" (click)="p.next()">
    </div>
  </div>

</pagination-template>
