<section class="row">
  <section class="col-4">
    <select class="border-0 bg-white p-2 rounded shadow w-100" #pais (change)="onChangeCountry(pais.value)">
      <option selected hidden value="">Selecione um país</option>
      <option value="Brazil">Brasil</option>
    </select>
  </section>
  <section class="col-4">
    <select class="border-0 bg-white p-2 rounded shadow w-100" #estados (change)="onStateOptionSelected(estados.value)">
      <option selected hidden value="">Selecione um estado</option>
      <option *ngFor="let estado of locationState" [value]="estado.sigla">{{estado.nome}}</option>
    </select>
  </section>
  <section class="col-4">
    <select class="border-0 bg-white p-2 rounded shadow w-100" #cidade (change)="onChangeCity(cidade.value)">
      <option selected hidden value="">Selecione uma cidade</option>
      <option *ngFor="let cidade of locationCity" [value]="cidade.nome">{{cidade.nome}}</option>
    </select>
  </section>
</section>

<app-localizacao-usuarios [users]="objectLocalization?.users" [page]="userPage" (mudouPagina)="changePageUser($event)"></app-localizacao-usuarios>
<app-localizacao-eventos [events]="objectLocalization?.events" [page]="eventPage" (mudouPagina)="changePageEvent($event)"></app-localizacao-eventos>
<app-localizacao-projetos [projects]="objectLocalization?.projects" [page]="projectPage" (mudouPagina)="changePageProject($event)"></app-localizacao-projetos>
<app-localizacao-entidades [organizations]="objectLocalization?.organizations" [page]="projectPage" (mudouPagina)="changePageOrganization($event)"></app-localizacao-entidades>
