.seta {
  width: 25px;
  height: 25px;
}

.imagem-card-evento {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.title-card {
  font-size: 18px;
  font-weight: 600;
  color: #515151;
}

.type-card {
  font-size: 16px;
  font-weight: 500;
  color: #515151;
}

.description-card {
  font-size: 15px;
  font-weight: 400;
  color: #515151;
}

.sombra {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
}
