section {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background: #3922449a;
}

#modal-content {
  width: 80%;
  background: #FFF;
  height: 80%;
  overflow-y: auto;
}

.user {
  cursor: pointer;
  transition: .2s;
  border-radius: 7px;
}

.user:hover {
  background: #F1F1F1;
}

h6 {
  font-size: 14px;
  color: rgba(81, 81, 81, 1);
}

p {
  color: rgba(81, 81, 81, 1);
  font-size: 12px;
}

img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.form-control {
  border: 1px solid #ccc;
  box-shadow: 0px 5px 8px rgba(231, 234, 240, 0.44);
  border-radius: 5px;
  padding-left: 28px;
  background-image: url("../../../../assets/img/find.svg");
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: 3% 52%;
  font-size: 12px;
  outline: none;
}

.backdrop {
  height: 100%;
}

@media(min-width: 768px) {

  .backdrop {
    width: 100%;
  }

  #modal-content {
    min-width: 400px;
    width: 24.5vw;
    max-width: 470px;
  }
}
