<section class="d-flex align-items-center">
  <div class="backdrop" (click)="closeModal()"></div>

  <div id="modal-content" class="d-flex flex-column align-items-center p-4 rounded">
    <div class="text-center text-primary mb-3">
      <h5>Adicionar administradores</h5>
    </div>

    <div class="w-100 pt-1 pb-3">
      <input type="search" placeholder="Pesquisar" #pesquisar class="form-control" (keyup)="getAllUsers(pesquisar.value, 1)">
    </div>

    <div *ngFor="let user of users.data| paginate: {itemsPerPage: users.perPage, currentPage: page, totalItems: users.total}, let i = index" class="d-flex align-items-center w-100 p-3 user"
      (click)="userControl(user, i)">
      <div class="mr-2">
        <img [src]="user.image_url ? user.image_url : 'assets/img/user.svg' ">
      </div>

      <div>
        <h6>
          {{user.name}}
        </h6>
        <p class="mb-0">
          {{user?.description | slice : 0 : 30 }}...
          <!-- <span *ngIf="!user?.description">...</span> -->
        </p>
      </div>
    </div>

    <pagination-template #p="paginationApi" (pageChange)="changePage($event)">

      <div class="d-flex justify-content-end mt-5">
        <div class="pagination-previous" [class.disabled]="p.isFirstPage()">
          <img class="prev" (click)="p.previous()">
        </div>

        <div class="pagination-next" [class.disabled]="p.isLastPage()">
          <img class="next" (click)="p.next()">
        </div>
      </div>

    </pagination-template>
  </div>

  <div class="backdrop" (click)="closeModal()"></div>
</section>
