.full-width {
  width: 60%;
}

.txt-con {
  font-size: 1.5rem;
  font-weight: 200;
}

.card-form-login {
  max-width: 500px;
  width: 100%;
}

.fundo {
  min-height: 100vh;
  opacity: 1;
  background: url(../../../../../assets/img/fundo.png);
  /* background: #392244 0% 0% no-repeat padding-box; */
  /* background: linear-gradient(90deg, #560f7b 0%, #392244 100%); */
}

.btn-signIn {
  max-width: 230px;
  width: 50%;
  height: 45px;
  color: #fff;
  background: linear-gradient(269deg, #392244 0%, #560F7B 100%, #FC9970 100%);
  border-radius: 3px;
}

.btn-google,
.btn-facebook,
.btn-linkedin {
  max-width: 230px;
  width: 50%;
  height: 45px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 3px;
  cursor: pointer;
}

.btn-google {
  background: linear-gradient(90deg, #dd4b39 0%, #ff604d 100%);
}

.btn-facebook {
  background: linear-gradient(90deg, #1778f2 0%, #04a5f1 100%);
}

.btn-linkedin {
  background: linear-gradient(90deg, #0b66c3 0%, #1f7cdb 100%);
}

.cursor-pointer {
  cursor: pointer;
}

.link-a {
  font-weight: 700;
  cursor: pointer;
  font-size: 16px;
}

.link-a:hover{
  color: #9848bf;
}

@media(min-width: 575px) {

  .btn-google,
  .btn-facebook {
    width: 60px;
    height: 60px;

    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
