<section class="fundo d-flex align-items-center">
  <section class="container h-100">
    <section class="h-100 row justify-content-center align-items-center">

      <div class="d-flex flex-column text-center">
        <p class="text-white txt-con">Conectando um mundo melhor.</p>

        <div class="d-flex w-100 justify-content-center px-2">
          <div class="card-form-login bg-white mx-2 shadow py-5 px-1 rounded">
            <form class="w-100" [formGroup]="formulario" (ngSubmit)="onSubmit()">

              <div class="row">
                <div class="col-lg-12 d-flex justify-content-center">
                  <img class="img-fluid" src="../../../../../assets/img/logo/logo.png" alt="logo" />
                </div>

                <div class="col-lg-12 d-flex justify-content-center mt-4">
                  <mat-form-field class="full-width">
                    <mat-label>E-mail: </mat-label>
                    <input matInput type="text" name="email" formControlName="email" placeholder="email@email.com"
                      [ngClass]="{
                          'is-invalid':
                            formulario.get('email').touched &&
                            formulario.get('email').invalid
                        }" />
                    <mat-error class="invalid-feedback"> Digite corretamente o E-mail</mat-error>
                  </mat-form-field>
                </div>

                <div class="col-lg-12 d-flex justify-content-center">
                  <mat-form-field class="full-width">
                    <mat-label>Senha: </mat-label>
                    <input matInput type="password" name="password" formControlName="password" placeholder="******"
                      [ngClass]="{
                        'is-invalid':
                          formulario.get('password').touched &&
                          formulario.get('password').invalid
                      }" />
                    <mat-error class="invalid-feedback"> Este campo é requerido</mat-error>
                  </mat-form-field>
                </div>

                <div class="col-lg-12 d-flex justify-content-center">
                  <div class="col d-flex justify-content-center"></div>
                  <div class="col d-flex justify-content-start">
                    <a class="txt-gr-roxo small" routerLink="/esqueci">Esqueci minha senha</a>
                  </div>
                </div>

                <div class="col-lg-12 d-flex justify-content-center mt-4">
                  <button mat-raised-button type="submit" class="btn-signIn"> Entrar </button>
                </div>

                <!-- <div class="col-lg-12 d-flex justify-content-center mt-3">
                  <div class="col">
                    <hr />
                  </div>
                  <div class="col d-flex justify-content-center align-items-center"><span class="small">OU CONTINUE
                      COM</span></div>
                  <div class="col">
                    <hr />
                  </div>
                </div>

                <div class="col-lg-12 d-flex justify-content-center">
                  <div class="w-100 row mt-3">
                    <div class="col-12 col-sm-6 d-flex justify-content-sm-end justify-content-center">
                      <a mat-raised-button class="btn-facebook my-sm-0 my-1" (click)="signInWithFB()">
                        <div class="d-flex flex-row justify-content-around">
                          <img class="svg-icon px-2" src="../../../../../assets/svg/facebook.svg" />
                          <span class="px-1 d-sm-none d-block" style="color: #fff;">Facebook</span>
                        </div>
                      </a>
                    </div>
                    <div class="col-12 col-sm-6 d-flex justify-content-sm-start justify-content-center">
                      <a mat-raised-button class="btn-google my-sm-0 my-1" (click)="signInWithGoogle()">
                        <div class="d-flex flex-row justify-content-around">
                          <img class="svg-icon px-2" src="../../../../../assets/svg/google.svg" />
                          <span class="px-1 d-sm-none d-block" style="color: #fff;">Google</span>
                        </div>
                      </a>
                    </div>
                    <!-- <div class="col-sm-4 d-flex justify-content-center">
                      <a class="btn-linkedin text-center">
                        <img src="../../../../../assets/svg/linkedin.svg" />
                      </a>
                    </div>
                  </div>
                </div> -->

                <div class="col-lg-12 d-flex justify-content-center mt-3">
                  <span> Novo por aqui?
                    <span class="txt-gr-roxo link-a" routerLink="/cadastrar">
                      Crie sua conta agora.
                    </span>
                  </span>
                </div>

              </div>
            </form>
          </div>
        </div>
        <p class="text-white font-400 mt-3 cursor-pointer" (click)="openModalAbout()">Sobre o sparkeep</p>

      </div>

      <!--
        <div>
          {{userSession?.token}}
        </div> -->

      <!-- <div class="row justify-content-center mt-3">
          <button class="btn btn-danger btn-block" (click)="signOut()">Sair</button>
        </div> -->

      <!--
        <div>
          {{userSocial | json}}
        </div>

        <div class="row justify-content-center mt-3" *ngIf="userSocial?.provider === 'GOOGLE'" >
          <p class="text-black small"><img src="{{userSocial?.photoUrl}}" alt="foto"></p>
          <p class="text-black small">{{userSocial?.email}}</p>
          <p class="text-black small">{{userSocial?.firstName}}</p>
          <p class="text-black small">{{userSocial?.lastName}}</p>
        </div>

        <div class="row justify-content-center mt-3" *ngIf="userSocial?.provider === 'FACEBOOK'">
          <p class="text-black small"><img src="{{userSocial?.photoUrl}}" alt="foto"></p>
          <p class="text-black small">{{userSocial?.email}}</p>
          <p class="text-black small">{{userSocial?.firstName}}</p>
          <p class="text-black small">{{userSocial?.lastName}}</p>
        </div>  -->

    </section>
  </section>
</section>
<app-full-spinner></app-full-spinner>
