<div class="col-md-12 col-lg-12" *ngIf="projectPartners?.data.length == 0">
  <div class="d-flex pl-2">
    <p>Nenhum projeto encontrado!</p>
  </div>
</div>

<div class="d-flex flex-column w-100">
  <div class="d-flex rounded cursor-pointer mouse-hover p-2 my-2" *ngFor="let partner of projectPartners?.data" (click)="onClickProject(partner)">
    <img [src]="partner.image_url ? partner.image_url : 'assets/img/user.svg' " class="img-profile">
    <div class="pl-2">
      <p class="person-name m-0">{{ partner?.name | slice: 0:15 }}</p>
      <span class="msg mt-1">{{ partner?.description | slice: 0:15 }}</span>
    </div>
    <div class="d-flex flex-grow-1 justify-content-end align-items-center">
      <img src="assets/svg/arrow-right.svg" class="seta">
    </div>
  </div>
</div>
