<mat-toolbar class="row fundo-roxo-claro">
  <div class="container-fluid">
    <div class="d-flex">
      <span class="txt-roxo txt-toolbar-title"><strong>{{
          editMode ? "Editar evento" : "Criar evento"
        }}</strong></span>
    </div>
  </div>
</mat-toolbar>

<form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
  <main class="container-fluid py-2">
    <section class="row pt-3">
      <section class="col-lg-8">
        <p class="pl-3">
          <strong>Proprietário:</strong>
        </p>

        <div class="row mx-2 pb-2">
          <!-- Select usuário -->
          <div *ngIf="!editMode" class="col-sm-12 shadow bg-white p-3 rounded">
            <img [src]="imgSelectedSender" alt="Imagem do usuário" class="img-perfil-cover" />
            <select class="select-user pl-1" formControlName="owner" #selectOwner
              (change)="handleProfileEvent(selectOwner.value)">
              <!-- TODO: Buscar todas organizações do usuário-->
              <option value="" hidden selected disabled>
                Selecione um perfil
              </option>
              <option value="user_{{ userSession.id }}">
                {{ userSession?.name }}
              </option>
              <option *ngFor="let project of myProjects" value="project_{{ project.id }}">
                {{ project.name }}
              </option>
              <option *ngFor="let organization of myOrganizations" value="organization_{{ organization.id }}">
                {{ organization.name }}
              </option>
            </select>
            <div *ngIf="
                (eventForm.get('owner').touched &&
                  eventForm.get('owner').invalid) ||
                (eventForm.get('owner').invalid && isSubmited)
              ">
              <span class="small text-danger" *ngIf="eventForm.get('owner').errors.required">
                Escolha um perfil, é obrigatório.
              </span>
            </div>
          </div>

          <div *ngIf="editMode" class="col-sm-12 shadow bg-white p-3 rounded">
            <img [src]="imgSelectedSender" alt="Imagem do usuário" class="img-perfil-cover" />
            <span class="pl-2">{{ owner }}</span>
          </div>
        </div>

        <div class="row mx-2 py-2">
          <div class="col-sm-12 px-0 bg-c-cinza">
            <!-- Campo Imagem -->
            <input type="file" id="fileEvent" class="inputfile" (change)="envioImgEvent($event)" />
            <label for="fileEvent">
              <img [src]="imgUrlFormEvent" [class.img-event-complete]="
                  imgUrlFormEvent !== 'assets/svg/camera_alt.svg'
                " />
            </label>
          </div>

          <div class="col-sm-12 shadow bg-white rounded p-3">
            <!-- Campo Formulários -->
            <div class="row px-lg-5 px-md-3 px-sm-0">
              <div class="col-sm-12">
                <input type="text" placeholder="Nome do evento" name="name" formControlName="name"
                  class="input-event input-input-event my-2" tabindex="1" />
                <div *ngIf="
                    (eventForm.get('name').touched &&
                      eventForm.get('name').invalid) ||
                    (eventForm.get('name').invalid && isSubmited)
                  ">
                  <span class="small text-danger" *ngIf="eventForm.get('name').errors.required">
                    Nome é obrigatório.
                  </span>
                </div>
                <textarea name="description" placeholder="Descrição" formControlName="description"
                  class="input-event input-textarea-event my-2" tabindex="2"></textarea>
                <div *ngIf="
                    (eventForm.get('description').touched &&
                      eventForm.get('description').invalid) ||
                    (eventForm.get('description').invalid && isSubmited)
                  " class="mb-3">
                  <span class="small text-danger pos-abs-input" *ngIf="eventForm.get('description').errors.required">
                    Descrição é obrigatório.
                  </span>
                  <span class="small text-danger" *ngIf="eventForm.get('description').errors.minlength">
                    Mínimo de 3 digítos para a descrição.
                  </span>
                  <span class="small text-danger" *ngIf="eventForm.get('description').errors.maxlength">
                    Máximo de 255 digítos para a descrição.
                  </span>
                </div>
              </div>
            </div>

            <div class="row px-lg-5 px-md-3 px-sm-0">
              <div class="col-sm-6">
                <input type="date" name="date" formControlName="date" class="input-event input-input-event my-2"
                  tabindex="3" />
                <div *ngIf="
                    (eventForm.get('date').touched &&
                      eventForm.get('date').invalid) ||
                    (eventForm.get('date').invalid && isSubmited)
                  ">
                  <span class="small text-danger" *ngIf="eventForm.get('date').errors.required">
                    Data é obrigatório.
                  </span>
                </div>
              </div>
              <div class="col-sm-6">
                <input type="time" name="start_time" formControlName="start_time"
                  class="input-event input-input-event my-2" tabindex="4" />
                <div *ngIf="
                    (eventForm.get('start_time').touched &&
                      eventForm.get('start_time').invalid) ||
                    (eventForm.get('start_time').invalid && isSubmited)
                  ">
                  <span class="small text-danger" *ngIf="eventForm.get('start_time').errors.required">
                    Horário de início é obrigatório.
                  </span>
                </div>
              </div>
              <div class="col-sm-6">
                <input type="text" name="local" placeholder="Local" formControlName="local"
                  class="input-event input-input-event my-2" tabindex="5" />
                <!-- <div *ngIf="
                    eventForm.get('local').touched &&
                    eventForm.get('local').invalid || eventForm.get('local').invalid &&
                    isSubmited
                  ">
                  <span class="small text-danger" *ngIf="eventForm.get('local').errors.required">
                    Local é obrigatório.
                  </span>
                </div> -->
              </div>
              <div class="col-sm-6">
                <select name="address_country" formControlName="address_country"
                  class="input-event input-input-event my-2" tabindex="6">
                  <option value="" selected disabled hidden>País</option>
                  <option value="Brazil">Brasil</option>
                </select>
                <div *ngIf="
                    (eventForm.get('address_country').touched &&
                      eventForm.get('address_country').invalid) ||
                    (eventForm.get('address_country').invalid && isSubmited)
                  ">
                  <span class="small text-danger" *ngIf="eventForm.get('address_country').errors.required">
                    Selecione o pais, é obrigatório.
                  </span>
                </div>
              </div>
              <div class="col-sm-6">
                <select name="address_state" formControlName="address_state" class="input-event input-input-event my-2"
                  tabindex="7" #estados (change)="onStateOptionSelected(estados.value)">
                  <option value="" selected disabled hidden>Estado</option>
                  <option *ngFor="let estado of locationState" [value]="estado.sigla">
                    {{ estado.nome }}
                  </option>
                </select>
                <div *ngIf="
                    (eventForm.get('address_state').touched &&
                      eventForm.get('address_state').invalid) ||
                    (eventForm.get('address_state').invalid && isSubmited)
                  ">
                  <span class="small text-danger" *ngIf="eventForm.get('address_state').errors.required">
                    Selecione um estado, é obrigatório.
                  </span>
                </div>
              </div>
              <div class="col-sm-6">
                <select name="address_city" formControlName="address_city" class="input-event input-input-event my-2"
                  tabindex="8">
                  <option value="" selected disabled hidden>Cidade</option>
                  <option *ngFor="let cidade of locationCity" [value]="cidade.nome">
                    {{ cidade.nome }}
                  </option>
                </select>
                <div *ngIf="
                    (eventForm.get('address_city').touched &&
                      eventForm.get('address_city').invalid) ||
                    (eventForm.get('address_city').invalid && isSubmited)
                  ">
                  <span class="small text-danger" *ngIf="eventForm.get('address_city').errors.required">
                    Selecione a cidade, é obrigatório.
                  </span>
                </div>
              </div>
              <div class="col-sm-6">
                <input name="address_neighborhood" type="text" formControlName="address_neighborhood"
                  class="input-event input-input-event my-2" placeholder="Bairro" tabindex="9" />
                <div *ngIf="
                    (eventForm.get('address_neighborhood').touched &&
                      eventForm.get('address_neighborhood').invalid) ||
                    (eventForm.get('address_neighborhood').invalid &&
                      isSubmited)
                  ">
                  <span class="small text-danger" *ngIf="
                      eventForm.get('address_neighborhood').errors.required
                    ">
                    Bairro é obrigatório.
                  </span>
                </div>
              </div>
              <div class="col-sm-6">
                <input type="text" name="address_street" formControlName="address_street" placeholder="Rua"
                  class="input-event input-input-event my-2" tabindex="10" />
                <div *ngIf="
                    (eventForm.get('address_street').touched &&
                      eventForm.get('address_street').invalid) ||
                    (eventForm.get('address_street').invalid && isSubmited)
                  ">
                  <span class="small text-danger" *ngIf="eventForm.get('address_street').errors.required">
                    Informe a rua.
                  </span>
                </div>
              </div>
              <div class="col-sm-6">
                <input type="text" name="address_complement" formControlName="address_complement"
                  placeholder="Complemento" class="input-event input-input-event my-2" tabindex="11" />
                <div *ngIf="
                    (eventForm.get('address_complement').touched &&
                      eventForm.get('address_complement').invalid) ||
                    (eventForm.get('address_complement').invalid && isSubmited)
                  ">
                  <span class="small text-danger" *ngIf="eventForm.get('address_complement').errors.required">
                    Complemento é obrigatório.
                  </span>
                </div>
              </div>
              <div class="col-sm-6">
                <input type="text" name="address_number" formControlName="address_number" placeholder="Número"
                  class="input-event input-input-event my-2" tabindex="12" />
                <div *ngIf="
                    (eventForm.get('address_number').touched &&
                      eventForm.get('address_number').invalid) ||
                    (eventForm.get('address_number').invalid && isSubmited)
                  ">
                  <span class="small text-danger" *ngIf="eventForm.get('address_number').errors.required">
                    Informe o número do local.
                  </span>
                </div>
              </div>
              <div class="col-sm-6">
                <input type="text" name="cellphone" formControlName="cellphone" placeholder="Celular" ngxPhoneMaskBr
                  class="input-event input-input-event my-2" tabindex="13" (change)="checkAndSetValidation()" />
                <span>
                  <label for="exibirTelefone" class="checkbox-button" tabindex="14">
                    <input type="checkbox" id="exibirTelefone" name="show_cellphone" formControlName="show_cellphone"
                      class="my-2" />
                    <span></span> Exibir Celular</label>
                </span>
                <div *ngIf="
                    (eventForm.get('cellphone').touched &&
                      eventForm.get('cellphone').invalid) ||
                    (eventForm.get('cellphone').invalid && isSubmited)
                  ">
                  <span class="small text-danger" *ngIf="eventForm.get('cellphone').errors.required">
                    Celular é obrigatório.
                  </span>
                </div>
              </div>

              <div class="col-sm-6">
                <input type="text" class="input-event input-input-event my-2" ngxPhoneMaskBr name="telephone"
                  formControlName="telephone" placeholder="Telefone" (change)="checkAndSetValidation()" />
                <span>
                  <label for="exibirCelular" class="checkbox-button" tabindex="11">
                    <input type="checkbox" id="exibirCelular" name="show_cellphone" formControlName="show_telephone"
                      class="my-2" />
                    <span></span> Exibir Telefone</label>
                </span>
                <div *ngIf="
                    (eventForm.get('telephone').touched &&
                      eventForm.get('telephone').invalid) ||
                    (eventForm.get('telephone').invalid && isSubmited)
                  ">
                  <span class="small text-danger" *ngIf="eventForm.get('telephone').errors.required">
                    Telefone é obrigatório.
                  </span>
                </div>
              </div>

              <div class="col-sm-6">
                <input type="text" name="email" formControlName="email" placeholder="E-mail"
                  class="input-event input-input-event my-2" tabindex="15" (change)="checkAndSetValidation()" />
                <div *ngIf="
                    (eventForm.get('email').touched &&
                      eventForm.get('email').invalid) ||
                    (eventForm.get('email').invalid && isSubmited)
                  ">
                  <span class="small text-danger" *ngIf="eventForm.get('email').errors.required">
                    E-mail é obrigatório.
                  </span>
                  <span class="small text-danger" *ngIf="eventForm.get('email').errors.email">
                    Insira um e-mail válido, Ex.: email@email.com
                  </span>
                </div>
              </div>

              <section class="col-sm-12 mt-2">
                <h6>Redes sociais(URL)</h6>
              </section>
              <div class="col-sm-6 my-2">
                <input type="text" class="input-event input-input-event" name="youtube" formControlName="youtube"
                  tabindex="16" placeholder="Youtube" data-toggle="tooltip" data-placement="top"
                  title="Insira o seu canal do Youtube. Ex.: youtube.com/c/NomeDoSeuCanal" />
              </div>
              <div class="col-sm-6 my-2">
                <input type="text" class="input-event input-input-event" name="facebook" formControlName="facebook"
                  tabindex="17" placeholder="Facebook" data-toggle="tooltip" data-placement="top"
                  title="Insira o seu perfil do Facebook. Ex.: facebook.com/SeuLinkDoPerfil/" />
              </div>
              <div class="col-sm-6 my-2">
                <input type="text" class="input-event input-input-event" name="instagram" formControlName="instagram"
                  tabindex="18" placeholder="Instagram" data-toggle="tooltip" data-placement="top"
                  title="Insira o seu perfil do Instagram. Ex.: instagram.com/SeuNomeDeUsuario" />
              </div>
              <div class="col-sm-6 my-2">
                <input type="text" class="input-event input-input-event" name="twitter" formControlName="twitter"
                  tabindex="19" placeholder="Twitter" data-toggle="tooltip" data-placement="top"
                  title="Insira o seu perfil do Twitter. Ex.: twitter.com/NomeDeUsuario" />
              </div>
              <div class="col-sm-6 my-2">
                <input type="text" class="input-event input-input-event" name="site" formControlName="site"
                  tabindex="20" placeholder="Site" data-toggle="tooltip" data-placement="top"
                  title="Insira o link do seu site" />
              </div>
              <!-- <div class="col-sm-6 my-2" *ngIf="this.editMode">
                <button mat-raised-button type="button" class="btn-roxo-claro-1" (click)="deleteEvent()">
                  Excluir
                </button>
              </div> -->
            </div>
          </div>

          <div class="col-sm-12 shadow bg-white rounded p-3 my-4">
            <!-- Administradores -->

            <div *ngFor="let administrator of administrators; let i = index"
              class="d-flex align-items-center my-2 p-2 administrator-list">
              <img [src]="
                  administrator?.image_url
                    ? administrator?.image_url
                    : 'assets/img/user.svg'
                " class="mr-2 profile_thumbnail" />
              <h6 class="mb-0 d-flex justify-content-between w-100">
                {{ administrator.name }}
                <span class="delete-icon-x" (click)="deleteAdministrator(i)">
                  &times;
                </span>
              </h6>
            </div>
            <div (click)="toggleModal()" class="hover-gray px-2">
              <h5 class="d-flex align-items-center mb-0 cursor-pointer">
                <span class="text-primary font-size28px">+&nbsp;</span>
                Adicionar administradores
              </h5>
            </div>
          </div>

          <div class="col-sm-12 px-0">
            <!-- Botões Criar e cancelar -->
            <button mat-raised-button type="submit" class="btn-roxo mr-sm-0 mr-md-2 mr-lg-2 my-3">
              {{ editMode ? "Salvar evento" : "Criar evento" }}
            </button>
            <button mat-raised-button routerLink="/eventos" class="btn-roxo-claro mr-sm-0 mr-md-2 mr-lg-2 my-3">
              Cancelar
            </button>
          </div>
        </div>
      </section>

      <section class="col-lg-4">
        <section class="row">
          <section class="col-sm-12">
            <!-- Frequencia -->
            <div class="shadow bg-white rounded p-3">
              <div class="col-sm-12">
                <h6>Frequência do evento:</h6>
                <div class="radio-group">
                  <label class="w-100 radio-button" for="Diário"><input type="radio" name="frequency"
                      formControlName="frequency" id="Diário" value="1" />
                    Diário<span></span></label>
                  <label class="w-100 radio-button" for="Uma vez por semana"><input type="radio" name="frequency"
                      formControlName="frequency" id="Uma vez por semana" value="2" />
                    Uma vez por semana<span></span></label>
                  <label class="w-100 radio-button" for="De 15 a 15 dias"><input type="radio" name="frequency"
                      formControlName="frequency" id="De 15 a 15 dias" value="3" />
                    De 15 a 15 dias <span></span></label>
                  <label class="w-100 radio-button" for="Uma vez por mês"><input type="radio" name="frequency"
                      formControlName="frequency" id="Uma vez por mês" value="4" />
                    Uma vez por mês <span></span></label>
                  <label class="w-100 radio-button" for="Uma vez por ano"><input type="radio" name="frequency"
                      formControlName="frequency" id="Uma vez por ano" value="5" />
                    Uma vez por ano <span></span></label>
                  <label class="w-100 radio-button" for="Uma única vez"><input type="radio" name="frequency"
                      formControlName="frequency" id="Uma única vez" value="6" />
                    Uma única vez <span></span></label>
                </div>

                <!-- <textarea class="input-event input-textarea-event"></textarea> -->
              </div>
            </div>
            <div *ngIf="
                (eventForm.get('frequency').invalid &&
                  (eventForm.get('frequency').touched ||
                    eventForm.get('frequency').dirty)) ||
                (eventForm.get('frequency').invalid && isSubmited)
              ">
              <span class="small text-danger" *ngIf="eventForm.get('frequency').errors.required">
                Selecione uma das opções acima.
              </span>
            </div>
          </section>

          <section class="col-sm-12">
            <!-- Passions -->
            <app-passions-form [projectForm]="eventForm.value" (passionsEmit)="onPassionChange($event)">
            </app-passions-form>
            <div *ngIf="
                (eventForm.get('passions').touched &&
                  eventForm.get('passions').invalid) ||
                (eventForm.get('passions').invalid && isSubmited)
              ">
              <span class="small text-danger" *ngIf="eventForm.get('passions').errors.required">
                Selecione ao menos uma das opções acima.
              </span>
            </div>
          </section>

          <section class="col-sm-12">
            <div [formGroup]="eventForm" class="mt-3 shadow bg-white rounded p-3 d-flex align-content-center">
              <label class="checkbox-button my-2 ml-2">
                <input type="checkbox" #hasShortages formControlName="has_shortages"
                  (change)="handleHasShortages(hasShortages.checked)" />
                Tem carências
                <span></span>
              </label>
            </div>
          </section>

          <section class="col-sm-12" *ngIf="this.eventForm.get('has_shortages').value">
            <!-- Shortages -->
            <app-shortages-form [projectForm]="eventForm?.value" (shortagesEmit)="onShortageChange($event)"
              (maintenanceTimeEmit)="onMaintenanceTimeChange($event)" (kindOfHelpEmit)="onKindOfHelpChange($event)">
            </app-shortages-form>
            <div *ngIf="
                (eventForm.get('shortages').invalid &&
                  (eventForm.get('shortages').touched ||
                    eventForm.get('shortages').dirty)) ||
                (eventForm.get('shortages').invalid && isSubmited)
              ">
              <span class="small text-danger" *ngIf="eventForm.get('shortages').errors.required">
                Selecione uma das opções acima.
              </span>
            </div>
          </section>
        </section>
      </section>
    </section>
  </main>
</form>

<!-- CHAMAR A MODAL -->
<app-add-administrators class="d-none" [administrators]="administrators"
  (administratorsEmit)="administratorsControl($event)" (closeModalEmit)="toggleModal()"></app-add-administrators>
