mat-expansion-panel-header{
  height: 60px !important;
}

.image_passion{
  width: 50px;
  height: 50px;
}

.passion_name{
  font-weight: 600;
  padding-left: 10px;
}

.border-1{
  border-bottom: 1px solid #5151511c;
}
