<section class="mb-3">
  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <strong>Paixões <span>({{myPassions?.length}})</span> </strong>
        </mat-panel-title>
        <!-- <mat-panel-description>
      </mat-panel-description> -->
      </mat-expansion-panel-header>
      <section class="d-flex py-1 border-1" *ngFor="let passion of myPassions" > <!-- *ngFor="let item of collection" -->
        <div>
          <img *ngIf="passion?.name == 'Filantropia e Assistência Social'"  src="assets/svg/passions/assistencia_social.svg" class="image_passion">
          <img *ngIf="passion?.name == 'Economia Social'"  src="assets/svg/passions/economia_social.svg" class="image_passion">
          <img *ngIf="passion?.name == 'Motivação'"  src="assets/svg/passions/motivacao.svg" class="image_passion">
          <img *ngIf="passion?.name == 'Cultura'"  src="assets/svg/passions/cultura.svg" class="image_passion">
          <img *ngIf="passion?.name == 'Direito dos Animais'"  src="assets/svg/passions/direitos_dos_animais.svg" class="image_passion">
          <img *ngIf="passion?.name == 'Direitos Humanos'"  src="assets/svg/passions/direitos_humanos.svg" class="image_passion">
          <img *ngIf="passion?.name == 'Esporte e Lazer'"  src="assets/svg/passions/esporte.svg" class="image_passion">
          <img *ngIf="passion?.name == 'Meio Ambiente'"  src="assets/svg/passions/meio_ambiente.svg" class="image_passion">
          <img *ngIf="passion?.name == 'Saúde'"  src="assets/svg/passions/saude.svg" class="image_passion">
          <img *ngIf="passion?.name == 'Espiritualidade'"  src="assets/svg/passions/espiritualidade.svg" class="image_passion">
          <img *ngIf="passion?.name == 'Pesquisa e Educação'"  src="assets/svg/passions/pesquisa_e_educacao.svg" alt="Ícone de pesquisa e educação" class="image_passion">
          <img *ngIf="passion?.name == 'Política'"  src="assets/svg/passions/politica.svg" alt="Ícone de política" class="image_passion">
        </div>
        <div class="d-flex align-items-center">
          <span class="passion_name">{{passion?.name}}</span>
        </div>
      </section>
      <section *ngIf="myPassions === null || myPassions?.length == 0" >
        <div class="d-flex align-items-center">
          <span>Nenhuma paixão encontrada.</span>
        </div>
      </section>

    </mat-expansion-panel>
  </mat-accordion>
</section>
