<div class="container-fluid mb-5">
  <div class="title px-0">
    <span>Chat de parcerias</span>
  </div>
  <div class="row">
    <div class="col-md-5 col-lg-4 py-4 chat-aside w-100">
      <div class="row justify-content-center px-4">
        <form class="form-inline mt-2 mt-md-0 w-100 mx-3">
          <label class="input-group-search">
            <mat-icon class="icon-material-search">search</mat-icon>
            <input type="search" class="input-search" placeholder="Pesquisar no chat"
              (keyup)="handleSearch($event.target.value)" />
          </label>
        </form>
      </div>
      <div class="chat-partners ">
        <div class="w-100 px-4">
          <div class="d-flex flex-wrap justify-content-center align-items-center border-bottom-gray">
            <input id="typeSend" type="checkbox" class="tabInput" name="typeSendReceived">
            <div class="tabButton pb-2 px-2 mb-2 mx-auto text-center" [class.active-menu-tab]="typeMenu === 'Send'"
              (click)="typeMenu = 'Send'; handleTypeMenu(typeMenu)">
              Recebidos
            </div>
            <!-- <input id="typeReceived" type="radio" class="tabInput" name="typeSendReceived" value="received" [(ngModel)]="typeMenu" > -->
            <div class="tabButton pb-2 px-2 mb-2 mx-auto text-center" for="typeReceived"
              [class.active-menu-tab]="typeMenu === 'Received'"
              (click)="typeMenu = 'Received';  handleTypeMenu(typeMenu)">
              Enviados
            </div>
          </div>

          <div class="d-flex flex-wrap justify-content-around align-items-center pb-2 ">
            <a class="txt-submenu text-nowrap" (click)="profileMenu = 'user'"
              [class.active-submenu]="profileMenu === 'user'">Usuários</a>
            <a class="txt-submenu text-nowrap" (click)="profileMenu = 'event'"
              [class.active-submenu]="profileMenu === 'event'">Evento</a>
            <a class="txt-submenu text-nowrap" (click)="profileMenu = 'project'"
              [class.active-submenu]="profileMenu === 'project'">Projetos</a>
            <a class="txt-submenu text-nowrap" (click)="profileMenu = 'organization'"
              [class.active-submenu]="profileMenu === 'organization'">Entidades</a>
          </div>
        </div>

        <div class="w-100 pl-4 scroll-area-chat" (scroll)="onChatScroll($event)"> <!-- (scroll)="onChatScroll($event)" -->
          <app-medium-spinner *ngIf="isLoading"></app-medium-spinner>
          <app-chat-users *ngIf="profileMenu === 'user'" [usersPartners]="partner?.usersPartners" [page]="userPage"
            (mudouPagina)="changePageUser($event)" (receiverMessage)="receiverMessageUser($event)"></app-chat-users>

          <app-chat-events *ngIf="profileMenu === 'event'" [eventPartners]="partner?.eventPartners" [page]="eventPage"
            (pageChange)="changePageEvent($event)" (receiverMessage)="receiverMessageProject($event)"></app-chat-events>

          <app-chat-projects *ngIf="profileMenu === 'project'" [projectPartners]="partner?.projectPartners"
            [page]="projectPage" (pageChange)="changePageProject($event)"
            (receiverMessage)="receiverMessageProject($event)">
          </app-chat-projects>

          <app-chat-organizations *ngIf="profileMenu === 'organization'"
            [organizationPartners]="partner?.organizationPartners" [page]="organizationPage"
            (pageChange)="changePageOrganization($event)" (receiverMessage)="receiverMessageOrganization($event)">
          </app-chat-organizations>
        </div>
      </div>
    </div>
    <!-- MESSAGE -->
    <div class="col-md-7 col-lg-8">
      <app-chat-message [object]="objectReceiver" [shortages]="shortages" [maintenance_times]="maintenance_times"
        [typeMessage]="typeMenu"></app-chat-message>
    </div>
  </div>
</div>

<!--MODAL-->
