.title {
  padding: 15px 0;
  background-color: RGB(252, 247, 254);
  margin: 0 0 10px 0;
}

.title span {
  color: #4F0B73;
  font-size: 24px;
  font-family: Poppins;
  font-weight: bold;
}

.chat-aside {
  box-shadow: 0px 3px 9px #E7EAF0;
  border-radius: 3px 0px 0px 3px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  /* overflow: auto; */
}

.input-search {
  width: 100%;
  height: 38px;
  padding-left: 5px;

  background: transparent;
  border: none;
  outline: none;
}

.input-group-search {
  width: 100%;
  height: 38px;

  display: flex;
  align-items: center;

  padding-left: 5px;

  border: 0.30000001192092896px solid #D1D1D1;
  border-radius: 5px;
  box-shadow: 0px 2px 8px #E7EAF070;
}

.icon-search {
  position: absolute;
  padding: 7px 8px;
}

.icon-material-search {
  color: #292929;
}

.chat-partners {
  margin-top: 20px;
  height: 650px;
}

.partner-title {
  color: #4F0B73;
  font-size: 15px;
  font-family: Poppins;
  font-weight: bold;
  padding-top: 10px;
}

.persons {
  display: flex;
  margin-bottom: 25px;
  padding-bottom: 15px;
  border-bottom: 0.1px solid #D1D1D1;
  cursor: pointer;
}

.entities {
  display: flex;
  margin-bottom: 25px;
  padding-bottom: 15px;
  border-bottom: 0.1px solid #D1D1D1;
}

.entities:last-child {
  border-bottom: none;
}

.person-img {
  height: 54px;
  width: 54px;
  border-radius: 50%;
}

.person-info {
  margin: 5px 0px 0px 15px;
  height: 60px;
  width: 100%;
}

.person-name {
  color: #515151;
  font-size: 16px;
  word-wrap: break-word;
}

.msg {
  color: #515151;
  font-size: 12px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  width: 100%;
}

.seta {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  height: 30px;
}

.seta img {
  width: 14px;
  height: 19px;
  cursor: pointer;
}

.chat-data {
  width: 90%;
  height: 580px;
  margin-top: 15px;
  margin-left: 0px;
}


.user {
  display: flex;
  flex-direction: row;
  margin-top: 0px;
  align-items: center;
}

.chat-img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 100%;
}

.chat-name {
  font-size: 20px;
  color: #515151;
  font-weight: 600;
  margin-left: 10px;
}


.received {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: #8B8B8B;
  font-size: 12px;
  margin-left: 5px;
}

.message-box {
  width: 340px;
  max-width: 480px;
  max-height: 480px;
  background-color: #E9E9E9;
  margin-left: 40px;
  margin-top: 40px;
  padding: 10px;
}

.message-box .message-content h6 {
  font-size: 13px;
  color: #4D4D4D;
  font-weight: 600;
  margin-top: 20px;
}

.message-box .message-content span {
  font-size: 13px;
  color: #4D4D4D;
  word-wrap: break-word;
}

.message-box .message-content .received span {
  text-align: right;
}

.btn-group {
  bottom: 0;
  position: absolute;

  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #FFFFFF 0% 0% no-repeat padding-box;

  box-shadow: 0px -5px 9px #D2D2D263;
  margin: 0;
}


.btn-vermelho {
  background: linear-gradient(269deg, #FB0101 0%, #FF3B3B 100%, #FC9970 100%);
  color: white;

  height: 45px;

  border-radius: 3px;
}

.btn-vermelho,
.btn-roxo {
  width: 50%;
}

.show-msg {
  color: #4F0B73;
  font-size: 24px;
  font-family: Poppins;
  font-weight: bold;
}

.prev {
  content: url('../../../../assets/svg/chevron-left.svg');
}

.prev:hover {
  content: url('../../../../assets/svg/chevron-left-hover.svg');
}

.next {
  content: url('../../../../assets/svg/chevron-right.svg');
}

.next:hover {
  content: url('../../../../assets/svg/chevron-right-hover.svg');
}

pagination-template img {
  cursor: pointer;
}

.border-menu-chat {
  border-bottom: 2px #4F0B73 solid;
  margin-bottom: 15px;
}

.tabInput {
  all: unset;
}

.tabButton {
  font-weight: 500;
  color: #515151;

  padding: 8px 28px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  border-radius: 3px;
  transition: all 0.5s ease-in-out;
}

.tabButton:hover {
  color: #8450a0;
}

.border-bottom-gray {
  border-bottom: 1px #c0c0c070 solid;
  opacity: 1;
  margin-bottom: 10px;
}

.active-menu-tab {
  color: #fff;
  background: transparent linear-gradient(269deg, #392244 0%, #560F7B 100%, #FC9970 100%) 0% 0% no-repeat padding-box;
}

/***** Sub-menu *****/
.txt-submenu {
  font-weight: 400;
  color: #515151;
  text-decoration: none;

  cursor: pointer;

  padding: 10px 5px;

  word-break: break-all;
  word-wrap: break-word;
}

.txt-submenu:hover {
  color: #7e33a7;
  border-bottom: 3px solid #7e33a7;
}

.active-submenu {
  font-weight: 500;
  color: #4F0B73;
  border-bottom: 3px solid #4F0B73;
}

.active-submenu {
  font-weight: 500;
  color: #4F0B73;
  border-bottom: 3px solid #4F0B73;
}

.scroll-area-chat{
  overflow-y: auto;
  height: 500px;
  margin-top: 25px;
}

::-webkit-scrollbar-thumb {
  background: #8630b4;
  background: -moz-linear-gradient(top, #8630b4 0%, #392244  50%, #8630b4 100% );
  background: -webkit-linear-gradient(top, #8630b4 0% #392244 50%, #8630b4 100%);
  background: linear-gradient(to bottom, #8630b4 0% #392244 50%, #8630b4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#333333',GradientType=0 );
  }

@media(max-width: 1411.9px) {
  .person-info {
    margin-left: 5px;
    width: 120px;
  }

  .person-name {
    font-size: 14px;
  }
}

@media(max-width: 1104.9px) {
  .person-info {
    margin-left: 5px;
    width: 100px;
  }
}

@media(max-width: 767.9px) {
  .person-info {
    margin-left: 5px;
    width: 100%;
  }

  .person-name {
    font-size: 16px;
  }

  .chat-partners {
    height: 100%;
  }

  .btn-group {
    position: relative;
    margin-top: 50px;
  }
}
