.dialog-content {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.dialog-body {
    margin: 44px 153px 44px 153px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.dialog-body h4 {
    font-size: 19px;
    color: #515151;
}

.btn-group {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.btn-roxo {
    width: 130px;
    margin-right: 10px;
}

.btn-cinza {
    background: linear-gradient(269deg, #7E7384 0%, #C4AFC8 100%, #FC9970 100%);
    color: white;

    width: 130px;
    height: 45px;

    border-radius: 3px;
}

button:focus {
    outline: none;
}