<div class="dialog-content">
    <div class="dialog-body">
        <h4>Deseja tornar termos públicos?</h4>
        <div class="btn-group">
            <button mat-raised-button class="btn-roxo">Sim</button>
            <button mat-raised-button mat-dialog-close class="btn-cinza">Não</button>
        </div>
    </div>
</div>