<!-- DIALOG 2-->
<form class="w-100" [formGroup]="formPartner">
  <div class="dialog-content">
    <div class="dialog-header">
      <span class="w-100 text-center">
        <h4 class="dialog-title mt-2">Propor parceria</h4>
      </span>
      <button mat-dialog-close type="button" data-dismiss="modal" aria-label="Close" class="close-modal">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div mat-dialog-content>
      <div class="proporse-body">
        <h4 class="proporse-title">Para quem:</h4>
        <div class="col-sm-12 bg-white p-1 pr-lg-3 pr-md-3 pr-sm-1 pr-1 rounded border mb-4">
          <img [src]="imgFromPartner" alt="Imagem do usuário" class="image">
          <select class="form-control select-user" formControlName="select_validation" #roleSend
            (change)="selectChange($event, roleSend.value)">
            <option value="" hidden disabled selected>Selecione um perfil</option>
            <option value="user_{{userSession.id}}">{{userSession.name}}</option>
            <option *ngFor="let event of myEvents" [value]="'event_'+event.id">{{event.name}}</option>
            <option *ngFor="let project of myProjects" [value]="'project_'+project.id">{{project.name}}</option>
            <option *ngFor="let organization of myOrganizations" [value]="'organization_'+organization.id">
              {{organization.name}}</option>
          </select>
          <div
            *ngIf="formPartner.get('select_validation').touched && formPartner.get('select_validation').invalid || formPartner.get('select_validation').invalid && isSubmited">
            <span class="small text-danger" *ngIf="formPartner.get('select_validation').errors.required">
              Perfil é um campo obrigatório.
            </span>
          </div>
        </div>

        <div class="col-sm-12  bg-white p-1 rounded border mb-4" *ngIf="data?.has_shortages? true : false">
          <select class="form-control select-help" formControlName="shortage_id" #shortage_select
            (change)="handlePartnershipAgreement(shortage_select.value)">
            <option value='' selected disabled hidden>Tipo de ajuda</option>
            <option *ngFor="let shortage of data.shortages" [value]="shortage.id">{{shortage.description}}</option>
          </select>
        </div>
        <div *ngIf="formPartner.get('shortage_id').touched && formPartner.get('shortage_id').invalid || formPartner.get('shortage_id').invalid && isSubmited" class="mt-n4">
          <span class="small text-danger" *ngIf="formPartner.get('shortage_id').errors.required">
            Tipo de ajuda Obrigatório.
          </span>
        </div>

        <div class="col-sm-12  bg-white p-1 rounded border mb-4" *ngIf="data?.has_shortages? true : false">
          <select class="form-control select-help" formControlName="maintenance_time_id">
            <option value='' selected disabled hidden>Frequência</option>
            <option *ngFor="let maintenanceTime of data.maintenance_times" [value]="maintenanceTime.id">{{maintenanceTime.description}}</option>
          </select>
        </div>
        <div *ngIf="formPartner.get('maintenance_time_id').touched && formPartner.get('maintenance_time_id').invalid || formPartner.get('maintenance_time_id').invalid && isSubmited" class="mt-n4">
          <span class="small text-danger" *ngIf="formPartner.get('maintenance_time_id').errors.required">
            Tempo de ajuda Obrigatório.
          </span>
        </div>

        <div class="col-sm-12 w-100 bg-white p-1 rounded border mb-4">
          <textarea placeholder="Mensagem" cols="45" rows="5" class="form-control" formControlName="message"
            style="border: none;"></textarea>
        </div>
        <div *ngIf="formPartner.get('message').touched && formPartner.get('message').invalid || formPartner.get('message').invalid && isSubmited" class="mt-n4">
          <span class="small text-danger" *ngIf="formPartner.get('message').errors.required">
            Mensagem Obrigatória.
          </span>
        </div>
        <div class="col-sm-12 w-100 bg-white p-1 rounded mb-4 border" *ngIf="hasPartnershipAgreement">
          <input currencyMask class="form-control border-0" formControlName="partnership_agreement"
            placeholder="Acordo público de parceria"
            [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left'}" />
        </div>
        <div
          *ngIf="formPartner.get('partnership_agreement').touched && formPartner.get('partnership_agreement').invalid || formPartner.get('partnership_agreement').invalid && isSubmited"
          class="mt-n4">
          <span class="small text-danger" *ngIf="formPartner.get('partnership_agreement').errors.required">
            Acordo público de parceria Obrigatório.
          </span>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <button mat-raised-button class="btn-roxo" (click)="onSubmit()">Enviar</button>
      </div>
    </div>
  </div>
</form>
<!--FIM DIALOG 2-->
