<section class="row bg-white p-3 rounded shadow" style="margin: 1px;">
  <div class="col-12">
    <h5>Carências: </h5>
    <hr />
  </div>
  <form [formGroup]="shortagesForm" class="row px-2 w-100">
    <div *ngFor="let shortage of shortages" class="col-lg-3 align-items-center py-2 pl-4">
      <label [for]="shortage.description" class="mb-0 text-nowrap label-container">
        <input type="checkbox" [name]="shortage.description" [id]="shortage.description"
          [formControlName]="shortage.description" (change)="checkMaintenanceTypeControl()">
        <span class="span-checkmark"></span>
        {{shortage.description}}
      </label>
    </div>
    <div *ngIf="shortages.length === 0">
      <p class="mb-0 font-size14px">
        Nenhum registro encontrado
      </p>
    </div>
  </form>
  <app-medium-spinner></app-medium-spinner>
</section>


<app-localizacao-eventos [events]="objectShortages?.events" [page]="eventPage" (mudouPagina)="changeEventPage($event)"></app-localizacao-eventos>

<app-localizacao-projetos [projects]="objectShortages?.projects" [page]="projectPage" (mudouPagina)="changeProjectPage($event)"></app-localizacao-projetos>
