.seta {
  width: 25px;
  height: 25px;
}

.imagem-card-perfil {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.title-card {
  font-size: 18px;
  font-weight: 600;
  color: #515151;
  display: block;
  width: 160px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.title-p {
  font-size: 16px;
  font-weight: 700;
}

.type-card {
  font-size: 16px;
  font-weight: 500;
  color: #515151;
}

.description-card {
  font-size: 15px;
  font-weight: 400;
  color: #515151;
  display: block;
  width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.position-r {
  position: relative;
}

.button-fav {
  position: absolute;

  top: 10px;
  right: 10px;

  background-color: transparent;
  color: #4F0B73;
  font-weight: 600;
  border: none;
  outline: none;
}

.button-fav:hover {
  color: #8337ac;
}

.nav-menu {
  display: flex;
  border-bottom: 1px #DADADA solid;
}

.nav-menu ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  max-width: 320px;
  width: 100%;
  justify-content: space-around;
}

.nav-menu ul li {
  padding: 5px;
  cursor: pointer;
  font-weight: 500;
  padding: 10px;
  color: #4F0B73;
  transition: color 200ms ease-in-out;
}

.nav-menu ul li:hover {
  color: #8337ac;
}

.option-active {
  border-bottom: 3px solid #4F0B73;
}

.cards-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 35px;
  padding: 20px;
}

.card {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 150px;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}

.card-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.card-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-favorite {
  position: absolute;
  top: 8px;
  right: 10px;
}

@media (max-width: 1400px) {
  .cards-grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
  }
}

@media (max-width: 1000px) {
  .cards-grid {
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }
}
