<mat-toolbar class="fundo-roxo-claro">
  <div class="container-fluid px-lg-5 px-md-4 px-sm-1 px-0">
    <span class="txt-roxo txt-toolbar-title"><strong>Minhas parcerias</strong>&nbsp;&nbsp;</span>
  </div>
</mat-toolbar>

<section class="nav-menu">
  <ul>
    <li (click)="selectOption = 'event'" [ngClass]="{'option-active': selectOption === 'event'}">Evento</li>
    <li (click)="selectOption = 'project'" [ngClass]="{'option-active': selectOption === 'project'}">Projeto</li>
    <li (click)="selectOption = 'organization'" [ngClass]="{'option-active': selectOption === 'organization'}">Entidades
    </li>
  </ul>
</section>

<main [ngSwitch]="selectOption">
  <section *ngSwitchCase="'event'">

    <section class="cards-grid">
      <div class="card"
        *ngFor="let event of eventsPartners?.data | paginate:
      { itemsPerPage: eventsPartners?.perPage, currentPage: eventPage, totalItems: eventsPartners?.total, id: 'eventPagination' }"
        (click)="openDialog(event?.eventData, 'Evento', event?.partnership_agreement, event?.shortage_id)">
        <div class="card-column px-3">
          <img [src]="event?.eventData?.image_url !== null ? event?.eventData?.image_url : '/assets/img/user.svg'"
            alt="Imagem perfil do evento" class="card-img">
        </div>
        <div class="card-column px-2 flex-grow-1">
          <h2 style="font-size: 24px;">{{event?.eventData?.name ? event?.eventData?.name : '...'}}
          </h2>
          <p>{{event?.eventData?.description? event?.eventData?.description : '...' }}</p>
        </div>
        <div class="card-column px-3 flex-grow-0">
          <img src="/assets/svg/chevron-right.svg" alt="seta para a direita">
        </div>
        <span class="card-favorite"
          (click)="handleFavoritePartnership(event.id, event.favorite? 'unfavorite' : 'favorite') ">
          {{event?.favorite? 'Desfavoritar' : 'Favoritar'}}
        </span>
      </div>

      <div class="card" *ngIf="eventsPartners?.data.length === 0">
        <div class="w-100 d-flex justify-content-center align-items-center">
          <h4>Nenhum evento encontrado</h4>
        </div>
      </div>
    </section>

    <section>
      <pagination-template #p="paginationApi" id="eventPagination" (pageChange)="changePageEvent($event)">

        <div class="d-flex justify-content-end mt-5">
          <div class="pagination-previous" [class.disabled]="p.isFirstPage()">
            <img class="prev" (click)="p.previous()">
          </div>

          <div class="pagination-next" [class.disabled]="p.isLastPage()">
            <img class="next" (click)="p.next()">
          </div>
        </div>

      </pagination-template>
    </section>

  </section>


  <section *ngSwitchCase="'project'">

    <section class="cards-grid">
      <div class="card"
        *ngFor="let project of projectsPartners?.data | paginate:
      { itemsPerPage: projectsPartners?.perPage, currentPage: projectPage, totalItems: projectsPartners?.total, id: 'projectPagination' }"
        (click)=" openDialog(project?.project, 'Projeto' , project?.partnership_agreement, project?.shortage_id)">
        <div class="card-column px-3">
          <img [src]="project?.project?.image_url !== null ? project?.project?.image_url : 'assets/img/user.svg'"
            alt="Imagem perfil do projeto" class="card-img">
        </div>
        <div class="card-column px-2 flex-grow-1">
          <h2 style="font-size: 24px;">{{project?.project?.name ? project?.project?.name : '...'}}
          </h2>
          <p>{{project?.project?.description? project?.project?.description : '...' }}</p>
        </div>
        <div class="card-column px-3 flex-grow-0">
          <img src="/assets/svg/chevron-right.svg" alt="seta para a direita">
        </div>
        <span class="card-favorite"
          (click)="handleFavoritePartnership(project.id, project.favorite? 'unfavorite' : 'favorite') ">
          {{project?.favorite? 'Desfavoritar' : 'Favoritar'}}
        </span>
      </div>
      <div class="card" *ngIf="projectsPartners?.data.length === 0">
        <div class="w-100 d-flex justify-content-center align-items-center">
          <h4>Nenhum projeto encontrado</h4>
        </div>
      </div>
    </section>

    <section>
      <pagination-template #p="paginationApi" id="projectPagination" (pageChange)="changePageProject($event)">

        <div class="d-flex justify-content-end mt-5">
          <div class="pagination-previous" [class.disabled]="p.isFirstPage()">
            <img class="prev" (click)="p.previous()">
          </div>

          <div class="pagination-next" [class.disabled]="p.isLastPage()">
            <img class="next" (click)="p.next()">
          </div>
        </div>

      </pagination-template>
    </section>

  </section>

  <section *ngSwitchCase="'organization'">

    <section class="cards-grid">
      <div class="card" *ngFor="let organization of organizationsPartners?.data | paginate:
      { itemsPerPage: organizationsPartners?.perPage, currentPage: organizationPage, totalItems: organizationsPartners?.total, id: 'organizationPagination' }"
        (click)="openDialog(organization?.organization, 'Entidade', organization?.partnership_agreement, organization?.shortage_id)">
        <div class="card-column px-3">
          <img
            [src]="organization?.organization?.image_url !== null ? organization?.organization?.image_url : 'assets/img/user.svg'"
            alt="Imagem perfil do projeto" class="card-img">
        </div>
        <div class="card-column px-2 flex-grow-1">
          <h2 style="font-size: 24px;">{{organization?.organization?.name ? organization?.organization?.name : '...'}}
          </h2>
          <p>{{organization?.organization?.description? organization?.organization?.description : '...' }}</p>
        </div>
        <div class="card-column px-3 flex-grow-0">
          <img src="/assets/svg/chevron-right.svg" alt="seta para a direita">
        </div>
        <span class="card-favorite"
          (click)="handleFavoritePartnership(organization.id, organization.favorite? 'unfavorite' : 'favorite') ">
          {{organization?.favorite? 'Desfavoritar' : 'Favoritar'}}
        </span>
      </div>
      <div class="card" *ngIf="organizationsPartners?.data.length === 0">
        <div class="w-100 d-flex justify-content-center align-items-center">
          <h4>Nenhuma entidade encontrada</h4>
        </div>
      </div>
    </section>

    <section>
      <pagination-template #p="paginationApi" id="organizationPagination" (pageChange)="changePageOrganization($event)">

        <div class="d-flex justify-content-end mt-5">
          <div class="pagination-previous" [class.disabled]="p.isFirstPage()">
            <img class="prev" (click)="p.previous()">
          </div>

          <div class="pagination-next" [class.disabled]="p.isLastPage()">
            <img class="next" (click)="p.next()">
          </div>
        </div>

      </pagination-template>
    </section>

  </section>
</main>
