.full-width{
  width: 60%;
}

.txt-con{
  font-size: 1.5rem;
  font-weight: 200;
}

.v-align-center{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fundo {
  width: 100vw;
  height: 100vh;
  background: url(../../../../../assets/img/fundo.png);
  /* background: #392244; */
}

.btn-google,
.btn-facebook,
.btn-linkedin {
  max-width: 230px;
  width: 50%;
  height: 45px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 3px;
  cursor: pointer;
}

.btn-google {
  background: linear-gradient(90deg, #dd4b39 0%, #ff604d 100%);
}

.btn-facebook {
  background: linear-gradient(90deg, #1778f2 0%, #04a5f1 100%);
}

.btn-linkedin {
  background: linear-gradient(90deg, #0b66c3 0%, #1f7cdb 100%);
}

.cursor-pointer{
  cursor: pointer;
}

@media(min-width: 575px){
  .btn-google,
  .btn-facebook {
    width: 60px;
    height: 60px;

    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
