<section class="fundo ">
  <section class="container v-align-center">
    <section class="row justify-content-center align-items-center ">
      <div class="col-lg-6 my-auto">

        <div class="row mb-2 justify-content-center text-center">
          <span class="text-white txt-con">
            Conectando um mundo melhor.
          </span>
        </div>

        <div class="row mx-2 bg-white shadow py-3 px-1 rounded">
          <form class="w-auto" [formGroup]="formulario" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-lg-12 d-flex justify-content-center">
                <img class="img-fluid" src="../../../../../assets/img/logo/logo.png" alt="logo" />
              </div>

              <div class="col-lg-12 d-flex justify-content-center mt-2">
                <mat-form-field class="full-width">
                  <mat-label>Nome: </mat-label>
                  <input matInput type="text" name="name" formControlName="name" placeholder="Ex. João" />
                  <mat-error class="text-danger" *ngIf="formulario.get('name').hasError('required')" >
                    Este campo é requerido</mat-error>
                </mat-form-field>
              </div>

              <div class="col-lg-12 d-flex justify-content-center ">
                <mat-form-field class="full-width">
                  <mat-label>E-mail: </mat-label>
                  <input matInput type="text" name="email" formControlName="email" placeholder="email@email.com" />
                  <mat-error class="text-danger" *ngIf="formulario.get('email').hasError('required')" >
                    Este campo é requerido</mat-error>
                  <mat-error class="text-danger" *ngIf="formulario.get('email').hasError('email')" >
                    Digite um e-mail válido</mat-error>
                </mat-form-field>
              </div>

              <div class="col-lg-12 d-flex justify-content-center">
                <mat-form-field class="full-width">
                  <mat-label>Senha: </mat-label>
                  <input matInput type="password" name="password" formControlName="password" placeholder="******" />
                  <mat-error class="text-danger" *ngIf="formulario.get('password').hasError('required')">
                    Este campo é requerido</mat-error>
                  <mat-error *ngIf="formulario.get('password').hasError('minlength')" class="text-danger">
                    Digite uma senha maior que 6 dígitos</mat-error>
                </mat-form-field>
              </div>

              <div class="col-lg-12 d-flex justify-content-center mt-4">
                <button mat-raised-button type="submit" class="btn-roxo">
                  Criar conta
                </button>
              </div>
              <!--
              <div class="col-lg-12 d-flex justify-content-center mt-3">
                <div class="col">
                  <hr />
                </div>
                <div class="col d-flex justify-content-center align-items-center">
                  <span class="small">OU CONTINUE COM</span>
                </div>
                <div class="col">
                  <hr />
                </div>
              </div>

              <div class="col-lg-12 d-flex justify-content-center">
                <div class="w-100 row mt-3">
                  <div class="col-12 col-sm-6 d-flex justify-content-sm-end justify-content-center">
                    <a mat-raised-button class="btn-facebook my-sm-0 my-1" (click)="signInWithFB()">
                      <div class="d-flex flex-row justify-content-around">
                        <img class="svg-icon px-2" src="../../../../../assets/svg/facebook.svg" />
                        <span class="px-1 d-sm-none d-block" style="color: #fff;">Facebook</span>
                      </div>
                    </a>
                  </div>
                  <div class="col-12 col-sm-6 d-flex justify-content-sm-start justify-content-center">
                    <a mat-raised-button class="btn-google my-sm-0 my-1" (click)="signInWithGoogle()">
                      <div class="d-flex flex-row justify-content-around">
                        <img class="svg-icon px-2" src="../../../../../assets/svg/google.svg" />
                        <span class="px-1 d-sm-none d-block" style="color: #fff;">Google</span>
                      </div>
                    </a>
                  </div>
                  <div class="col-sm-4 d-flex justify-content-center">
                    <a class="btn-linkedin text-center">
                      <img src="../../../../../assets/svg/linkedin.svg" />
                    </a>
                  </div>
                </div>
              </div> -->

              <div class="col-lg-12 d-flex justify-content-center text-center mt-3">
                <span class="small mx-5">Ao criar uma conta, você concorda com nossos
                  <span (click)="openTerms()" style="cursor: pointer;" class="txt-roxo">Termos de uso e Política de Privacidade.</span>
                </span>
              </div>

              <div class="col-lg-12 d-flex justify-content-center mt-4">
                <span>
                  Já tem uma conta?
                  <span style="font-weight: 700; cursor: pointer;" class="txt-roxo" routerLink="/login">
                    Entrar.
                  </span>
                </span>
              </div>
            </div>
          </form>
        </div>

        <div class="row justify-content-center mt-2">
          <span class="text-white font-400 mt-3 cursor-pointer" (click)="openModalAbout()">Sobre o sparkeep</span>
        </div>
      </div>
    </section>
  </section>
</section>
