<section class="my-3">
  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <strong>Parceiros <span>({{myPartnerships?.length}})</span></strong>
        </mat-panel-title>
        <!-- <mat-panel-description>
      </mat-panel-description> -->
      </mat-expansion-panel-header>
      <section class="d-flex justify-content-between border-event cursor-pointer px-1 py-2"
        *ngFor="let partner of myPartnerships">
        <div class="d-flex" (click)="handlePartnership(partner)">
          <div class="d-flex" *ngIf="partner.partner" >
            <img [src]="partner?.partner.image_url !== null ? partner?.partner.image_url : 'assets/img/user.svg'"
              class="image_partners" alt="" />
            <div class='d-flex justify-content-center align-items-center'>
              <span class="pl-2">
                <h5 class="font-weight-bold">{{partner?.partner.name | slice :0:20 }}...</h5>
                <span class="description">{{partner?.partner.description}}</span>
              </span>
            </div>
          </div>
          <div class="d-flex" *ngIf="partner?.name" >
            <img [src]="partner?.image_url !== null ? partner?.image_url : 'assets/img/user.svg'"
              class="image_partners" alt="" />
            <div class='d-flex justify-content-center align-items-center'>
              <span class="pl-2">
                <h5 class="font-weight-bold">{{partner?.name | slice :0:20 }}...</h5>
                <span class="description">{{partner?.description}}</span>
              </span>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center align-items-center">
          <img src="../../../../assets/svg/arrow-right.svg" class="seta_event" alt="">
        </div>
      </section>
      <p *ngIf="myPartnerships.length === 0">Nenhum parceiro encontrado</p>
    </mat-expansion-panel>
  </mat-accordion>
</section>
