mat-expansion-panel-header{
  height: 60px !important;
}

.image_partners{
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
}

.border-event{
  border-bottom: 1px solid #5151512c;
}

.border-event:hover{
  border-radius: 8px;
  background-color: #5151512c;
}

.seta_event{
  width: 18px;
  height: 18px;
}

.description {
  display: block;
  width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
