.img_perfil {
  width: 60px;
  height: 60px;

  object-fit: cover;

  cursor: pointer;

  border-radius: 50%;
}

.link {
  text-decoration: underline;
  color: #4F0B73;
  cursor: pointer;
}

.link:hover{
  color: #8e4fb1;
  text-decoration: none;
}

.btn-roxo-adm {
  color: #fff;
  background: linear-gradient(269deg, #392244 0%, #560F7B 100%, #FC9970 100%);
}

.btn-delete-adm {
  color: #fff;
  background: linear-gradient(269deg, #442222 0%, #7b0f0f 100%, #FC9970 100%);
}
