<mat-toolbar class="row fundo-roxo-claro">
  <div class="container-fluid">
    <div class="d-flex">
      <span class="txt-roxo txt-toolbar-title"><strong>Notificações</strong></span>
    </div>
  </div>
</mat-toolbar>
<section class="container-fluid">
  <section class="row">
    <div class="col-sm-12 col-md-12 col-lg-10">
      <section class="bg-white shadow rounded p-4 my-4">
        <div *ngIf="notification?.data?.length == 0" class="">
          Você não possui notificações
        </div>
        <div *ngIf="notification?.data?.length > 0">
          <div *ngFor="let notificacao of notification.data">
            <div class="w-100" *ngIf="notificacao?.notification?.type === 'message'">
              <img
                [src]="notificacao.notification.image_send ? notificacao.notification.image_send : '/assets/img/user.svg' "
                class="img_perfil" [routerLink]="handleGetProfile(notificacao.notification)">
              <span class="pl-3 txt-cinza font-size16px">{{notificacao.notification.description}}</span>
              <hr class="my-2" />
            </div>
            <div class="w-100" *ngIf="notificacao?.notification?.type === 'post'">
              <img
                [src]="notificacao.notification.image_send ? notificacao.notification.image_send : '/assets/img/user.svg' "
                class="img_perfil" [routerLink]="handleGetProfile(notificacao.notification)">
              <span class="pl-3 txt-cinza font-size16px">{{notificacao.notification.description}}<span class="px-3 link"
                  routerLink="/postagem/{{notificacao.notification.post_id}}">clique aqui</span></span>
              <hr class="my-2" />
            </div>
            <div class="w-100" *ngIf="notificacao?.notification?.type === 'request'">
              <!-- *ngIf="notificacao?.notificacao?.type === 'request-administrator'" -->
              <img
                [src]="notificacao.notification.image_send ? notificacao.notification.image_send : '/assets/img/user.svg' "
                class="img_perfil" [routerLink]="handleGetProfile(notificacao.notification)">
              <span class="pl-3 txt-cinza font-size16px">{{notificacao.notification.description}}
                <span class="px-2">
                  <button mat-raised-button class="mx-2 btn-roxo-adm"
                    (click)="handleAcceptAdministrator(notificacao)">Aceitar</button>
                  <button mat-raised-button class="mx-2 btn-delete-adm"
                    (click)="handleDeclineAdministrator(notificacao)">Recusar</button>
                </span>
              </span>

              <hr class="my-2" />
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>
</section>
