.menu, .menu-active{
  text-decoration: none;
  color: #4F0B73;
  padding-bottom:5px;
  font-weight: 700;
}
.menu:hover{
  color: #7e33a7;
  transition: 0.2s linear;
  border-bottom: 3px solid #7e33a7;
}
.menu-active{
  border-bottom: 3px solid #4F0B73;
}

.input-pesquisar {
  width: 260px;
  height: 38px;
  padding-left: 40px;

  background: #FBFBFB 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 8px #E7EAF070;
  border: 0.30000001192092896px solid #D1D1D1;
  border-radius: 5px;
}

.icon-search {
  position: absolute;
  padding: 7px 8px;
}

.icon-material-search{
  color: #292929;
}

