<section class="fundo-roxo-claro py-2">
  <div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center">
      <span class="txt-roxo txt-toolbar-title font-weight-bold pl-0 pl-sm-0 pl-md-4 pl-lg-3">Minha rede</span>
      <form class="form-inline mt-2 mt-md-0">
        <div class="input-group justify-content-center">
          <div class="input-group-prepend">
            <span class="icon-search">
              <mat-icon class="icon-material-search">search</mat-icon>
            </span>
          </div>
          <input type="text" class="input-pesquisar w-100" placeholder="Pesquisar na sua rede" (keyup)="handleSearch($event.target.value)" />
        </div>
      </form>
    </div>
  </div>
</section>
<section class="container-fluid">
  <div class="row">
    <div class="d-flex flex-wrap justify-content-between pl-sm-0 pl-md-4 pl-lg-4 py-2 bg-gray" style="background: #fcfcfc; width: 100%; max-width: 400px;">
      <a class="cursor-pointer font-size16px menu " routerLink="/rede/pessoas" routerLinkActive="menu-active">Pessoas</a>
      <a class="cursor-pointer font-size16px menu " routerLink="/rede/entidades" routerLinkActive="menu-active">Entidades</a>
      <a class="cursor-pointer font-size16px menu " routerLink="/rede/projetos" routerLinkActive="menu-active">Projetos</a>
      <a class="cursor-pointer font-size16px menu " routerLink="/rede/eventos" routerLinkActive="menu-active">Eventos</a>
    </div>
  </div>
</section>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
