.dialog-content {
  width: 100%;
  height: 100%;
}

.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.close-modal {
  font-weight: 500;
  font-size: 1.3em;

  outline: none;
  border: none;
  background-color: transparent;
}

.dialog-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.dialog-header span h4 {
  color: #515151;
  font-size: 24px;
  margin: 20px 45px 20px 45px;
}

.share-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.img-share {
  display: flex;
  flex-direction: column;

  text-align: center;

  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  height: 100%;
}

.share-options a img {
  width: 56px;
  border-radius: 5px;
  margin-bottom: 5px;
}

share-buttons {
  text-align: center;
}

@media(max-width: 768.9px) {
  .img-share {
    width: 120px;
  }

  .row {
    justify-content: center;
  }
}
