<div class="dialog-content">
  <div class="dialog-body">
    <div class="dialog-header">
      <span class="w-100 text-center">
        <h4 class="">Deseja compartilhar externamente?</h4>
      </span>
      <!-- <button mat-dialog-close type="button" data-dismiss="modal" aria-label="Close" class="close-modal">
                <span aria-hidden="true">x</span>
            </button> -->
    </div>
    <div class="share-options mt-1">
      <div class="d-flex">
        <share-buttons [theme]="'circles-dark'"
          [include]="['facebook','twitter','tumblr','whatsapp', 'telegram','sms','email','copy']" [show]="8" [size]="4"
          [url]="'https://sparkeep.com/postagem/'+post?.id" [title]="post?.authorName"
          [description]="post?.description" [image]="post?.images[0]?.path" [autoSetMeta]="true">
        </share-buttons>
      </div>
    </div>
  </div>
</div>
