<section class="row bg-white p-3 rounded shadow" style="margin: 1px;">
  <div class="col-12">
    <h5>Paixões: </h5>
    <hr />
  </div>
  <form [formGroup]="passionsForm" class="row px-2 w-100">
    <div *ngFor="let passion of passions" class="col-lg-3 align-items-center py-2 pl-4">
      <label [for]="passion.name" class="mb-0 text-nowrap label-container">
        <input type="checkbox" [name]="passion.name" [formControlName]="passion.name" [id]="passion.name" (change)="checkControl()" />
        <span class="span-checkmark">
        </span>
        {{passion.name}}
      </label>
    </div>
    <div *ngIf="passions.length === 0">
      <p class="mb-0 pl-3 font-size14px">
        Nenhum registro encontrado
      </p>
    </div>
  </form>
  <app-medium-spinner *ngIf="isLoading" ></app-medium-spinner>
</section>


<app-localizacao-usuarios [users]="objectPassions?.users" [page]="usersPage" (mudouPagina)="changeUsersPage($event)"></app-localizacao-usuarios>

<app-localizacao-eventos [events]="objectPassions?.events" [page]="eventsPage" (mudouPagina)="changeEventsPage($event)"></app-localizacao-eventos>

<app-localizacao-projetos [projects]="objectPassions?.projects" [page]="projectsPage" (mudouPagina)="changeProjectsPage($event)"></app-localizacao-projetos>

<app-localizacao-entidades [organizations]="objectPassions?.organizations" [page]="organizationsPage" (mudouPagina)="changeOrganizationsPage($event)"></app-localizacao-entidades>
