.mat-icon-camera {
  width: 50px;
  height: 50px;
  font-size: 50px;
  color: #9B9B9B;
}

.profile_thumbnail {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.img-perfil-complete{
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
}
.img-perfil-complete:hover{
  opacity: 0.8;
  transition: opacity 0.5s;
}

.select-user {
  border: none;
  width: 85%;
  height: 40px;
  outline: none;
}

.img_profile{
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

/***********************/
/*** CAMPO DE IMAGEM ***/
.mat-icon-camera {
  width: 50px;
  height: 50px;
  font-size: 50px;
  color: #9B9B9B;
}

.img-event-complete {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.img-event-complete:hover {
  opacity: 0.8;
  transition: opacity 0.2s;
}

/* Input File */
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile+label {
  font-size: 1em;
  color: #9b9b9b;
  background-color: #e9e9e9;
  display: inline-block;

  width: 180px;
  height: 180px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;

  margin-bottom: 0;
}

.inputfile+label:hover {
  background-color: #cecece;
}

.inputfile+label {
  cursor: pointer;
}

/*** FIM CAMPO IMAGEM ***/
/************************/

.input-event {
  width: 100%;

  padding-left: 15px;
  padding-right: 15px;

  color: #515151;

  box-shadow: 0px 5px 8px #E7EAF070;
  border: 0.3px solid #A2A2A2;
  border-radius: 5px;
}

.input-input-event {
  height: 40px;
}

.input-textarea-event {
  height: 100px;
  padding-top: 10px;
}

@media(max-width: 535px) {
  .select-user {
    width: 60%;
  }
}
