<mat-toolbar class="row fundo-roxo-claro">
  <div class="container-fluid">
    <div class="d-flex">
      <span class="txt-roxo txt-toolbar-title"><strong>{{
          editMode ? "Editar entidade" : "Criar entidade"
        }}</strong></span>
    </div>
  </div>
</mat-toolbar>

<form [formGroup]="organizationForm" (ngSubmit)="onSubmit()">
  <main class="container-fluid py-2">
    <section class="row pt-3">
      <section class="col-lg-8">
        <p class="pl-3"><strong>Proprietário:</strong></p>

        <div class="row mx-2 pb-2">
          <!-- Select usuário -->
          <div class="col-sm-12 shadow bg-white p-3 rounded">
            <img [src]="imgProfile" alt="Imagem do usuário" class="img_profile" />
            <select class="select-user pl-2" formControlName="user_id" (change)="handleProfileOrganization()">
              <!-- TODO: Buscar todas organizações do usuário-->
              <option value="" hidden selected disabled>
                Selecione um perfil
              </option>
              <option value="{{ userSession.id }}">
                {{ userSession.name }}
              </option>
            </select>
            <div *ngIf="
                (organizationForm.get('user_id').touched &&
                  organizationForm.get('user_id').invalid) ||
                (organizationForm.get('user_id').invalid && isSubmited)
              ">
              <span *ngIf="organizationForm.get('user_id').errors.required" class="small text-danger">Selecionar perfil
                é obrigatório.</span>
            </div>
          </div>
        </div>

        <div class="row mx-2 py-2">
          <div class="col-sm-12 shadow bg-white rounded p-3">
            <!-- Campo Formulários -->
            <div class="row px-lg-5 px-md-3 px-sm-0">
              <div class="col-sm-4">
                <div class="d-flex justify-content-center align-items-center">
                  <input type="file" name="fileOrganization" id="fileOrganization" class="inputfile"
                    (change)="envioImg($event)" />
                  <label for="fileOrganization">
                    <img [src]="imgUrlForm" [class.img-perfil-complete]="
                        imgUrlForm !== 'assets/svg/camera_alt.svg'
                      " />
                  </label>
                  <!--
                    <mat-icon class="mat-icon-camera" aria-hidden="false" aria-label="Camera img">camera_alt</mat-icon>
                  -->
                </div>
              </div>
              <div class="col-sm-8">
                <input type="text" placeholder="Nome da organização" name="name" formControlName="name"
                  class="input-event input-input-event my-2" />
                <div *ngIf="
                    (organizationForm.get('name').touched &&
                      organizationForm.get('name').invalid) ||
                    (organizationForm.get('name').invalid && isSubmited)
                  ">
                  <span *ngIf="organizationForm.get('name').errors.required" class="small text-danger">Nome é
                    obrigatório.</span>
                  <span *ngIf="organizationForm.get('name').errors.minlength" class="small text-danger">Nome deve ter no
                    mínimo 5 caracteres.</span>
                  <span class="small text-danger" *ngIf="organizationForm.get('name').errors.maxlength">
                    Nome deve conter no máximo 30 caracteres.
                  </span>
                </div>
                <textarea placeholder="Descrição" name="description" formControlName="description"
                  class="input-event input-textarea-event my-2"></textarea>
                <div *ngIf="
                    (organizationForm.get('description').touched &&
                      organizationForm.get('description').invalid) ||
                    (organizationForm.get('description').invalid && isSubmited)
                  ">
                  <span *ngIf="organizationForm.get('description').errors.required" class="small text-danger">Descrição
                    é obrigatória.</span>
                  <span class="small text-danger" *ngIf="organizationForm.get('description').errors.maxlength">
                    Descrição deve conter no máximo 250 caracteres.
                  </span>
                </div>
              </div>
            </div>

            <div class="row px-lg-5 px-md-3 px-sm-0">
              <div class="col-sm-6">
                <input *ngIf="!showCpf" type="text" name="cnpj" id="cnpj" placeholder="CNPJ" formControlName="cnpj"
                  mask="00.000.000/0000-00" class="input-event input-input-event my-2" />
                <div *ngIf="
                    (organizationForm.get('cnpj').touched &&
                      organizationForm.get('cnpj').invalid) ||
                    (organizationForm.get('cnpj').invalid && isSubmited)
                  ">
                  <span *ngIf="organizationForm.get('cnpj').errors.required" class="small text-danger">CNPJ é
                    obrigatório.</span>
                </div>
              </div>
              <div class="col-sm-6">
                <select name="address_country" class="input-event input-input-event my-2"
                  formControlName="address_country">
                  <option value="" selected disabled hidden>País</option>
                  <option value="Brazil">Brasil</option>
                </select>
                <div *ngIf="
                    (organizationForm.get('address_country').touched &&
                      organizationForm.get('address_country').invalid) ||
                    (organizationForm.get('address_country').invalid &&
                      isSubmited)
                  ">
                  <span class="small text-danger">País é obrigatório.</span>
                </div>
              </div>
              <div class="col-sm-6">
                <select name="address_state" class="input-event input-input-event my-2" formControlName="address_state"
                  (change)="getCityByState($event)">
                  <option value="" selected disabled hidden>Estado</option>
                  <option *ngFor="let state of states" [value]="state.uf">
                    {{ state.name }}
                  </option>
                </select>
                <div *ngIf="
                    (organizationForm.get('address_state').touched &&
                      organizationForm.get('address_state').invalid) ||
                    (organizationForm.get('address_state').invalid &&
                      isSubmited)
                  ">
                  <span class="small text-danger">Estado é obrigatório.</span>
                </div>
              </div>
              <div class="col-sm-6">
                <select name="address_city" formControlName="address_city" class="input-event input-input-event my-2">
                  <option value="" selected disabled hidden>Cidade</option>
                  <option *ngFor="let cidade of locationCity" [value]="cidade.nome">
                    {{ cidade.nome }}
                  </option>
                </select>
                <div *ngIf="
                    (organizationForm.get('address_city').touched &&
                      organizationForm.get('address_city').invalid) ||
                    (organizationForm.get('address_city').invalid && isSubmited)
                  ">
                  <span class="small text-danger">Cidade é obrigatória.</span>
                </div>
              </div>

              <div class="col-sm-6">
                <input type="text" name="address_neighborhood" placeholder="Bairro"
                  formControlName="address_neighborhood" class="input-event input-input-event my-2" />
              </div>

              <div class="col-sm-6">
                <input type="text" name="address_street" placeholder="Rua" formControlName="address_street"
                  class="input-event input-input-event my-2" />
              </div>

              <div class="col-sm-6">
                <input type="text" name="address_complement" placeholder="Complemento"
                  formControlName="address_complement" class="input-event input-input-event my-2" />
              </div>

              <div class="col-sm-6">
                <input type="text" name="email" placeholder="E-mail" formControlName="email"
                  class="input-event input-input-event my-2" (change)="checkAndSetValidation()" />
                <div *ngIf="
                    (organizationForm.get('email').touched &&
                      organizationForm.get('email').invalid) ||
                    (organizationForm.get('email').invalid && isSubmited)
                  ">
                  <span *ngIf="organizationForm.get('email').errors.required" class="small text-danger">E-mail é
                    obrigatório.</span>
                  <span *ngIf="organizationForm.get('email').errors.email" class="small text-danger">Insira um email
                    válido, Ex.: email@email.com</span>
                </div>
              </div>

              <!-- <div class="col-sm-6 d-flex align-items-center">
                <mat-slide-toggle formControlName="receive_administrator_proposals">Aceita pedidos de administração
                </mat-slide-toggle>
              </div> -->

              <!-- <div class="col-sm-6">
              </div> -->

              <div class="col-sm-6">
                <input type="text" name="cellphone" placeholder="Celular" formControlName="cellphone" ngxPhoneMaskBr
                  class="input-event input-input-event my-2" />
                <span>
                  <label for="exibirCelular" class="checkbox-button">
                    <input type="checkbox" id="exibirCelular" name="show_cellphone" formControlName="show_cellphone"
                      class="my-2" (change)="checkAndSetValidation()" />
                    <span></span> Exibir Celular</label>
                </span>
                <div *ngIf="
                    (organizationForm.get('cellphone').touched &&
                      organizationForm.get('cellphone').invalid) ||
                    (organizationForm.get('cellphone').invalid && isSubmited)
                  ">
                  <span *ngIf="organizationForm.get('cellphone').errors.required" class="small text-danger">Celular é
                    obrigatório.</span>
                </div>
              </div>

              <div class="col-sm-6">
                <input type="text" name="telephone" placeholder="Telefone" formControlName="telephone" ngxPhoneMaskBr
                  class="input-event input-input-event my-2" (change)="checkAndSetValidation()" />
                <div *ngIf="
                    (organizationForm.get('telephone').touched &&
                      organizationForm.get('telephone').invalid) ||
                    (organizationForm.get('telephone').invalid && isSubmited)
                  ">
                  <span *ngIf="organizationForm.get('telephone').errors.required" class="small text-danger">Telefone é
                    obrigatório.</span>
                </div>
                <span>
                  <label for="exibirTelefone" class="checkbox-button">
                    <input type="checkbox" id="exibirTelefone" name="show_telephone" formControlName="show_telephone"
                      class="my-2" />
                    <span></span> Exibir Telefone</label>
                </span>
              </div>

              <div class="col-sm-6">
                <span *ngIf="this.organizationForm.get('has_philantropy').value">
                  <input type="text" name="philantropy_record" formControlName="philantropy_record"
                    placeholder="Registro de Filantropia" class="input-event input-input-event my-2" />
                  <div *ngIf="
                      (organizationForm.get('philantropy_record').touched &&
                        organizationForm.get('philantropy_record').invalid) ||
                      (organizationForm.get('philantropy_record').invalid &&
                        isSubmited)
                    ">
                    <span *ngIf="
                        organizationForm.get('philantropy_record').errors
                          .required
                      " class="small text-danger">Registro de filantropia é obrigatório.</span>
                  </div>
                </span>
                <label class="checkbox-button">
                  <input type="checkbox" formControlName="has_philantropy" #hasPhilantropy
                    (change)="handleHasPhilantropy(hasPhilantropy.checked)" />Entidade filantrópica
                  <span></span>
                </label>
              </div>

              <section class="col-sm-12 mt-2">
                <h6>Redes sociais(URL)</h6>
              </section>
              <div class="col-sm-6 my-2">
                <input type="text" class="input-event input-input-event" name="youtube" formControlName="youtube"
                  placeholder="Youtube" data-toggle="tooltip" data-placement="top"
                  title="Insira o seu canal do Youtube. Ex.: youtube.com/NomeDoSeuCanal" />
              </div>
              <div class="col-sm-6 my-2">
                <input type="text" class="input-event input-input-event" name="facebook" formControlName="facebook"
                  placeholder="Facebook" data-toggle="tooltip" data-placement="top"
                  title="Insira o seu perfil do Facebook. Ex.: facebook.com/SeuLinkDoPerfil/" />
              </div>
              <div class="col-sm-6 my-2">
                <input type="text" class="input-event input-input-event" name="instagram" formControlName="instagram"
                  placeholder="Instagram" data-toggle="tooltip" data-placement="top"
                  title="Insira o seu perfil do Instagram. Ex.: instagram.com/SeuNomeDeUsuario" />
              </div>
              <div class="col-sm-6 my-2">
                <input type="text" class="input-event input-input-event" name="twitter" formControlName="twitter"
                  placeholder="Twitter" data-toggle="tooltip" data-placement="top"
                  title="Insira o seu perfil do Twitter. Ex.: twitter.com/NomeDeUsuario" />
              </div>
              <div class="col-sm-6 my-2">
                <input type="text" class="input-event input-input-event" name="site" formControlName="site"
                  placeholder="Site" data-toggle="tooltip" data-placement="top" title="Insira o link do seu site" />
              </div>

              <!-- <div class="col-sm-6 my-2" *ngIf="this.editMode">
                <button mat-raised-button type="button" class="btn-roxo-claro-1" (click)="deleteOrganization()">
                  Excluir
                </button>
              </div> -->
            </div>
          </div>

          <div class="col-sm-12 shadow bg-white rounded p-3 my-4">
            <!-- Administradores -->

            <div *ngFor="let administrator of administrators; let i = index"
              class="d-flex align-items-center my-2 p-2 administrator-list">
              <img [src]="
                  administrator?.image_url
                    ? administrator?.image_url
                    : 'assets/img/user.svg'
                " class="mr-2 profile_thumbnail" />
              <h6 class="mb-0 d-flex justify-content-between w-100">
                {{ administrator.name }}
                <span class="delete-icon-x" (click)="deleteAdministrator(i)">
                  &times;
                </span>
              </h6>
            </div>
            <div (click)="toggleModal()" class="hover-gray px-2">
              <h5 class="d-flex align-items-center mb-0 cursor-pointer">
                <span class="text-primary font-size28px">+&nbsp;</span>
                Adicionar administradores
              </h5>
            </div>
          </div>

          <div class="col-sm-12 px-0">
            <!-- Botões Salvar e cancelar -->
            <button mat-raised-button type="submit" class="btn-roxo mr-sm-0 mr-md-2 mr-lg-2 my-3">
              {{ editMode ? "Salvar entidade" : "Registrar entidade" }}
            </button>
            <button mat-raised-button type="reset" routerLink="/entidades"
              class="btn-roxo-claro mr-sm-0 mr-md-2 mr-lg-2 my-3">
              Cancelar
            </button>
          </div>
        </div>
      </section>

      <section class="col-lg-4">
        <section class="row">
          <section class="col-sm-12">
            <!-- Passions -->
            <app-passions-form [projectForm]="organizationForm.value" (passionsEmit)="onPassionChange($event)">
            </app-passions-form>
            <div *ngIf="
                (organizationForm.get('passions').touched &&
                  organizationForm.get('passions').invalid) ||
                (organizationForm.get('passions').invalid && isSubmited)
              ">
              <span *ngIf="organizationForm.get('passions').errors.required" class="small text-danger">Selecione ao
                menos uma paixão.</span>
            </div>
          </section>
        </section>
      </section>
    </section>
  </main>
</form>

<!-- CHAMAR A MODAL -->
<app-add-administrators class="d-none" [administrators]="administrators"
  (administratorsEmit)="administratorsControl($event)" (closeModalEmit)="toggleModal()"></app-add-administrators>

<app-full-spinner></app-full-spinner>
