<section *ngIf="posts">
  <section class="col-lg-12 shadow rounded bg-white my-4 mx-auto pt-2 pb-0"
    *ngFor="let post of posts.data; let ind = index">
    <div class="row">
      <div class="col-sm-12 d-flex justify-content-between align-items-center px-4 py-2">
        <span>
          <img class="img-author"
            [src]="post.authorImage !== null? post.authorImage : 'assets/img/user.svg'" (click)="gotoProfile(post)" />
          <!-- <img class="img-author" *ngIf="post.authorImage == null" src="assets/img/user.svg" /> -->
          <span class="pl-3 txt-name-user">{{ post?.authorName }}</span>
        </span>
        <div id="dropdown">
          <mat-icon class="pointer" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            more_vert
          </mat-icon>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <p class="dropdown-item pointer mb-0" (click)="handleDeletePost(post)">
              Deletar post
            </p>
            <p *ngIf="!reported" class="dropdown-item pointer mb-0" (click)="openDialog(post.id, $event)">
              Denunciar
            </p>
            <p *ngIf="reported" class="dropdown-item reported pointer mb-0">
              <span class="mr-1">
                <img src="assets/img/tick.svg" style="width: 20px; transform: translateY(-3px);">
              </span>
              Denunciado
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 d-flex justify-content-center px-0">

        <span *ngIf="post?.images.length == 1">
          <img class="img-fluid img-container w-100" [src]="post?.images[0].path" />
        </span>

        <span *ngIf="post?.images.length > 1">
          <div id="carouselExampleIndicators{{ind}}" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item" *ngFor="let image of post?.images; let iimage = index"
                [class.active]="iimage == 0">
                <img [src]="image.path" class="img-fluid img-container w-100" alt="...">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators{{ind}}" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators{{ind}}" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </span>

      </div>
      <div class="col-sm-12 py-2">
        <p class="p-margin">{{ post?.created_at | date: "longDate" }}</p>
        <p class="p-justify-pre">
          {{ post?.description}}
        </p>
      </div>
      <div class="col-sm-12 d-flex align-items-center py-2">
        <span class="font-weight-bold txt-gray" [class.txt-roxo]="post?.liked">
          {{ post?.__meta__?.total_inspireds }}
        </span>
        <img *ngIf="post.liked" class="img-fluid pointer px-2" [src]="img_clap_roxo" (click)="likePost(post.id)" />
        <img *ngIf="!post.liked" class="img-fluid pointer px-2" [src]="img_clap" (click)="likePost(post.id)" />
        <img class="img-fluid px-2 pointer" (click)="sharePost(post?.id)" src="../../../../../assets/svg/origami.svg" />
      </div>
    </div>
  </section>
</section>

<section *ngIf="posts === null || posts.total == 0" class="col-lg-12 shadow rounded bg-white my-4 mx-auto py-2">
  <div class="row">
    <div class="col-sm-12 d-flex justify-content-center align-items-center px-4 py-2">
      <h5 class="mb-0">Não possuí postagens.</h5>
    </div>
  </div>
</section>
