<app-header [sideNavRight]="matSide"></app-header>
<!-- SideNavRight -->
<mat-sidenav-container class="pb-3 mb-2">
  <mat-sidenav class="sidenav-right" mode="over" position="end" #matSide>
    <div class="container pt-4">
      <div class="row pl-3">
        <div class="col-sm-12 d-flex justify-content-between">
          <div>
            <img *ngIf="userSession.image_url != null" [src]="userSession.image_url" class="img-perfil-sidenav" />
            <img *ngIf="userSession.image_url === null" src="../../../../../assets/img/user.svg"
              class="img-perfil-sidenav" />
          </div>
          <div>
            <span class="sidenav-sair" (click)="matSide.close()">
              &times;
            </span>
          </div>
        </div>
        <div class="col-sm-12 pt-2 pb-3">
          <h3 class="sidenav-nome">{{userSession?.name}}</h3>
          <hr>
        </div>
        <div class="col-sm-12 pt-2 pb-5 mb-5">
          <p class="sidenav-text-menu py-2" (click)="matSide.close()" routerLink="/perfil"
            routerLinkActive="sidenav-text-menu-active">Ver Perfil</p>
          <p class="sidenav-text-menu py-2" (click)="matSide.close()" routerLink="/editar-perfil"
            routerLinkActive="sidenav-text-menu-active">Editar Perfil</p>
          <p class="sidenav-text-menu py-2" (click)="sair()">Sair</p>
        </div>
        <div class="col-sm-12">
          <hr>
          <p (click)="openAbout()" style="cursor: pointer;">Sobre o Sparkeep</p>
          <p (click)="openTerms()" style="cursor: pointer;">Termos de uso e Política de privacidade</p>
          <!-- <p (click)="openPolicies()" style="cursor: pointer;">Política de Privacidade</p> -->
        </div>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- Container Fluído... -->
    <section class="container-fluid">
      <section class="row">

        <!-- Sidenav -->
        <section class="col-md-2 d-lg-block d-md-block d-none d-sm-none">
          <app-sidenav></app-sidenav>
        </section>
        <!-- Fim Sidenav -->

        <!-- Container -->
        <section class="col-lg-10 col-md-10 col-sm-12">
          <!-- d-lg-block px-lg-0 col-md-10 d-md-block col-sm-12 d-sm-flex justify-content-sm-center /// Classes antigas-->

          <!-- **** DASHBOARD **** -->
          <router-outlet></router-outlet>
          <!-- Fim DASHBOARD -->

        </section>
        <!-- Fim Container -->

      </section>
    </section>

  </mat-sidenav-content>
</mat-sidenav-container>
<!-- Novo POST -->
<app-new-post></app-new-post>
