/* .max-vh{
  max-height: 92vh;
  height: 100%;
} */

/*****************/
.txt-name-user {
  font-weight: 500;
  color: #515151;
}

.img-container {
  width: 100%;
  height: 100%;
  max-height: 350px;
}

.img-radar {
  width: 100%;
  height: 100%;
  max-height: 310px;
}

/*** ************* ***/
/*** SideNavRight  ***/
.sidenav-right{
  width: 300px;
}

.img-perfil-sidenav{
  width: 140px;
  height: 140px;
  border-radius: 100%;
  object-fit: cover;
}

.sidenav-sair{
  font-size: 28px;
  font-weight: 500;
  cursor: pointer;
}

.sidenav-nome{
  font-weight: 600;
  color:#515151;
}

.sidenav-text-menu{
  font-size: 1.2em;
  font-weight: 500;
  color:#515151;
  cursor: pointer;
  outline: none;
}

.sidenav-text-menu:hover{
  color: #4F0B73;
}

.sidenav-text-menu-active{
  color: #4f0b73;
}
