<section class="shadow bg-white rounded mt-4 px-4 py-3">
  <div>
    <h6>Paixões:</h6>
  </div>
  <form [formGroup]="passionsForm">
    <div *ngFor="let passion of passions" class="d-flex align-items-center py-2">
      <label [for]="passion.name" class="mb-0 text-nowrap label-container">
        <input type="checkbox" [name]="passion.name" [formControlName]="passion.name"
          (change)="checkControl()">
        <span class="span-checkmark"></span>
        {{passion.name}}
      </label>
    </div>
    <div *ngIf="passions.length === 0">
      <p class="mb-0 font-size14px">
        Nenhum registro encontrado
      </p>
    </div>
  </form>

</section>
