<section class="row px-1 pt-4">
  <div class="col-12 px-3">
    <h6 class="txt-roxo font-weight-bold">Entidades</h6>
    <hr class="m-0"/>
  </div>
  <div class="col-lg-4 py-2" *ngFor="let organization of organizations?.data">
    <div class="d-flex shadow bg-white rounded p-3 cursor-pointer justify-content-between align-items-center" style="margin: 1px;" routerLink="/entidade/{{organization.id}}">
      <div>
        <img *ngIf="organization?.image_url"  [src]="organization?.image_url" alt="imagem  de perfil" class="image-per">
        <img *ngIf="!organization?.image_url"  src="../../../../../../../assets/img/organization.png" alt="imagem  de perfil" class="image-per">
      </div>
      <div class="px-1">
        <h5>{{organization?.name}}</h5>
        <p class="breaking">{{organization?.description}}</p>
      </div>
      <div class="align-items-center">
        <img src="../../../../../../../assets/svg/arrow-right.svg" class="seta">
      </div>
    </div>
  </div>
  <div class="col-lg-4 py-2" *ngIf="organizations?.data.length === 0 || !organizations">
    <div class="d-flex p-3 justify-content-between align-items-center" style="margin: 1px;">
      Nenhuma entidade encontrada!
    </div>
  </div>
  <div *ngIf="organizations" class="d-flex justify-content-end align-items-end w-100 mb-5">
    <pagination-template #p="paginationApi" (pageChange)="changePage($event)">
      <div class="d-flex align-items-end justify-content-end mt-5">
        <div class="pagination-previous" [class.disabled]="p.isFirstPage()">
          <img class="prev" (click)="previous()">
        </div>
        <div class="pagination-next" [class.disabled]="p.isLastPage()">
          <img class="next" (click)="next()">
        </div>
      </div>
    </pagination-template>
  </div>
</section>
