.seta{
  width: 25px;
  height: 25px;
}

.image-perfil-evento{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.breaking{
  word-wrap: break-word;
  word-break: break-all;
}
