<app-medium-spinner></app-medium-spinner>
<section class="row px-1 pt-4">
  <div class="col-lg-4 py-2" *ngFor="let event of events?.data | paginate:
  { itemsPerPage: events?.perPage, currentPage: page, totalItems: events?.total }">
    <div class="d-flex shadow bg-white rounded p-3 cursor-pointer justify-content-between align-items-center" style="margin: 1px;" routerLink="/evento/{{event.id}}">
      <div>
        <img *ngIf="event?.image_url"  [src]="event?.image_url" alt="imagem  de perfil" class="image-perfil-evento">
        <img *ngIf="!event?.image_url"  src="../../../../../../../assets/img/event_rounded.png" alt="imagem  de perfil" class="image-perfil-evento">
      </div>
      <div class="px-1">
        <h5>{{event?.name}}</h5>
        <p class="breaking">{{event?.description}}</p>
      </div>
      <div class="align-items-center">
        <img src="../../../../../../../assets/svg/arrow-right.svg" class="seta">
      </div>
    </div>
  </div>

  <section *ngIf="events?.data?.length === 0" class="col-lg-4">
    <div class="d-flex shadow bg-white rounded p-3 justify-content-center align-items-center" style="margin: 1px;">
      <h6 class="m-0">Nenhum evento encontrado em sua rede</h6>
    </div>
  </section>
</section>
<pagination-template #p="paginationApi" (pageChange)="changePage($event)">
  <div class="d-flex justify-content-end mt-5">
    <div class="pagination-previous" [class.disabled]="p.isFirstPage()">
      <img class="prev" (click)="p.previous()">
    </div>

    <div class="pagination-next" [class.disabled]="p.isLastPage()">
      <img class="next" (click)="p.next()">
    </div>
  </div>
</pagination-template>
