.seta{
  width: 25px;
  height: 25px;
}

.image-perfil-pessoas{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.breaking{
  word-wrap: break-word;
  word-break: break-all;
}

pagination-template div div img{
  cursor: pointer;
}

.prev {
  content: url('../../../../../../../assets/svg/chevron-left.svg');
}
.prev:hover {
  content: url('../../../../../../../assets/svg/chevron-left-hover.svg');
}

.next {
  content: url('../../../../../../../assets/svg/chevron-right.svg');
}
.next:hover {
  content: url('../../../../../../../assets/svg/chevron-right-hover.svg');
}
