<section class="container-fluid">
  <section class="row">
    <div class="col-lg-11 pt-4">
      <div class="row shadow rounded bg-white p-5" style="margin: 1px">
        <div
          class="col-lg-3 d-flex justify-content-center col-md-12 d-md-flex justify-content-md-center col-sm-12 d-sm-flex justify-content-sm-center">
          <img *ngIf="user?.image_url != null" [src]="user?.image_url" class="img-perfil" />
          <img *ngIf="user?.image_url === null" src="../../../../../assets/img/user.svg" class="img-perfil" />
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 txt-c-cinza d-flex flex-column">
          <h3 class="font-weight-bold">
            {{ user?.name }}&nbsp;<img *ngIf="(!id && isLoggedUser) || (id && isLoggedUser)"
              src="../../../../../../../assets/svg/edit.svg" (click)="gotoEditProfile()" class="cursor-pointer"
              alt="lápis de editar" />
          </h3>
          <p>
            {{ renderDescription(user?.description)
            }}{{ showMoreDescription ? "..." : "" }}
            <span (click)="showMoreDescription = !showMoreDescription"
              class="show-more-description">{{showMoreDescription ? 'Ver mais' : 'Ver menos'}}</span>
          </p>
          <div
            class="row px-2 flex-grow-1 align-items-end justify-content-lg-start justify-content-md-start justify-content-md-end justify-content-center">
            <a *ngIf="user?.youtube" class="mx-2" [href]="user?.youtube" target="_blank">
              <img src="../../../../../../../assets/svg/social/youtube.svg" alt="youtube" class="social-icons-perfil" />
            </a>
            <a *ngIf="user?.facebook" class="mx-2" [href]="user?.facebook" target="_blank">
              <img src="../../../../../../../assets/svg/social/facebook.svg" alt="facebook"
                class="social-icons-perfil" />
            </a>
            <a *ngIf="user?.instagram" class="mx-2" [href]="user?.instagram" target="_blank">
              <img src="../../../../../../../assets/svg/social/instagram.svg" alt="instagram"
                class="social-icons-perfil" />
            </a>
            <a *ngIf="user?.twitter" class="mx-2" [href]="user?.twitter" target="_blank">
              <img src="../../../../../../../assets/svg/social/twitter.svg" alt="twitter" class="social-icons-perfil" />
            </a>
            <a *ngIf="user?.site" class="mx-2" [href]="user?.site" target="_blank">
              <img src="../../../../../../../assets/svg/social/site.svg" alt="site" class="social-icons-perfil" />
            </a>
          </div>
        </div>
        <div class="col-lg-5 col-md-12">
          <div class="row">
            <div class="col-lg-4">
              <div class="bg-c-roxo p-2 mt-1">
                <h4 class="title-card-purple">
                  {{ user?.__meta__?.total_inspireds }}
                </h4>
                <p class="mb-0 text-center">Inspirando</p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="bg-c-roxo p-2 mt-1">
                <h4 class="title-card-purple">
                  {{ user?.__meta__?.total_inspirations }}
                </h4>
                <p class="mb-0 text-center">
                  {{
                    user?.__meta__?.total_inspirations == 1
                      ? "Inspirado"
                      : "Inspirados"
                  }}
                </p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="bg-c-roxo p-2 mt-1">
                <h4 class="title-card-purple">
                  {{ totalPartners }}
                </h4>
                <p class="mb-0 text-center">
                  {{
                    user?.__meta__?.total_event_partners +
                      user?.__meta__?.total_project_partners +
                      user?.__meta__?.total_organization_partners ==
                    1
                      ? "Parceria"
                      : "Parcerias"
                  }}
                </p>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="id && !isLoggedUser">
            <div class="col-lg-12 py-4">
              <button mat-raised-button class="btn-roxo w-100" (click)="setInspiration()">
                {{ isInspired ? "Remover inspiração" : "Inspirar-se" }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <main class="row">
    <section class="col-lg-11 pt-4">
      <div class="row">
        <div class="col-lg-8 col-md-12 col-sm-12 order-1 order-lg-0">
          <app-post [posts]="myPosts"></app-post>
          <div class="mt-5 pt-5">
            <app-medium-spinner *ngIf="spinnerPost"></app-medium-spinner>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 pt-lg-4 pt-md-0 pt-sm-0 order-0 order-lg-1">
          <app-partial-spinner *ngIf="!spinnerSide"></app-partial-spinner>
          <app-dropdown-passions [myPassions]="user?.passions"></app-dropdown-passions>
          <app-dropdown-projects [idUserProject]="user?.id"></app-dropdown-projects>
          <app-dropdown-partnerships></app-dropdown-partnerships>
          <app-dropdown-events [idUserEvent]="user?.id"></app-dropdown-events>
        </div>
      </div>
    </section>
  </main>
</section>
