.img-perfil {
  width: 150px;
  height: 150px;

  object-fit: cover;

  border-radius: 50%;
}

.bg-c-roxo {
  background: #FAF1FF;
  color: #515151;
}

.txt-c-cinza {
  color: #515151;
}

.title-card-purple {
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.52px;
  color: #515151;
  margin-bottom: 0;
}
