<section class="fundo">
  <section class="container v-align-center">
    <section class="row justify-content-center align-items-center">
      <div class="col-lg-6 my-auto">
        <div class="row mx-1 bg-white shadow py-5 px-3 rounded">
          <form class="w-auto" [formGroup]="formulario" (ngSubmit)="onSubmit()" >
            <div class="row">
              <div class="col-lg-12 d-flex justify-content-center">
                <img
                  class="img-fluid"
                  src="../../../../../assets/img/logo/logo.png"
                  alt="logo"
                />
              </div>

              <div class="col-lg-12 d-flex justify-content-center text-center mt-5 mb-2">
                <h4><strong>Esqueci minha senha</strong></h4>
              </div>

              <div class="col-lg-12 d-flex justify-content-center text-center">
                <span>Insira seu e-mail a baixo</span>
              </div>

              <div class="col-lg-12 d-flex justify-content-center mt-4">
                <mat-form-field class="full-width">
                  <mat-label>E-mail: </mat-label>
                  <input
                    matInput
                    type="text"
                    name="email"
                    formControlName="email"
                    placeholder="seuemail@email.com"
                    [ngClass]="{
                      'is-invalid':
                        formulario.get('email').touched &&
                        formulario.get('email').invalid
                    }"
                  />
                  <mat-error class="invalid-feedback">
                    Digite corretamente um e-mail válido.
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-lg-12 d-flex justify-content-center mt-4">
                <button mat-raised-button type="submit" class="btn-roxo"> Enviar </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </section>
</section>
