.chat-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

#chat-content {
  height: 650px;
  padding-bottom: 45px;
  overflow-y: auto;
}

.message-content {
  width: 100%;
  max-width: 350px;
  background-color: #e9e9e9;
}

.btn-acc, .btn-dec{
  width: 100%;
  max-width: 100px;
  height: 40px;
  border-radius: 3px;
  border: none;
  outline: none;
}

.unset{
  all: unset;
}

.btn-acc{
  color: #fff;
  background: linear-gradient(269deg, #392244 0%, #560F7B 100%, #FC9970 100%);
}

.btn-dec{
  color: #fff;
  background: linear-gradient(269deg, #FB0101 0%, #FF3B3B 100%, #FC9970 100%);
}

.btn-group {
  bottom: 0;
  position: absolute;

  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #FFFFFF 0% 0% no-repeat padding-box;

  box-shadow: 0px -5px 9px #D2D2D263;
  margin: 0;
}

.btn-vermelho {
  background: linear-gradient(269deg, #FB0101 0%, #FF3B3B 100%, #FC9970 100%);
  color: white;

  height: 45px;

  border-radius: 3px;
}

.btn-vermelho,
.btn-roxo {
  width: 50%;
}
