<div *ngIf="!object">
  <div class="d-flex justify-content-center align-items-center" style="height: 600px;">
    <h4 class="txt-roxo">Selecione uma proposta</h4>
  </div>
</div>
<div *ngIf="object">
  <div class="row p-3 align-items-center rounded shadow bg-white">
    <img [src]="object?.image_url ? object?.image_url : '/assets/img/user.svg'" class="chat-img">
    <h4 class="pl-2 m-0">{{ object?.name | titlecase }}</h4>
  </div>

  <div class="row">
    <div class="col-lg-12" id="chat-content">

      <span *ngIf="typeMessage === 'Send'" class="unset">
        <div class="d-flex ml-2 ml-lg-4 my-4 align-items-end" *ngFor="let msg of object?.myProfile; let i = index">
          <div class="d-block px-3 py-2 rounded message-content">
            <p class="my-1 font-weight-bold ">Para Quem:</p>
            <p>{{msg.name}}</p>
            <p class="my-1 font-weight-bold" *ngIf="msg?.pivot?.shortage_id" >Tipo de Ajuda:</p>
            <p>{{handleShortageName(msg.pivot.shortage_id)}}</p>
            <p class="my-1 font-weight-bold" *ngIf="msg?.pivot?.maintenance_time_id" >Ajuda:</p>
            <p>{{handleMaintenanceTime(msg?.pivot?.maintenance_time_id)}}</p>
            <p class="my-1 font-weight-bold">Mensagem:</p>
            <p>{{ msg.pivot.message }}</p>
            <p *ngIf="msg.pivot.partnership_agreement" class="my-1 font-weight-bold">Acordo público de parceria:</p>
            <p *ngIf="msg.pivot.partnership_agreement">{{msg.pivot.partnership_agreement | currency: 'BRL'}}</p>
            <div class="d-flex justify-content-center">
              <button mat-button class="btn-acc mx-2" (click)="acceptPartnership(msg.pivot.id, i)">Aceitar</button>
              <button mat-button class="btn-dec mx-2" (click)="declinePartnership(msg.pivot.id)">Recusar</button>
            </div>
          </div>
          <span class="pl-1">{{msg?.pivot.created_at | date: 'HH:mm' : '0300' }}</span>
        </div>
      </span>

      <span *ngIf="typeMessage === 'Received'" class="unset">
        <div class="d-flex ml-2 ml-lg-4 my-4 align-items-end" *ngFor="let msg of object?.myProfile; let i = index">
          <div class="d-block px-3 py-2 rounded message-content">
            <p class="my-1 font-weight-bold ">De quem:</p>
            <p>{{msg.name}}</p>
            <p class="my-1 font-weight-bold ">Para quem:</p>
            <p>{{object?.name}}</p>
            <p class="my-1 font-weight-bold" *ngIf="msg.pivot?.shortage_id">Tipo de Ajuda:</p>
            <p>{{handleShortageName(msg.pivot.shortage_id)}}</p>
            <p class="my-1 font-weight-bold" *ngIf="msg.pivot?.maintenance_time_id">Ajuda:</p>
            <p>{{handleMaintenanceTime(msg.pivot?.maintenance_time_id)}}</p>
            <p class="my-1 font-weight-bold">Mensagem:</p>
            <p>{{ msg.pivot.message }}</p>
            <p *ngIf="msg.pivot.partnership_agreement" class="my-1 font-weight-bold">Acordo público de parceria:</p>
            <p *ngIf="msg.pivot.partnership_agreement">{{msg.pivot.partnership_agreement | currency: 'BRL'}}</p>
            <div class="d-flex justify-content-center">
            </div>
          </div>
          <span class="pl-1">{{msg?.pivot.created_at | date: 'shortTime' : 'UTC -3'}}</span>
        </div>
      </span>

    </div>
  </div>
  <div class="row" >
    <div class="col-lg-12 btn-group mt-2 py-3 justify-content-center">
      <button *ngIf="typeMessage === 'Send'" mat-raised-button class=" btn-roxo mr-3" (click)="acceptAllPartnership()">Aceitar Todos</button>
      <button *ngIf="typeMessage === 'Send'" mat-raised-button class=" btn-vermelho" (click)="declineAllPartnership()">Recusar Todos</button>
    </div>
  </div>
</div>
