<section class="fundo ">
  <section class="container v-align-center">
    <section class="row justify-content-center align-items-center ">
      <div class="col-lg-6 my-auto">
        <div class="row mx-1 bg-white shadow py-5 px-3 rounded">
          <form [formGroup]="formulario" (ngSubmit)="onSubmit()" class="w-auto">
            <div class="row">
              <div class="col-lg-12 d-flex justify-content-center">
                <img class="img-fluid" src="../../../../../assets/img/logo/logo.png" alt="logo" />
              </div>

              <div class="col-lg-12 text-center mt-3">
                <h4><strong>Nova Senha</strong></h4>
                <p>Digite sua senha.</p>
              </div>

              <div class="col-lg-12 d-flex justify-content-center mt-1">
                <mat-form-field class="full-width">
                  <mat-label>Nova Senha: </mat-label>
                  <input matInput type="password" name="password" formControlName="password" placeholder="Senha"
                    [ngClass]="{
                      'is-invalid':
                        formulario.get('password').touched &&
                        formulario.get('password').invalid
                    }" />
                  <mat-error class="font-size13px invalid-feedback">
                    Digite uma senha.
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-lg-12 d-flex justify-content-center mt-2">
                <mat-form-field class="full-width">
                  <mat-label>Confirme a senha: </mat-label>
                  <input matInput type="password" name="password" formControlName="confirmPassword"
                    placeholder="Confirme a senha" [ngClass]="{
                      'is-invalid':
                        formulario.get('confirmPassword').touched &&
                        formulario.get('confirmPassword').invalid
                    }" />
                  <mat-error class="font-size13px invalid-feedback">
                    Confirme a senha.
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-lg-12 d-flex justify-content-center mt-3">
                <button mat-raised-button type="submit" class="btn-roxo">
                  Salvar
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </section>
</section>
