<section class="container-fluid">
  <div class="row">
    <!-- MENU -->
    <div class="col-lg-12 px-5 pt-3 pb-0 mt-4 mb-2 shadow bg-white rounded" style="margin: 1px">
      <div class="row justify-content-between">
        <a class="px-2 cursor-pointer font-size14px menu " routerLink="pessoas"
          routerLinkActive="menu-active">Pessoas</a>
        <a class="px-2 cursor-pointer font-size14px menu " routerLink="entidades"
          routerLinkActive="menu-active">Entidades</a>
        <a class="px-2 cursor-pointer font-size14px menu " routerLink="projetos"
          routerLinkActive="menu-active">Projetos</a>
        <a class="px-2 cursor-pointer font-size14px menu " routerLink="eventos"
          routerLinkActive="menu-active">Eventos</a>
        <a class="px-2 cursor-pointer font-size14px menu " routerLink="localizacao"
          routerLinkActive="menu-active">Localização</a>
        <a class="px-2 cursor-pointer font-size14px menu " routerLink="paixoes"
          routerLinkActive="menu-active">Paixões</a>
        <a class="px-2 cursor-pointer font-size14px menu " routerLink="demandas"
          routerLinkActive="menu-active">Carências</a>
      </div>
    </div>
  </div>
</section>
<!-- ROUTER OUTLET -->
<section>
  <router-outlet></router-outlet>
</section>
