.menu, .menu-active{
  text-decoration: none;
  color: #4F0B73;
  padding-bottom:7px;
  font-weight: 700;
}
.menu:hover{
  color: #7e33a7;
  transition: 0.2s linear;
  border-bottom: 3px solid #7e33a7;
}
.menu-active{
  border-bottom: 3px solid #4F0B73;
}
