<app-medium-spinner></app-medium-spinner>
<section class="row px-1 pt-4">
  <div class="col-lg-4 py-2" *ngFor="let organization of organizations?.data | paginate:
  {itemsPerPage: organizations?.perPage, currentPage: page, totalItems: organizations?.total}">
    <div class="d-flex shadow bg-white rounded p-3 cursor-pointer justify-content-between align-items-center" style="margin: 1px;" routerLink="/entidade/{{organization.id}}">
      <div>
        <img *ngIf="organization?.image_url"  [src]="organization?.image_url" alt="imagem  de perfil" class="image-perfil-entidades">
        <img *ngIf="!organization?.image_url"  src="../../../../../../../assets/img/organization.png" alt="imagem  de perfil" class="image-perfil-entidades">
      </div>
      <div class="px-1">
        <h5>{{organization?.name}}</h5>
        <p class="breaking">{{organization?.description}}</p>
      </div>
      <div class="align-items-center">
        <img src="../../../../../../../assets/svg/arrow-right.svg" class="seta">
      </div>
    </div>
  </div>

  <section *ngIf="organizations?.data.length === 0" class="col-lg-4">
    <div class="d-flex shadow bg-white rounded p-3 justify-content-center align-items-center" style="margin: 1px;">
      <h6 class="m-0">Nenhuma entidade encontrado em sua rede</h6>
    </div>
  </section>
</section>
<pagination-template #p="paginationApi" (pageChange)="changePage($event)">
  <div class="d-flex justify-content-end mt-5">
    <div class="pagination-previous" [class.disabled]="p.isFirstPage()">
      <img class="prev" (click)="p.previous()">
    </div>

    <div class="pagination-next" [class.disabled]="p.isLastPage()">
      <img class="next" (click)="p.next()">
    </div>
  </div>
</pagination-template>
