<section class="container-fluid">
  <section class="row">
    <div class="col-lg-11 pt-4">
      <div class="row" style="margin: 1px 1px 0 1px">
        <img [src]="event?.image_url ? event?.image_url : 'assets/img/img_event_default.png' " class="image_evento"
          alt="Image evento" />
      </div>
      <div class="row shadow border-r bg-white p-4 justify-content-between" style="margin: 0px 1px 1px 1px">
        <span class="d-flex align-items-center">
          <h3 class="font-b">{{event?.name}}
            <img *ngIf="ownerMode" class="px-1 cursor-pointer" src="../../../../../../../assets/svg/eye.svg"
              (click)="ownerMode = !ownerMode" />
            <img *ngIf="ownerMode" class="px-1 cursor-pointer" src="../../../../../../../assets/svg/edit.svg"
              routerLink="/evento/{{eventId}}/editar" />
          </h3>
        </span>
        <div class="d-flex flex-wrap">
          <button *ngIf="ownerMode" mat-raised-button class="btn-roxo-claro" routerLink="/chat">Solicitações de
            parcerias</button>
          <button *ngIf="!ownerMode" mat-raised-button class="btn-roxo mx-2"
            (click)="confirmPresence()">{{ isConfirmed? 'Remover presença' : 'Confirmar presença'}}</button>
          <button *ngIf="!ownerMode" mat-raised-button class="btn-roxo-claro mx-2" (click)="openDialog()">Propor
            parceria</button>
        </div>
      </div>
    </div>
  </section>
  <main class="row">
    <section class="col-lg-11 pt-4">
      <div class="row">
        <div class="col-lg-8 col-md-12 col-sm-12">
          <div class="row shadow bg-white rounded p-3" style="margin: 1px">
            <div class="col-12 p-0">
              <h5 class="font-b" style="color: #292929; margin-bottom: 10px;">
                Sobre o evento:
              </h5>
              <p>{{event?.description}}</p>
              <hr />
              <p *ngIf="event?.show_cellphone" style="margin-bottom: 5px;">
                <img src="../../../../../../../assets/svg/phone.svg" />
                {{event?.cellphone | mask:'(00) 0 0000-0000' }}
              </p>
              <p *ngIf="event?.show_telephone" style="margin-bottom: 5px;">
                <img src="../../../../../../../assets/svg/phone.svg" />
                {{event?.telephone | mask:'(00) 0 0000-0000' }}
              </p>
              <p style="margin-bottom: 5px;">
                <img src="../../../../../../../assets/svg/frequency.svg" style="width: 25px; height: 25px;" />
                {{ getFrequency(event?.frequency) }}
              </p>
              <p style="margin-bottom: 5px;">
                <img src="../../.../../../../../../../assets/svg/clock.svg" /> {{event?.date | date}} -
                {{event?.start_time}}
              </p>
              <p style="margin-bottom: 5px;">
                <img src="../../.../../../../../../../assets/svg/map-pin.svg" /> {{event?.address_street}},
                {{event?.local}} - {{event?.address_city}} - {{event?.address_state}}
                <a href="https://www.google.com.br/maps" class="ver-map d-flex">Ver no Google maps</a>
              </p>
              <hr *ngIf="event?.youtube || event?.facebook || event?.instagram || event?.twitter || event?.site" />
              <p *ngIf="event?.youtube || event?.facebook || event?.instagram || event?.twitter || event?.site"
                class="font-size16px font-weight-bold mb-2">Redes Sociais:</p>
              <div *ngIf="event?.youtube || event?.facebook || event?.instagram || event?.twitter || event?.site"
                class="d-flex justify-content-start">
                <a *ngIf="event?.youtube" class="mx-2" [href]="'http://'+event?.youtube" target="_blank">
                  <img src="../../../../../../../assets/svg/social/youtube.svg" alt="youtube" class="social-icons">
                </a>
                <a *ngIf="event?.facebook" class="mx-2" [href]="'http://'+event?.facebook" target="_blank">
                  <img src="../../../../../../../assets/svg/social/facebook.svg" alt="facebook" class="social-icons">
                </a>
                <a *ngIf="event?.instagram" class="mx-2" [href]="'http://'+event?.instagram" target="_blank">
                  <img src="../../../../../../../assets/svg/social/instagram.svg" alt="instagram" class="social-icons">
                </a>
                <a *ngIf="event?.twitter" class="mx-2" [href]="'http://'+event?.twitter" target="_blank">
                  <img src="../../../../../../../assets/svg/social/twitter.svg" alt="twitter" class="social-icons">
                </a>
                <a *ngIf="event?.site" class="mx-2" [href]="'http://'+event?.site" target="_blank">
                  <img src="../../../../../../../assets/svg/social/site.svg" alt="site" class="social-icons">
                </a>
              </div>
            </div>
          </div>
          <div *ngIf="posts" class="col-lg-12 p-0 d-none d-sm-none d-md-none d-lg-block">
            <app-post [posts]="posts"></app-post>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 pt-4 pt-sm-4 pt-md-4 pt-lg-0 ">
          <app-dropdown-shortages [shortages]="event?.shortages" [kind_of_help]="event?.kind_of_help" className="mb-3"></app-dropdown-shortages>
          <app-dropdown-confirmed-people [confirmedPeople]="confirmedPeople?.total"></app-dropdown-confirmed-people>
          <app-dropdown-admin-owner [idOwner]="handleReturnId(event)" [administrators]="event?.administrators" [typeProfile]="handleTypeOwnerAdmin(event)" ></app-dropdown-admin-owner>
        </div>

        <div *ngIf="posts" class="col-lg-12 d-block d-sm-block d-md-block d-lg-none">
          <app-post [posts]="posts"></app-post>
        </div>

      </div>
    </section>
  </main>
</section>
<app-full-spinner></app-full-spinner>
