<section class="fundo">
  <section class="container v-align-center">
    <section class="row justify-content-center align-items-center">
      <div class="col-lg-6 my-auto">
        <div class="row mx-1 bg-white shadow py-5 px-3 rounded">
          <form [formGroup]="formulario" (ngSubmit)="onSubmit()" class="w-auto">
            <div class="row">
              <div class="col-lg-12 d-flex justify-content-center">
                <img
                  class="img-fluid"
                  src="../../../../../assets/img/logo/logo.png"
                  alt="logo"
                />
              </div>

              <div
                class="col-lg-12 d-flex justify-content-center text-center mt-5 mb-2"
              >
                <h4><strong>Verificar código</strong></h4>
              </div>

              <div class="col-lg-12 d-flex justify-content-center text-center">
                <span>Digite o código recebido em seu e-mail.</span>
              </div>

              <div class="col-lg-12 d-flex justify-content-center mt-4">
                <mat-form-field class="full-width">
                  <mat-label>Código: </mat-label>
                  <input
                    matInput
                    type="text"
                    name="code"
                    formControlName="code"
                    placeholder="Código"
                    [ngClass]="{
                      'is-invalid':
                        formulario.get('code').touched &&
                        formulario.get('code').invalid
                    }"
                  />
                  <mat-error class="invalid-feedback">
                    Insira o código que você recebeu em seu e-mail.
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-lg-12 d-flex justify-content-center mt-3">
                <button mat-raised-button type="submit" class="btn-roxo">
                  Verificar
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </section>
</section>
