.full-width {
  width: 60%;
}

.v-align-center{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fundo {
  width: 100vw;
  height: 100vh;
  opacity: 1;
  background: url(../../../../../assets/img/fundo.png);
  /* background: #392244 0% 0% no-repeat padding-box; */
  /* background: linear-gradient(90deg, #560f7b 0%, #392244 100%); */
}
