<section class="container-fluid">
  <section class="row">
    <div class="col-lg-11 pt-4">
      <div class="row shadow rounded bg-white p-5" style="margin: 1px">
        <div
          class="col-lg-3 d-flex justify-content-center col-md-12 d-md-flex justify-content-md-center col-sm-12 d-sm-flex justify-content-sm-center">
          <img *ngIf="organization?.image_url != null" [src]="organization?.image_url" class="img-perfil" />
          <img *ngIf="organization?.image_url === null" src="../../../../../assets/img/user.svg" class="img-perfil" />
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 txt-c-cinza d-flex flex-column">
          <h3 class="font-weight-bold">
            {{organization?.name}}
            <img *ngIf="ownerMode" src="../../../../../../../assets/svg/eye.svg" (click)="ownerMode = !ownerMode"
              style="cursor: pointer;" />
            <img *ngIf="ownerMode" src="../../../../../../../assets/svg/edit.svg"
              routerLink="/entidade/{{organization?.id}}/editar" class="cursor-pointer" alt="lápis de editar">
          </h3>

          <p>
            {{ renderDescription(organization?.description)
            }}{{ showMoreDescription ? "..." : "" }}
            <span (click)="showMoreDescription = !showMoreDescription"
              class="show-more-description">{{showMoreDescription ? 'Ver mais' : 'Ver menos'}}</span></p>

          <p *ngIf="organization?.philantropy_record">Registro de filantropia:
            {{organization?.philantropy_record}}</p>
          <p><img src="../../../../../../../assets/svg/map-pin.svg" alt="Ícone mapa"> {{organization?.address_state}} -
            {{organization?.address_city}}</p>
          <p *ngIf="organization?.show_telephone">
            <img src="../../../../../../../assets/svg/phone.svg" alt="Ícone telefone">
            {{organization?.telephone | mask:'(00) 0 0000-0000' }}
          </p>
          <p *ngIf="organization?.show_cellphone">
            <img src="../../../../../../../assets/svg/phone.svg" alt="Ícone telefone">
            {{organization?.cellphone | mask:'(00) 0 0000-0000' }}
          </p>
          <div class="row px-2 flex-grow-1 align-items-end justify-content-lg-start
            justify-content-md-start justify-content-md-end justify-content-center">
            <a *ngIf="organization?.youtube" class="mx-2" [href]="'http://'+organization?.youtube" target="_blank">
              <img src="../../../../../../../assets/svg/social/youtube.svg" alt="youtube" class="social-icons-perfil">
            </a>
            <a *ngIf="organization?.facebook" class="mx-2" [href]="'http://'+organization?.facebook" target="_blank">
              <img src="../../../../../../../assets/svg/social/facebook.svg" alt="facebook" class="social-icons-perfil">
            </a>
            <a *ngIf="organization?.instagram" class="mx-2" [href]="'http://'+organization?.instagram" target="_blank">
              <img src="../../../../../../../assets/svg/social/instagram.svg" alt="instagram"
                class="social-icons-perfil">
            </a>
            <a *ngIf="organization?.twitter" class="mx-2" [href]="'http://'+organization?.twitter" target="_blank">
              <img src="../../../../../../../assets/svg/social/twitter.svg" alt="twitter" class="social-icons-perfil">
            </a>
            <a *ngIf="organization?.site" class="mx-2" [href]="'http://'+organization?.site" target="_blank">
              <img src="../../../../../../../assets/svg/social/site.svg" alt="site" class="social-icons-perfil">
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-md-12">
          <div class="row">
            <div class="col-lg col-md col-sm col-12">
              <div class="bg-c-roxo p-2 mt-1">
                <h4 class="title-card-purple">{{organization?.__meta__?.total_inspireds}}</h4>
                <p class="mb-0 text-center">Inspirando</p>
              </div>
            </div>
            <!-- <div class="col-lg-4">
              <div class="bg-c-roxo p-2 mt-1">
                <h4 class="title-card-purple">{{organization?.totalInspirations}}</h4>
                <p class="mb-0 text-center">inspirados</p>
              </div>
            </div> -->
            <div class="col-lg col-md col-sm col-12">
              <div class="bg-c-roxo p-2 mt-1">
                <h4 class="title-card-purple">{{totalPartnership}}</h4>
                <p class="mb-0 text-center">Parcerias</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 pt-3">
              <button *ngIf="ownerMode" mat-raised-button class="btn-roxo-claro w-100 text-small-sm"
                routerLink="/chat">Solicitações
                de parcerias</button>
              <button *ngIf="!ownerMode" mat-raised-button class="btn-roxo w-100 mb-2"
                (click)="setInspiration()">{{ isInspired ? 'Remover Inspiração' : 'Inspirar-se'}}</button>
              <button *ngIf="!ownerMode" mat-raised-button class="btn-roxo-claro w-100" (click)="openDialog()">Propor
                Parceria</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <main class="row">
    <section class="col-lg-11 pt-4">
      <div class="row">
        <div class="col-lg-8 col-md-12 col-sm-12 order-1 order-sm-1 order-md-1 order-lg-0">
          <app-post [posts]="myPosts"></app-post>
          <div class="mt-5 pt-5">
            <app-medium-spinner></app-medium-spinner>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 pt-lg-4 pt-md-0 pt-sm-0 order-0 order-sm-0 order-md-0 order-lg-1">
          <app-dropdown-passions [myPassions]="organization?.passions"></app-dropdown-passions>
          <app-dropdown-projects></app-dropdown-projects>
          <app-dropdown-partnerships></app-dropdown-partnerships>
          <app-dropdown-events></app-dropdown-events>
          <app-dropdown-admin-owner [idOwner]="handleReturnId(organization)"
            [administrators]="organization?.administrators" [typeProfile]="handleTypeOwnerAdmin(organization)">
          </app-dropdown-admin-owner>
        </div>
      </div>
    </section>
  </main>
</section>
