.img-perfil {
  width: 180px;
  height: 180px;

  object-fit: cover;

  border-radius: 50%;
}

.bg-c-roxo {
  background: #FAF1FF;
  color: #515151;
}

.txt-c-cinza {
  color: #515151;
}

.title-card-purple {
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.52px;
  color: #515151;
  margin-bottom: 0;
}

@media(max-width: 1300px){
  .text-small-sm{
    font-size: 10px;
  }
}

@media(max-width: 991px){
  .text-small-sm{
    font-size: 14px;
  }
}

@media(max-width: 370px){
  .text-small-sm{
    font-size: 10px;
  }
}
