<section class="my-3">
  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <strong>Eventos <span>({{myEvents?.length}})</span></strong>
        </mat-panel-title>
        <!-- <mat-panel-description>
      </mat-panel-description> -->
      </mat-expansion-panel-header>
      <section class="d-flex justify-content-between border-event cursor-pointer px-1 py-2" *ngFor="let event of myEvents" routerLink="/evento/{{event?.id}}">
        <div class="d-flex" >
          <img [src]="event?.image_url" class="image_event" alt="" />
          <div class='d-flex justify-content-center align-items-center'>
            <span class="pl-2">
              <h5 class="font-weight-bold">{{event?.name}}</h5>
              <!-- <p style="margin-bottom: 5px;">
                <img src="../../.../../../../../../../assets/svg/clock.svg" /> {{event?.date | date}} - {{event?.start_time}}
              </p>
              <p style="margin-bottom: 5px;">
                <img src="../../.../../../../../../../assets/svg/map-pin.svg" /> {{event?.address_street}}, {{event?.local}} - {{event?.address_city}} - {{event?.address_state}}
                <a href="https://www.google.com.br/maps" class="ver-map d-flex">Ver no Google maps</a>
              </p> -->
              <span>{{event?.description}}</span>
            </span>
          </div>
        </div>
        <div class="d-flex justify-content-center align-items-center">
          <img src="../../../../assets/svg/arrow-right.svg" class="seta_event" alt="">
        </div>
      </section>
      <section *ngIf="!myEvents || myEvents?.length === 0">
        <span >Nenhum evento encontrado.</span>
      </section>
    </mat-expansion-panel>
  </mat-accordion>
</section>
