<section class="pb-5">
  <div class="bg-tertiary font-size28px p-3">
    <h2 class="text-secondary m-0">
      {{ editMode ? "Editar projeto" : "Criar projeto" }}
    </h2>
  </div>

  <div class="d-flex flex-column flex-md-row px-3">
    <div class="leftside w-100 mr-md-5">
      <div>
        <h2 class="font-size18px font-weight-bold">Proprietário:</h2>
      </div>

      <div>
        <!-- Criar Projeto -->
        <div [formGroup]="projectForm" *ngIf="!editMode"
          class="d-flex align-items-center shadow bg-white rounded px-3 py-2 mt-3 mb-4">
          <img [src]="profile_image" alt="profile image" class="mr-3 profile_thumbnail" />
          <select class="select-user" formControlName="owner" #selectOwner (change)="handleOwner(selectOwner.value)">
            <option value="" hidden selected disabled>
              Selecione um perfil
            </option>
            <option value="user_{{ userSession?.id }}">
              {{ userSession?.name }}
            </option>
            <option *ngFor="let organization of myOrganizations" value="organization_{{ organization.id }}">
              {{ organization.name }}
            </option>
          </select>
          <div *ngIf="
              (projectForm.get('owner').touched &&
                projectForm.get('owner').invalid) ||
              (projectForm.get('owner').invalid && isSubmited)
            ">
            <span class="small text-danger" *ngIf="projectForm.get('owner').errors.required">
              Perfil é um campo obrigatório.
            </span>
          </div>
        </div>
        <!-- Editar Projeto -->
        <div *ngIf="editMode" class="d-flex align-items-center shadow bg-white rounded px-3 py-2 mt-3 mb-4">
          <img [src]="profile_image" alt="profile image" class="mr-3 profile_thumbnail" />
          <span>{{ owner }}</span>
          <!-- Exibir o dono do projeto -->
        </div>

        <!--PROJECT FORM-->
        <form [formGroup]="projectForm" (ngSubmit)="onSubmit()"
          class="d-flex flex-column align-items-center bg-white shadow rounded mb-4 pb-3">
          <!--OWNERS LIST-->
          <div class="mb-5 d-flex justify-content-center align-items-center image-container"
            (click)="attachmentPicker()">
            <img [src]="imgURL" class="project_image" />

            <input type="file" class="d-none" id="attachmentBtn" (change)="onAttachmentSelect($event)" />
          </div>
          <!--END OF OWNERS LIST-->

          <!--INPUT FIELDS-->
          <div class="row w-100 px-lg-5 px-md-3 px-sm-4 px-4">
            <div class="col-sm-12">
              <input type="text" placeholder="Nome do projeto" class="form-control my-2" formControlName="name" />
              <div *ngIf="
                (projectForm.get('name').touched &&
                  projectForm.get('name').invalid) ||
                (projectForm.get('name').invalid && isSubmited)
              ">
                <span class="small text-danger" *ngIf="projectForm.get('name').errors.required">
                  Nome é um campo obrigatório.
                </span>
                <span class="small text-danger" *ngIf="projectForm.get('name').errors.minlength">
                  Nome deve possuir no mínimo 3 caracteres.
                </span>
                <span class="small text-danger" *ngIf="projectForm.get('name').errors.maxlength">
                  Nome deve possuir no máximo 50 caracteres.
                </span>
              </div>
            </div>

            <div class="col-sm-12">
              <textarea autosize placeholder="Descrição" class="form-control my-2" formControlName="description"
                [minRows]="5">
              </textarea>
              <div *ngIf="
                (projectForm.get('description').touched &&
                  projectForm.get('description').invalid) ||
                (projectForm.get('description').invalid && isSubmited)
              ">
                <span *ngIf="projectForm.get('description').errors.required" class="small text-danger">Descrição é
                  obrigatória.</span>
                <span *ngIf="projectForm.get('description').errors.maxlength" class="small text-danger">Descrição deve
                  conter no máximo 250 caracteres</span>
              </div>
            </div>

          </div>

          <div class="w-100 row px-lg-5 px-md-3 px-sm-4 px-4">
            <div class="col-sm-6">
              <select name="address_state" formControlName="address_state" class="input-project my-2" tabindex="7"
                #estados (change)="onStateOptionSelected(estados.value)">
                <option value="" selected disabled hidden>Estado</option>
                <option *ngFor="let estado of locationState" [value]="estado.sigla">
                  {{ estado.nome }}
                </option>
              </select>
              <div *ngIf="
                  (projectForm.get('address_state').touched &&
                    projectForm.get('address_state').invalid) ||
                  (projectForm.get('address_state').invalid && isSubmited)
                ">
                <span class="small text-danger" *ngIf="projectForm.get('address_state').errors.required">
                  Selecione um estado, é obrigatório.
                </span>
              </div>
            </div>
            <div class="col-sm-6">
              <select name="address_city" formControlName="address_city" class="input-project my-2" tabindex="8">
                <option value="" selected disabled hidden>Cidade</option>
                <option *ngFor="let cidade of locationCity" [value]="cidade.nome">
                  {{ cidade.nome }}
                </option>
              </select>
              <div *ngIf="
                  (projectForm.get('address_city').touched &&
                    projectForm.get('address_city').invalid) ||
                  (projectForm.get('address_city').invalid && isSubmited)
                ">
                <span class="small text-danger" *ngIf="projectForm.get('address_city').errors.required">
                  Selecione a cidade, é obrigatório.
                </span>
              </div>
            </div>
          </div>

          <div class="w-100 row px-lg-5 px-md-3 px-sm-4 px-4">
            <div class="col-sm-6">
              <input type="text" name="address_neighborhood" placeholder="Bairro" formControlName="address_neighborhood"
                class="form-control my-2" />
            </div>

            <div class="col-sm-6">
              <input type="text" name="address_street" placeholder="Rua" formControlName="address_street"
                class="form-control my-2" />
            </div>

            <div class="col-sm-6">
              <input type="text" name="address_complement" placeholder="Complemento"
                formControlName="address_complement" class="form-control my-2" />
            </div>

            <div class="col-sm-6">
              <input type="text" name="local" placeholder="Local" formControlName="local" class="form-control my-2"
                tabindex="5" />
            </div>
          </div>

          <div class="w-100 row px-lg-5 px-md-3 px-sm-4 px-4">
            <div class="col-sm-6">
              <input type="text" name="cellphone" formControlName="cellphone" placeholder="Celular" ngxPhoneMaskBr
                class="form-control my-2" tabindex="13" (change)="checkAndSetValidation()" />
              <span>
                <label for="exibirTelefone" class="checkbox-button" tabindex="14">
                  <input type="checkbox" id="exibirTelefone" name="show_cellphone" formControlName="show_cellphone"
                    class="my-2" />
                  <span></span> Exibir Celular</label>
              </span>
              <div *ngIf="
                  (projectForm.get('cellphone').touched &&
                    projectForm.get('cellphone').invalid) ||
                  (projectForm.get('cellphone').invalid && isSubmited)
                ">
                <span class="small text-danger" *ngIf="projectForm.get('cellphone').errors.required">
                  Celular é obrigatório.
                </span>
              </div>
            </div>

            <div class="col-sm-6">
              <input type="text" class="form-control my-2" ngxPhoneMaskBr name="telephone" formControlName="telephone"
                placeholder="Telefone" (change)="checkAndSetValidation()" />
              <span>
                <label for="exibirCelular" class="checkbox-button" tabindex="11">
                  <input type="checkbox" id="exibirCelular" name="show_cellphone" formControlName="show_telephone"
                    class="my-2" />
                  <span></span> Exibir Telefone</label>
              </span>
              <div *ngIf="
                  (projectForm.get('telephone').touched &&
                    projectForm.get('telephone').invalid) ||
                  (projectForm.get('telephone').invalid && isSubmited)
                ">
                <span class="small text-danger" *ngIf="projectForm.get('telephone').errors.required">
                  Telefone é obrigatório.
                </span>
              </div>
            </div>

            <div class="col-sm-6">
              <input type="text" name="email" formControlName="email" placeholder="E-mail" class="form-control my-2"
                tabindex="15" (change)="checkAndSetValidation()" />
              <div *ngIf="
                  (projectForm.get('email').touched &&
                    projectForm.get('email').invalid) ||
                  (projectForm.get('email').invalid && isSubmited)
                ">
                <span class="small text-danger" *ngIf="projectForm.get('email').errors.required">
                  E-mail é obrigatório.
                </span>
                <span class="small text-danger" *ngIf="projectForm.get('email').errors.email">
                  Insira um e-mail válido, Ex.: email@email.com
                </span>
              </div>
            </div>
          </div>

          <div class="w-100 row px-lg-5 px-md-3 px-sm-4 px-4">
            <section class="col-sm-12 mt-2">
              <h6>Redes sociais(URL)</h6>
            </section>
            <div class="col-sm-6 my-2">
              <input type="text" class="form-control" name="youtube" formControlName="youtube" placeholder="Youtube"
                data-toggle="tooltip" data-placement="top"
                title="Insira o seu canal do Youtube. Ex.: youtube.com/c/NomeDoSeuCanal" />
            </div>
            <div class="col-sm-6 my-2">
              <input type="text" class="form-control" name="facebook" formControlName="facebook" placeholder="Facebook"
                data-toggle="tooltip" data-placement="top"
                title="Insira o seu perfil do Facebook. Ex.: facebook.com/SeuLinkDoPerfil/" />
            </div>
            <div class="col-sm-6 my-2">
              <input type="text" class="form-control" name="instagram" formControlName="instagram"
                placeholder="Instagram" data-toggle="tooltip" data-placement="top"
                title="Insira o seu perfil do Instagram. Ex.: instagram.com/SeuNomeDeUsuario" />
            </div>
            <div class="col-sm-6 my-2">
              <input type="text" class="form-control" name="twitter" formControlName="twitter" placeholder="Twitter"
                data-toggle="tooltip" data-placement="top"
                title="Insira o seu perfil do Twitter. Ex.: twitter.com/NomeDeUsuario" />
            </div>
            <div class="col-sm-6 my-2">
              <input type="text" class="form-control" name="site" formControlName="site" placeholder="Site"
                data-toggle="tooltip" data-placement="top" title="Insira o link do seu site" />
            </div>
          </div>

          <!-- <div class="row" *ngIf="this.editMode">
            <div class="col-sm-12">
              <button mat-raised-button type="button" class="btn-roxo-claro-1" (click)="deleteProject()">
                Excluir
              </button>
            </div>
          </div> -->

          <!--END OF INPUT FIELDS-->

          <!--SUBMIT BUTTON TO BE CLICKED BY OUTSIDE FORM BUTTON-->
          <button #submit type="submit" class="d-none"></button>
        </form>

        <div class="bg-white shadow rounded py-3 px-3 mb-4">
          <div *ngFor="let administrator of administrators; let i = index"
            class="d-flex align-items-center my-2 p-2 administrator-list">
            <img [src]="
                administrator?.image_url
                  ? administrator?.image_url
                  : 'assets/img/user.svg'
              " class="mr-2 profile_thumbnail" />
            <h6 class="mb-0 d-flex justify-content-between w-100">
              {{ administrator.name }}
              <span class="delete-icon mr-3" (click)="deleteAdministrator(i)">
                x
              </span>
            </h6>
          </div>
          <div (click)="toggleModal()" class="hover-gray px-2">
            <h5 class="d-flex align-items-center mb-0">
              <span class="text-primary font-size28px">+</span>
              Adicionar administradores
            </h5>
          </div>
        </div>
      </div>
    </div>
    <div class="rightside">
      <div>
        <app-passions-form [projectForm]="projectForm.value" (passionsEmit)="onPassionChange($event)">
        </app-passions-form>
        <div *ngIf="
            (projectForm.get('passions').touched &&
              projectForm.get('passions').invalid) ||
            (projectForm.get('passions').invalid && isSubmited)
          ">
          <span *ngIf="projectForm.get('passions').errors.required" class="small text-danger">Ao menos uma paixão é
            obrigatório.</span>
        </div>
      </div>

      <div [formGroup]="projectForm" class="mt-3 shadow bg-white rounded p-3 d-flex align-content-center">
        <label class="checkbox-button my-2 ml-2">
          <input type="checkbox" #hasShortages formControlName="has_shortages"
            (change)="handleHasShortages(hasShortages.checked)" />
          Tem carências
          <span></span>
        </label>
      </div>

      <div *ngIf="this.projectForm.get('has_shortages').value">
        <app-shortages-form [projectForm]="projectForm.value" (shortagesEmit)="onShortageChange($event)"
          (maintenanceTimeEmit)="onMaintenanceTimeChange($event)" (kindOfHelpEmit)="onKindOfHelpChange($event)">
        </app-shortages-form>
        <div *ngIf="
            (projectForm.get('shortages').touched &&
              projectForm.get('shortages').invalid) ||
            (projectForm.get('shortages').invalid && isSubmited)
          ">
          <span *ngIf="projectForm.get('shortages').errors.required" class="small text-danger">Ao menos uma carência é
            obrigatório.</span>
        </div>
      </div>
    </div>
  </div>

  <!--PROJECT BUTTONS-->
  <div class="d-flex flex-column align-items-center flex-md-row justify-content-md-center buttons-container">
    <button type="submit" class="btn btn-primary mr-md-4 position-relative" (click)="submit.click()">
      <span *ngIf="!isLoading">{{
        editMode ? "Salvar projeto" : "Criar projeto"
      }}</span>
      <app-partial-spinner></app-partial-spinner>
    </button>
    <button class="btn btn-secondary" routerLink="/projetos">Cancelar</button>
  </div>
  <!--END OF PROJECT BUTTONS-->
</section>

<!--ADMINISTRATORS MODAL-->
<app-add-administrators class="d-none" [administrators]="administrators"
  (administratorsEmit)="administratorsControl($event)" (closeModalEmit)="toggleModal()">
</app-add-administrators>
