.profile_thumbnail {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.project_image {
  max-width: 100%;
  width: auto;
  height: auto;
}

select {
  border: none;
}

.form-group {
  width: 90%;
}

.form-control {
  box-shadow: none;
  padding-left: 15px;
  padding-right: 15px;

  color: #515151;

  box-shadow: 0px 5px 8px #E7EAF070;
  border: 0.3px solid #A2A2A2;
  border-radius: 5px;
}

.image-container {
  width: 100%;
  min-height: 300px;
  background: #CCC;
  cursor: pointer;
  transition: .2s;
}

.light-border {
  border: 1px solid #D1D1D1;
}

.border-shadow {
  box-shadow: 0px 3px 9px #E7EAF0;
}

.hover-gray {
  transition: .2s;
  cursor: pointer;
}

.hover-gray:hover {
  background: #F1F1F1;
}

.administrator-list {
  transition: .3s;
  cursor: pointer;
}

.administrator-list:hover {
  background: #F1F1F1;
}

.delete-icon {
  display: none;
}

.administrator-list:hover .delete-icon {
  display: inline;
}

.input-project {
  width: 100%;
  height: 38px;

  padding-left: 15px;
  padding-right: 15px;

  color: #515151;

  box-shadow: 0px 5px 8px #E7EAF070;
  border: 0.3px solid #A2A2A2;
  border-radius: 5px;
}

@media (min-width: 768px) {
  .rightside {
    width: 30%;
  }

  .buttons-container {
    width: 70%;
  }
}

@media (max-width: 767.9px) {
  .buttons-container {
    width: 100%;
    display: flex;
    margin-top: 15px;
  }

  .buttons-container>button {
    margin-bottom: 15px;
  }

  .buttons-container button {
    width: 80%;
  }
}
