.dialog-content {
  width: 100%;
  height: 100%;
}

.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.dialog-header .dialog-title {
  color: #4F0B73;
  font-size: 24px;
  font-family: Poppins;
  letter-spacing: 1.54px;
}

.close-modal {
  font-weight: 500;
  font-size: 1.3em;

  outline: none;
  border: none;
  background-color: transparent;
}

.dialog-body {
  margin: 45px 65px 45px 65px;
}

.partner-presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 55px;
}

.partner-info {
  width: 220px;
  margin-right: 30px;
  text-align: start;
}

.presentation-title {
  color: #515151;
  font-size: 20px;
}

.presentation-subtitle {
  color: #6B6B6B;
  font-size: 14px;
}

.presentation-text {
  color: #515151;
  font-size: 12px;
}

.partner-details {
  display: flex;
  flex-direction: column;
}

.details-title {
  color: #292929;
  font-size: 17px;
  font-weight: bold;
}

.details-info {
  margin-left: 15px;
}

.type-partner {
  color: #515151;
  font-size: 14px;
  font-family: Poppins;
  font-weight: 600;
}

.partner-details .details-info h6 {
  color: #4D4D4D;
  font-size: 13px;
}

.partner-details .details-info .partner-deal span {
  color: #4D4D4D;
  font-size: 12px;
}

.proporse-body {
  display: flex;
  flex-direction: column;
  margin: 20px 60px 20px 60px;

}

.proporse-title {
  color: #515151;
  font-size: 17px;
}

.border {
  border: 0.3px solid #D1D1D1;
}

.select-user {
  display: inline;
  border: none;
  width: 85%;
  height: 40px;
  outline: none;
  background-color: #fff;
  margin-left: 5px;
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.select-help {
  border: none;
  width: 95%;
  height: 40px;
  outline: none;
  background-color: #fff;
  margin-left: 5px;
}

.proporse-text {
  color: #515151;
  font-size: 14px;
  font-family: Poppins, Regular;
}

.img-dialog {
  max-width: 150px;
  max-height: 150px;
}

@media(max-width: 768.9px) {
  .dialog-content {
    width: 100%;
    height: 100%;
  }

  .dialog-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 0 0;
  }

  .partner-presentation {
    flex-direction: column-reverse;
    width: 80%;
    margin-bottom: 25px;
  }

  .partner-info {
    margin-right: 0px;
    text-align: center;
  }

  .presentation-title {
    margin-top: 10px;
  }

  .partner-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .details-title {
    font-size: 15px;
    text-align: center;
  }

  .details-info img {
    margin-left: 30%;
  }

  .btn-roxo {
    width: 200px;
  }

  .proporse-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 0 0;
  }

  .select-user {
    display: inline;
    width: 70%;
  }
}

@media(max-width: 346.9px) {
  .select-user {
    width: 60%;
  }

  textarea {
    height: 100px;
  }
}
