<!-- DIALOG 1-->
<div class="dialog-content">
  <div class="dialog-header">
    <span class="w-100 text-center">
      <h4 class="dialog-title mt-2">Parceria</h4>
    </span>
    <button mat-dialog-close type="button" data-dismiss="modal" aria-label="Close" class="close-modal">
      <span aria-hidden="true">x</span>
    </button>
  </div>
  <div mat-dialog-content>
    <div class="dialog-body">
      <div class="partner-presentation">
        <div class="partner-info">
          <h4 class="presentation-title">{{ data.title ? data.title : data.name }}</h4>
          <h6 class="presentation-subtitle">{{ data.subtitle }}</h6>
          <span class="presentation-text">
            {{ data.description }}
          </span>
        </div>
        <img [src]="data.image_url !== null ? data.image_url :'assets/img/user.svg'" class="img-dialog">
      </div>
      <div class="partner-details">
        <h4 class="details-title">Detalhes da parceria</h4>
        <div class="details-info">
          <div class="mb-3 row">
            <img src="assets/svg/hands.svg" alt="">
            <span class="ml-3 mt-3 type-partner">{{ data.typePartner }}</span>
          </div>
          <div class="partner-deal mb-4" *ngIf="data.typePartner === 'Patrocínio financeiro'" >
            <h6>Acordo público de parceria:</h6>
            <span>{{ data.partnership_agreement | currency: 'BRL' }} / semana</span>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <button mat-raised-button class="btn-roxo" routerLink="/{{data.subtitle !== 'Usuário'? lowerSubtitle(data.subtitle) : 'perfil'}}/{{data.id}}/" mat-dialog-close>Ver
          página do(a) {{data.subtitle}}</button>
      </div>
    </div>
  </div>
</div>
<!--FIM DIALOG 1-->
