.img-container {
  width: 100%;
  height: 100%;
  max-height: 480px;
  object-fit: scale-down;
}

/* .p-margin-justify{
  text-align: justify;
} */

/* .dropdown-menu {
  margin-left: -144px !important;
} */
