<!-- DIALOG 1-->
<div class="dialog-content">
  <div class="dialog-header d-flex justify-content-between">
    <div class="d-flex w-100">
      <span class="text-center w-100">
        <h4 class="dialog-title mt-2">Deletar
          {{ data.type === 'User'? 'Usuário' : ''}}
          {{ data.type === 'Event'? 'Evento' : ''}}
          {{ data.type === 'Organization'? 'Organização' : ''}}
          {{ data.type === 'Project'? 'Projeto' : ''}}
  
        </h4>
      </span>
      <button mat-dialog-close type="button" data-dismiss="modal" aria-label="Close" class="close-modal">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <div mat-dialog-content>
    <div class="dialog-body d-flex flex-column justify-content-between">
      <h6 class="my-4">Ao excluir seu usuário, todos os perfis de sua titularidade serão excluídos.</h6>
      <div class="d-flex justify-content-center align-items-center flex-column flex-lg-row w-100">
        <button mat-raised-button class="btn-delete-primary mx-1" (click)="modalDelete(data.type, data.id)">
          Excluir
        </button>
        <button mat-raised-button class="btn-roxo-claro-1 mx-1 mt-3 mt-lg-0" (click)="closeModal()">
          Cancelar
        </button>
      </div>
    </div>
  </div>
</div>
<!--FIM DIALOG 1-->
