/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@ng-select/ng-select/themes/default.theme.css";
@import '~@angular/cdk/overlay-prebuilt.css';
/** Add this only for non-material project */

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
}

body,
input,
label,
textarea {
  font-size: 14px;
  font-family: 'Poppins', Helvetica, sans-serif;
}

.mat-dialog-container {
  background-color: #FAFAFA;
}

/* CARDS - EVENTOS */
/* Imagem */
.img-arrow-right {
  position: absolute;
  width: 1.8rem;
  height: 1.8rem;

  right: 25px;
  bottom: 110px;
}

.img-arrow-right2 {
  width: 25px;
  height: 25px;

  position: absolute;

  right: 25px;
  bottom: 80px;
}


.img-perfil-card {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.img-mobile-card {
  padding-top: 50px;
  margin-right: 20px;
}

@media(max-width: 990px) {
  .img-arrow-right {
    bottom: 80px;
  }

  .ajuste-mobile-card {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .img-mobile-card {
    padding-top: 30px;
    margin: 0px;
  }
}

@media(min-width: 1000px) {
  .img-mobile-card {
    padding-top: 30px;
  }
}


/* CARDS -- FIM */

/* Buttons */
.btn-roxo-toolbar {
  max-width: 210px;
  width: 100%;
  height: 40px;

  font: 500 16px Poppins;
  color: #4F0B73;
  background: none;

  outline: none;

  border: 2px solid #4f0b73;
  border-radius: 3px;
}

.btn-roxo,
.btn-roxo-claro {
  color: white;

  width: 250px;
  height: 45px;

  border-radius: 3px;
}

.btn-roxo-1,
.btn-roxo-claro-1,
.btn-delete-primary {
  color: white;
  width: 190px;
  height: 40px;
}

.btn-roxo,
.btn-roxo-1 {
  background: linear-gradient(269deg, #392244 0%, #560F7B 100%, #FC9970 100%);
}

.btn-roxo-claro,
.btn-roxo-claro-1 {
  background: linear-gradient(269deg, #7E7384 0%, #C4AFC8 100%, #FC9970 100%);
}

.btn-delete-primary {
  background: linear-gradient(269deg, #442222 0%, #7b0f0f 100%, #FC9970 100%);
}

.social-icons {
  width: 35px;
  height: 30px;
  object-fit: fill;
}

.social-icons-perfil {
  width: 18px;
  height: 18px;
  object-fit: fill;
}

/** MATERIAL SLIDE **/
.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: rgba(83, 17, 117, .53);
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: #4b1664;
}

/* .btn-google,
.btn-facebook,
.btn-linkedin {
  width: 60px;
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 3px;
  cursor: pointer;
}

.btn-google {
  background: linear-gradient(90deg, #dd4b39 0%, #ff604d 100%);
}

.btn-facebook {
  background: linear-gradient(90deg, #1778f2 0%, #04a5f1 100%);
}

.btn-linkedin {
  background: linear-gradient(90deg, #0b66c3 0%, #1f7cdb 100%);
} */

/*****************/
/* Textos - Cores*/
.txt-gr-roxo {
  background-image: -webkit-linear-gradient(90deg, #560f7b 0%, #420960 100%);
  background-image: -moz-linear-gradient(90deg, #560f7b 0%, #420960 100%);
  background-image: -ms-linear-gradient(90deg, #560f7b 0%, #420960 100%);
  background-image: -o-linear-gradient(90deg, #560f7b 0%, #420960 100%);
  background-image: linear-gradient(90deg, #560f7b 0%, #420960 100%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.txt-gray {
  color: #515151;
}

.txt-toolbar-title {
  font-size: 22px;
  letter-spacing: 1px;
}

.txt-p-title {
  color: #000;
  font: 500 18px Poppins;
}

.txt-title-card {
  color: #515151;
  font-weight: 700;
  font-size: 18px;
  font-family: Poppins;
  letter-spacing: 1px;
}

.txt-subtitle-card {
  font-weight: 400;
  font-size: 14px;
  font-family: Poppins;
}

.txt-roxo {
  color: #4F0B73;
}

.txt-cinza {
  color: #515151;
}

.p-justify-pre {
  width: auto;
  word-break: keep-all;
  word-wrap: break-word;

  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;

  text-align: justify;

  font-family: Poppins;
  font-size: 14px;
}

/***********/
/* Fundos */

.fundo-roxo-claro {
  background-color: #FCF7FE;
}

.fundo-cinza {
  background-color: #FCFCFC;
}

.divisao {
  height: 2px;
  width: 100%;
  background-color: #eaeaea;
}

@media(max-width: 540px) {
  .btn-roxo {
    width: 50%;
  }
}


/***************************/

.bg-primary {
  background: #3D1F4B !important;
}

.text-primary {
  color: #3D1F4B !important;
}

.bg-secondary {
  background: #541077 !important;
}

.text-secondary {
  color: #541077 !important;
}

.bg-tertiary {
  background: #FCF7FE !important;
}

.text-tertiary {
  color: #FCF7FE !important;
}

.font-size28px {
  font-size: 28px;
}

.font-size20px {
  font-size: 20px;
}

.font-size18px {
  font-size: 18px;
}

.font-size16px {
  font-size: 16px;
}

.font-size14px {
  font-size: 14px;
}

.font-400 {
  font-weight: 400;
}
.font-600 {
  font-weight: 600;
}

.btn {
  box-shadow: none !important;
  border-radius: 3px;
  min-width: 200px;
  width: 13.65vw;
  max-width: 262px;
  height: 39px;
  transition: .2s;
}

.btn:hover {
  opacity: .87;
}

.btn-primary {
  background: transparent linear-gradient(269deg, #392244 0%, #560F7B 100%, #FC9970 100%) 0% 0% !important;
}

.btn-secondary {
  background: transparent linear-gradient(269deg, #7E7384 0%, #C4AFC8 100%, #FC9970 100%) 0% 0% no-repeat padding-box;
}

app-register-project {
  width: 100%;
}

app-add-administrators {
  transition: .3s;
}

.show-more-description{
  font-weight: 600;
  color: #560F7B;
  cursor: pointer;
}

/* Customize the label (the container) */
.label-container {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 28px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.label-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 20px;
  width: 20px;
  left: 0px;
  z-index: 1;
}

/* Create a custom checkbox */
.span-checkmark,
.span-radiomark {
  position: absolute;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 5px;
  transition: .3s;
}

.span-radiomark {
  border-radius: 50% !important;
}

/* On mouse-over, add a grey background color */
.label-container:hover input~.span-checkmark,
.label-container:hover input~.span-radiomark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.label-container input:checked~.span-checkmark,
.label-container input:checked~.span-radiomark {
  background-color: #7E7384;
}

/* Create the checkmark/indicator (hidden when not checked) */
.span-checkmark:after,
.span-radiomark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked
.label-container input:checked ~ .span-checkmark:after {
  display: block;
} */

/* Style the checkmark/indicator */
.label-container .span-checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/****************************************/
/*** RADIO BUTTON ***/
.radio-button {
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
  vertical-align: middle;
  color: #515151;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

.radio-button input[type="radio"] {
  display: none;
}

.radio-button span {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: #eeeeee;
  display: block;
  position: absolute;
  left: 0;
  top: 2px;
}

.radio-button span:after {
  content: "";
  height: 18px;
  width: 18px;
  background: #7e7384;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  border-radius: 50%;
  transition: 300ms ease-in-out 0s;
}

.radio-button input[type="radio"]:checked~span:after {
  transform: translate(-50%, -50%) scale(1);
}

/* Estrutura: <label class="radio-button"> <input type="radio" /> Nome do radio <span></span> </label> */
/*******************************************************************************************************/

/****************************************/
/*** RADIO BUTTON ***/
.checkbox-button {
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
  vertical-align: middle;
  color: #515151;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

.checkbox-button input[type="checkbox"] {
  display: none;
}

.checkbox-button span {
  height: 20px;
  width: 20px;
  border-radius: 5px;
  background: #eeeeee;
  display: block;
  position: absolute;
  left: 0;
  top: 2px;
}

.checkbox-button span:after {
  content: "";
  height: 20px;
  width: 20px;
  background: #7e7384;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  border-radius: 5px;
  transition: 300ms ease-in-out 0s;
}

.checkbox-button input[type="checkbox"]:checked~span:after {
  transform: translate(-50%, -50%) scale(1);
}

/* Estrutura: <label class="radio-button"> <input type="radio" /> Nome do radio <span></span> </label> */

.cursor-pointer {
  cursor: pointer;
}

/*************************/
/*** Delete icone ***/
.delete-icon-x {
  width: 20px;
  height: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;

  cursor: pointer;

  border-radius: 50%;
  background: #000;
  opacity: 0.4;
}

.delete-icon-x:hover {
  opacity: 0.6;
}

/****************************/

.img-author {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.pointer {
  cursor: pointer;
}

.mat-badge-hidden .mat-badge-content:empty {
  display: inline-block;
}

.mat-badge-warn .mat-badge-content {
  background: #4F1173;
}

.mat-badge-small .mat-badge-content {
  width: 8px;
  height: 8px;
  line-height: 16px;
}


/* Paginação */
pagination-template div div img {
  cursor: pointer;
}

.prev {
  content: url('./assets/svg/chevron-left.svg');
}

.prev:hover {
  content: url('./assets/svg/chevron-left-hover.svg');
}

.next {
  content: url('./assets/svg/chevron-right.svg');
}

.next:hover {
  content: url('./assets/svg/chevron-right-hover.svg');
}

:focus {
  outline: none;
}

/******************/
/* Buttons share */
button.sb-wrapper {
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 5px;
  outline: none;
}

button.sb-wrapper .sb-icon {
  color: #fff;
}

.sb-facebook {
  background-color: #4267B2;
}

.sb-twitter {
  background-color: #00acee;
}

.sb-tumblr {
  background-color: #36465D;
}

.sb-messenger {
  background-color: #0080FF;
}

.sb-telegram {
  background-color: #0080FF;
}

.sb-whatsapp {
  background-color: #25D366;
}

.sb-sms {
  background-color: #20c16c;
}

.sb-email {
  background-color: #FF961C;
}

.sb-copy {
  background-color: #607D8B;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e") !important;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e") !important;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(79, 11, 115, 0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
