label {
  font-size: 14px;
  color: rgba(81, 81, 81, 1);
}

.text-area-shortages {
  width: 90%;
  height: 120px;
  color: #515151;

  box-shadow: 0px 5px 8px #E7EAF070;
  border: 0.3px solid #D1D1D1;
  border-radius: 5px;
}
