<section class="shadow bg-white rounded mt-4 px-4 py-3">

  <div class="mb-3">
    <h5>Carências:</h5>
  </div>

  <div>
    <h6>Tipo de manutenção: </h6>
  </div>

  <form [formGroup]="shortagesForm">
    <div *ngFor="let shortage of shortages" class="d-flex align-items-center py-2">
      <label [for]="shortage.description" class="mb-0 label-container text-nowrap">
        <input type="checkbox" [name]="shortage.description" [formControlName]="shortage.description"
          (change)="checkMaintenanceTypeControl()">
        <span class="span-checkmark"></span>
        {{shortage.description}}
      </label>
    </div>
    <div *ngIf="shortages.length === 0">
      <p class="mb-0 font-size14px">
        Nenhum registro encontrado
      </p>
    </div>
  </form>

  <div class="my-3">
    <textarea name="type_of_help" placeholder="De que forma irá ajudar?" class="px-1 text-area-shortages"
      [(ngModel)]="kindOfHelp" (keyup)="emitKindOfHelp($event.target.value)">
        </textarea>
  </div>

  <div>
    <h6>Por quanto tempo poderão ajudar:</h6>
  </div>

  <form [formGroup]="maintenanceTimeForm">
    <div *ngFor="let maintenance of maintenanceTimes" class="d-flex align-items-center py-2">
      <label [for]="maintenance.description" class="mb-0 label-container text-nowrap">
        <input type="checkbox" [name]="maintenance.description" [formControlName]="maintenance.description"
          (change)="checkMaintenanceTimeControl()">
        <span class="span-checkmark"></span>
        {{maintenance.description}}
      </label>
    </div>
    <div *ngIf="maintenanceTimes.length === 0">
      <p class="mb-0 font-size14px">
        Nenhum registro encontrado
      </p>
    </div>
  </form>

</section>
