.image_project{
  width: 100%;
  height: 100%;
  max-height: 220px;
  /* box-shadow: 0 0rem 1rem rgba(0, 0, 0, 0.15); */
  border-radius: 5px 5px 0 0;
  object-fit: cover;
}

.border-r{
  border-radius: 0 0 5px 5px;
}

.font-b{
  font-weight: 600;
  margin-bottom: 0;
  color: #515151;
}

.ver-map{
  font-size: small;
  padding-left: 25px;
  color: #515151;
}

@media(max-width: 1280.9px) {
    .btn-roxo {
        width: 200px;
    }
    .btn-roxo-claro {
        width: 200px;
    }
}

@media(min-width: 1200px){
  .image_project{
    height: 100%;
    object-fit: fill;
  }
}
