<section class="container-fluid">
  <section class="row">
    <div class="col-lg-11 pt-4">
      <div class="row" style="margin: 1px 1px 0 1px">
        <img [src]="project?.image_url ? project?.image_url : 'assets/img/img_project_default.png'"
          class="image_project" alt="Imagem do projeto" />
      </div>
      <div class="row shadow border-r bg-white p-4 justify-content-between" style="margin: 0px 1px 1px 1px">
        <span class="d-flex align-items-center">
          <h3 class="font-b">{{project?.name}}
            <img *ngIf="ownerMode" class="px-1 cursor-pointer" src="../../../../../../../assets/svg/eye.svg"
              (click)="ownerMode = !ownerMode" />
            <img *ngIf="ownerMode" class="px-1 cursor-pointer" src="../../../../../../../assets/svg/edit.svg"
              routerLink="/projeto/{{id}}/editar" />
          </h3>
        </span>
        <div class="d-flex flex-wrap">
          <button *ngIf="ownerMode" mat-raised-button class="btn-roxo-claro" routerLink="/chat">Solicitações de
            parcerias</button>
          <button *ngIf="!ownerMode" mat-raised-button class="btn-roxo-claro mx-2" (click)="openDialog()">Propor
            parceria</button>
        </div>
      </div>
    </div>
  </section>
  <main class="row">
    <section class="col-lg-11 pt-4">
      <div class="row">
        <div class="col-lg-8 col-md-12 col-sm-12">
          <div class="row shadow bg-white rounded p-3" style="margin: 1px">
            <div class="col-12 p-0">
              <h5 class="font-b" style="color: #292929; margin-bottom: 10px;">
                Sobre o Projeto:
              </h5>
              <p class="font-size13px font-gray mb-1">
                <img src="../../../../../../../assets/svg/map-pin.svg"
                  class="mr-1">{{ project?.address_state + ' - ' + project?.address_city + ', ' + project?.address_neighborhood + ' | ' + project?.local }}
              </p>
              <p *ngIf="project?.show_telephone" class="font-size13px font-gray mb-0">
                <img src="../../../../../../../assets/svg/phone.svg" alt="telefone">
                {{project.telephone | mask: project.telephone.length == 10 ? '(00) 0000-0000' : '(00) 00000-0000'}}
              </p>
              <p *ngIf="project?.show_cellphone" class="font-size13px font-gray mb-0">
                <img src="../../../../../../../assets/svg/phone.svg" alt="telefone">
                {{project.cellphone | mask: project.cellphone.length == 10 ? '(00) 0000-0000' : '(00) 00000-0000'}}
              </p>
              <hr
                *ngIf="project?.youtube || project?.facebook || project?.instagram || project?.twitter || project?.site" />
              <p *ngIf="project?.youtube || project?.facebook || project?.instagram || project?.twitter || project?.site"
                class="font-size16px font-weight-bold mb-2">Redes Sociais:</p>
              <div
                *ngIf="project?.youtube || project?.facebook || project?.instagram || project?.twitter || project?.site"
                class="d-flex justify-content-start">
                <a *ngIf="project?.youtube" class="mx-2" [href]="'http://'+project?.youtube" target="_blank">
                  <img src="../../../../../../../assets/svg/social/youtube.svg" alt="youtube" class="social-icons">
                </a>
                <a *ngIf="project?.facebook" class="mx-2" [href]="'http://'+project?.facebook" target="_blank">
                  <img src="../../../../../../../assets/svg/social/facebook.svg" alt="facebook" class="social-icons">
                </a>
                <a *ngIf="project?.instagram" class="mx-2" [href]="'http://'+project?.instagram" target="_blank">
                  <img src="../../../../../../../assets/svg/social/instagram.svg" alt="instagram" class="social-icons">
                </a>
                <a *ngIf="project?.twitter" class="mx-2" [href]="'http://'+project?.twitter" target="_blank">
                  <img src="../../../../../../../assets/svg/social/twitter.svg" alt="twitter" class="social-icons">
                </a>
                <a *ngIf="project?.site" class="mx-2" [href]="'http://'+project?.site" target="_blank">
                  <img src="../../../../../../../assets/svg/social/site.svg" alt="site" class="social-icons">
                </a>
              </div>
            </div>
          </div>
          <div *ngIf="posts" class="col-lg-12 p-0 d-none d-sm-none d-md-none d-lg-block">
            <app-post [posts]="posts"></app-post>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 pt-4 pt-sm-4 pt-md-4 pt-lg-0">
          <app-dropdown-passions [myPassions]="project?.passions"></app-dropdown-passions>
          <app-dropdown-events [idUserEvent]="project?.id" [type]="'project'"></app-dropdown-events>
          <app-dropdown-partnerships></app-dropdown-partnerships>
          <app-dropdown-shortages [shortages]="project?.shortages" [kind_of_help]="project?.kind_of_help">
          </app-dropdown-shortages>
          <app-dropdown-admin-owner [idOwner]="project?.user_id? project.user_id : project.organization_id"
            [administrators]="project?.administrators" [typeProfile]="handleTypeOwnerAdmin(project)">
          </app-dropdown-admin-owner>
        </div>

        <div *ngIf="posts" class="col-lg-12 d-block d-sm-block d-md-block d-lg-none">
          <app-post [posts]="posts"></app-post>
        </div>

      </div>
    </section>
  </main>
</section>
<app-full-spinner></app-full-spinner>
