<section [class]="className">
  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <!-- <strong>Pessoas Confirmadas <span *ngIf="panelOpenState">({{peopleConfirmed}})</span></strong> -->
          <strong>Pessoas Confirmadas <span>({{peopleConfirmed}})</span></strong>
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <section *ngIf="peopleConfirmed > '0'" class="d-flex justify-content-between py-2">
        <span>{{peopleConfirmed}} pessoas confirmadas</span>
      </section>
      <section *ngIf="peopleConfirmed == '0'">
        <span>O evento não possuí pessoas confirmadas.</span>
      </section>
    </mat-expansion-panel>
  </mat-accordion>
</section>
