<mat-toolbar class="row fundo-roxo-claro">
  <div class="container-fluid">
    <div class="d-flex justify-content-between">
      <span class="txt-roxo txt-toolbar-title"><strong>Minhas entidades</strong>&nbsp;&nbsp;</span>
      <button class="btn-roxo-toolbar" routerLink="/registrar-entidade">Nova entidade</button>
    </div>
  </div>
</mat-toolbar>
<main class="container-fluid pt-2">

  <section class="row pt-4  px-lg-3 px-sm-1 px-0"> <!-- Proprietário -->
    <div class="col-lg-12 ">
      <p class="txt-p-title">Proprietário</p>
    </div>

    <section class="row w-100">

      <section *ngIf="ownerOrganizations?.length === 0">
        <div class="row sombra rounded bg-white p-3" style="margin: 1px">
          <p class="mb-0">Você não possuí entidades!</p>
        </div>
      </section>

      <!-- CARD -->
      <section class="col-sm-12 col-md-12 col-lg-5 py-2" *ngFor="let organization of ownerOrganizations" >
        <div class="row shadow rounded bg-white p-4 cursor-pointer" routerLink="/entidade/{{organization.id}}" style="margin: 1px">
          <div class="col-3 d-flex justify-content-center align-items-center">
            <img class="imagem-card-perfil" [src]="organization?.image_url !== null ? organization?.image_url : 'assets/img/user.svg'">
          </div>
          <div class="col-7">
            <p class="title-card my-1">{{organization?.name}}</p>
            <p class="description-card my-1">{{organization?.description | slice : 0 : 40}}...</p>
          </div>
          <div class="col-2 d-flex justify-content-center align-items-center p-0">
            <img class="seta" src="../../../../../../../assets/svg/arrow-right.svg">
          </div>
        </div>
      </section>
      <!-- FIM CARD -->

    </section>
  </section>

  <section class="row pt-4 px-lg-3 px-sm-1 px-0"> <!-- Administrador -->
    <div class="col-lg-12 ">
      <p class="txt-p-title">Administrador</p>
    </div>

    <section class="row w-100">

      <section *ngIf="administratorsOrganizations?.length === 0">
        <div class="row sombra rounded bg-white p-3" style="margin: 1px">
          <p class="mb-0">Você não possuí entidades!</p>
        </div>
      </section>

      <!-- CARD -->
      <section class="col-sm-12 col-md-12 col-lg-5 py-2" *ngFor="let organization of administratorsOrganizations" > <!-- NgFor -->
        <div class="row shadow rounded bg-white p-4 cursor-pointer" routerLink="/entidade/{{organization.id}}" style="margin: 1px">
          <div class="col-3 d-flex justify-content-center align-items-center">
            <img class="imagem-card-perfil" [src]="organization?.image_url !== null ? organization?.image_url : 'assets/img/user.svg'">
          </div>
          <div class="col-7">
            <p class="title-card my-1">{{organization?.name}}</p>
            <p class="description-card my-1">{{organization.description | slice: 0: 40}}...</p>
          </div>
          <div class="col-2 d-flex justify-content-center align-items-center">
            <img class="seta" src="../../../../../../../assets/svg/arrow-right.svg">
          </div>
        </div>
      </section>
      <!-- FIM CARD -->

    </section>
  </section>

</main>

<app-full-spinner></app-full-spinner>
