.perfil {
  max-width: 100%;
  max-height: 100%;
  width: 130px;
  height: 130px;

  display: flex;

  justify-content: center;
  align-items: center;

  border-radius: 100%;

  background-color: #E9E9E9;
}

.texto-delete{
  color: #560F7B;
}
.texto-delete:hover{
  color: #8f4abd;
}

.img-perfil-complete{
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}
.img-perfil-complete:hover{
  opacity: 0.8;
  transition: opacity 0.5s;
}

.input-100 {
  width: 100%;
  height: 35px;

  padding-left: 15px;

  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 8px #E7EAF070;
  border: 0.30000001192092896px solid #A2A2A2;
  border-radius: 5px;
}

.text-area-100 {
  width: 100%;
  height: 70px;

  padding-left: 15px;

  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 8px #E7EAF070;
  border: 0.30000001192092896px solid #A2A2A2;
  border-radius: 5px;
}

.input-check {
  all: unset;

  width: 17px;
  height: 17px;

  margin-right: 10px;

  box-shadow: 0px 5px 8px #E7EAF070;
  border: 0.30000001192092896px solid #A2A2A2;
  border-radius: 5px;
}

.input-check:checked{
  background: #7E7384;
}

.label-check {
  margin: 0px;
}

.select-100{
  width: 100%;
  height: 35px;

  padding-left: 15px;
  padding-right: 15px;

  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 8px #E7EAF070;
  border: 0.30000001192092896px solid #A2A2A2;
  border-radius: 5px;
}
.select-80{
  width: 100%;
  height: 35px;

  padding-left: 15px;
  padding-right: 15px;

  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 8px #E7EAF070;
  border: 0.30000001192092896px solid #A2A2A2;
  border-radius: 5px;
}

/**************/
/* Input File */
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile+label {
  font-size: 1em;
  color: #9b9b9b;
  background-color: #e9e9e9;
  display: inline-block;

  width: 150px;
  height: 150px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 100%;
}

.inputfile+label:hover {
  background-color: #cecece;
}

.inputfile+label {
  cursor: pointer;
}

.pos-relative{
  position: relative;
}

.delete-icon{
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 20px;
  height: 20px;
  background: #000000;
  opacity: 0.6;
  border-radius: 50%;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  right:-10px;
  top: 15px;
}

.delete-icon:hover{
  opacity: .85;
}

.button-add-region{
  display: flex;
  justify-content: center;

  color: #560F7B;
  font-weight: 600;
  border: none;
  outline: none;
  background-color: transparent;
}

.img-add-region{
  width: 16px;
  height: 16px;
}

@media(max-width: 575.9px) {
  .width-max-mobile{
    width: 120%;
  }
  .select-100 {
    width: 100%;
  }
  .mobile {
    margin-top: 15px;
  }
}
