<mat-toolbar class="fundo-roxo-claro">
  <span class="txt-roxo pl-2"><strong>Editar Perfil</strong></span>
</mat-toolbar>

<form [formGroup]="formulario" (ngSubmit)="onSubmit()" class="w-100">
  <section class="container">
    <div class="row">
      <!-- Coluna 1 -->
      <div class="col-lg-8">
        <div class="row shadow bg-white pb-5 pt-4 px-5 rounded mx-2 my-4">
          <div class="row">
            <div class="col-sm-4">
              <div class="d-flex justify-content-center">
                <input type="file" name="filePerfil" id="filePerfil" class="inputfile" (change)="envioImg($event)" />
                <label for="filePerfil">
                  <span *ngIf="imgUrlForm === null">
                    <mat-icon class="mat-icon-camera">camera_alt</mat-icon>
                  </span>
                  <span *ngIf="imgUrlForm !== null">
                    <img [src]="imgUrlForm" class="img-perfil-complete" />
                  </span>
                </label>
              </div>
              <div class="d-flex justify-content-center">
                <p class="cursor-pointer font-weight-bold texto-delete d-flex align-items-center"
                  (click)="removeImage()">
                  <mat-icon aria-hidden="false" aria-label="Lixeira">delete</mat-icon>Remover foto de perfil
                </p>
              </div>
            </div>

            <div class="col-sm-8">
              <div class="row">
                <div class="col-lg-12 my-2">
                  <input type="text" class="input-100" name="name" formControlName="name" placeholder="Nome" />
                  <div *ngIf="
                      (formulario.get('name').touched &&
                        formulario.get('name').invalid) ||
                      (isSubmited && formulario.get('name').invalid)
                    ">
                    <span class="small text-danger" *ngIf="formulario.get('name').errors.required">
                      Nome é um campo obrigatório.
                    </span>
                    <span class="small text-danger" *ngIf="formulario.get('name').errors.minlength">
                      Nome deve possuir no mínimo 3 letras
                    </span>
                  </div>
                </div>
                <div class="col-lg-12 my-2">
                  <input type="email" class="input-100" name="email" formControlName="email" placeholder="Email"
                    (change)="checkAndSetValidation()" />
                  <div class="d-flex align-items-center mt-1">
                    <label for="show_email" class="mb-0 label-container">
                      <input type="checkbox" name="show_email" formControlName="show_email" />
                      <span class="span-checkmark"></span>
                      Exibir email
                    </label>
                  </div>
                  <div *ngIf="
                      (formulario.get('email').touched &&
                        formulario.get('email').invalid) ||
                      (isSubmited && formulario.get('email').invalid)
                    ">
                    <span class="small text-danger" *ngIf="formulario.get('email').errors.required">
                      E-mail é um campo obrigatório.
                    </span>
                    <span class="small text-danger" *ngIf="formulario.get('email').errors.email">
                      Insira um formato de email válido.
                    </span>
                  </div>
                </div>
                <div class="col-lg-12 my-2">
                  <textarea type="text" class="text-area-100" cdkTextareaAutosize cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="6" name="description" formControlName="description"
                    placeholder="Fale um pouco sobre você"></textarea>
                  <div *ngIf="
                      (formulario.get('description').touched &&
                        formulario.get('description').invalid) ||
                      (isSubmited && formulario.get('description').invalid)
                    ">
                    <span class="small text-danger" *ngIf="formulario.get('description').errors.required">
                      Descrição é um campo obrigatório.
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row pt-3 width-max-mobile">
            <div class="col-sm-6 my-sm-2">
              <select class="select-100" formControlName="address_country" name="address_country" required>
                <option value="" disabled selected hidden>País</option>
                <option value="Brazil">Brasil</option>
              </select>
              <div *ngIf="
                  (formulario.get('address_country').touched &&
                    formulario.get('address_country').invalid) ||
                  (isSubmited && formulario.get('address_country').invalid)
                ">
                <span class="small text-danger">País é obrigatório.</span>
              </div>
            </div>
            <div class="col-sm-6 my-2 col-12">
              <input type="type" class="input-100" mask="00000-000" placeholder="CEP" name="address_zip_code"
                formControlName="address_zip_code" (keyup)="handleZipcode($event.target.value)" />
              <div *ngIf="
                  (formulario.get('address_zip_code').touched &&
                    formulario.get('address_zip_code').invalid) ||
                  (isSubmited && formulario.get('address_zip_code').invalid)
                ">
                <span class="small text-danger">Cep é obrigatório.</span>
              </div>
            </div>
            <div class="col-sm-6 my-2 col-12">
              <select class="select-100" name="address_state" formControlName="address_state" required #state
                (change)="onStateOptionSelected(state.value)">
                <option value="" disabled selected hidden>Estado</option>
                <option *ngFor="let estado of locationState" [value]="estado.sigla">
                  {{ estado.nome }}
                </option>
              </select>
              <div *ngIf="
                  (formulario.get('address_state').touched &&
                    formulario.get('address_state').invalid) ||
                  (isSubmited && formulario.get('address_state').invalid)
                ">
                <span class="small text-danger">Estado é obrigatório.</span>
              </div>
            </div>
            <div class="col-sm-6 my-2 col-12">
              <select class="select-100" formControlName="address_city" name="address_city" required>
                <option value="" disabled selected hidden>Cidade</option>
                <option *ngFor="let city of locationCity" [value]="city.nome">
                  {{ city.nome }}
                </option>
              </select>
              <div *ngIf="
                  (formulario.get('address_city').touched &&
                    formulario.get('address_city').invalid) ||
                  (isSubmited && formulario.get('address_city').invalid)
                ">
                <span class="small text-danger">Cidade é obrigatória.</span>
              </div>
            </div>
            <div class="col-sm-6 my-2 col-12">
              <input type="text" class="input-100" formControlName="address_street" name="address_street"
                placeholder="Rua" />
              <div *ngIf="
                  (formulario.get('address_street').touched &&
                    formulario.get('address_street').invalid) ||
                  (isSubmited && formulario.get('address_street').invalid)
                ">
                <span class="small text-danger">Rua é obrigatória.</span>
              </div>
            </div>
            <div class="col-sm-6 my-2 col-12">
              <input type="text" class="input-100" name="address_neighborhood" formControlName="address_neighborhood"
                placeholder="Bairro" />
              <div *ngIf="
                  (formulario.get('address_neighborhood').touched &&
                    formulario.get('address_neighborhood').invalid) ||
                  (isSubmited && formulario.get('address_neighborhood').invalid)
                ">
                <span class="small text-danger">Bairro é obrigatório.</span>
              </div>
            </div>
            <div class="col-sm-6 my-2 col-12">
              <input type="text" class="input-100" formControlName="address_number" name="address_number"
                placeholder="Número" />
              <div *ngIf="
                  (formulario.get('address_number').touched &&
                    formulario.get('address_number').invalid) ||
                  (isSubmited && formulario.get('address_number').invalid)
                ">
                <span class="small text-danger">Numero é obrigatório.</span>
              </div>
            </div>
            <div class="col-sm-6 my-2 col-12">
              <input type="text" class="input-100" name="address_complement" formControlName="address_complement"
                placeholder=" Complemento" />
            </div>
            <div class="col-sm-6 my-2 col-12">
              <input type="text" class="input-100" ngxPhoneMaskBr name="cellphone" formControlName="cellphone"
                placeholder="Celular" (change)="checkAndSetValidation()" />
              <div *ngIf="
                  (formulario.get('cellphone').touched &&
                    formulario.get('cellphone').invalid) ||
                  (isSubmited && formulario.get('cellphone').invalid)
                ">
                <span class="small text-danger">Celular é obrigatório.</span>
              </div>
            </div>

            <div class="col-sm-6 my-2 col-12">
              <input type="text" class="input-100" ngxPhoneMaskBr name="telephone" formControlName="telephone"
                placeholder="Telefone" (change)="checkAndSetValidation()" />
              <div *ngIf="
                  (formulario.get('telephone').touched &&
                    formulario.get('telephone').invalid) ||
                  (isSubmited && formulario.get('telephone').invalid)
                ">
                <span class="small text-danger">Telefone é obrigatório.</span>
              </div>
            </div>

            <div class="col-sm-6 my-2 col-12 d-flex align-items-center">
              <mat-slide-toggle formControlName="receive_administrator_proposals">Aceita pedidos de administração
              </mat-slide-toggle>
            </div>
            <div class="col-sm-12 mt-2">
              <h6>Regiões de interesse específico</h6>
            </div>
            <div class="col-sm-12 mt-2" *ngIf="interestRegions.controls.length === 0">
              <p>Nenhuma região de interesse.</p>
            </div>

            <div class="d-flex flex-wrap w-100" *ngFor="
                let iRegion of interestRegions.controls;
                let index = index
              " formArrayName="interest_regions">
              <div class="d-flex flex-wrap w-100 pos-relative" [formGroupName]="index">
                <div class="col-sm-6 my-2 col-12">
                  <select class="select-100" [id]="'interest_region_state' + index" name="interest_region_state"
                    formControlName="interest_region_state" required
                    (change)="onStateInterestChange($event.target.value, index)">
                    <option disabled selected hidden>
                      Selecione um estado
                    </option>
                    <option *ngFor="let estado of locationInterestState" [value]="estado.sigla">
                      {{ estado.nome }}
                    </option>
                  </select>
                  <div *ngIf="
                    (interest_regions.controls[index].get('interest_region_state')?.touched &&
                    interest_regions.controls[index].get('interest_region_state')?.invalid) ||
                    (isSubmited &&
                    interest_regions.controls[index].get('interest_region_state').invalid)
                    ">
                    <span class="small text-danger" *ngIf="
                    interest_regions.controls[index].get('interest_region_state').errors.required
                      ">
                      Estado de interesse é um campo obrigatório.
                    </span>
                  </div>
                </div>
                <div class="col-sm-6 my-2 col-12">
                  <select class="select-100" [id]="'interest_region_city' + index" name="interest_region_city"
                    formControlName="interest_region_city" required>
                    <option disabled selected hidden>
                      Selecione uma cidade
                    </option>
                    <option *ngFor="let city of locationInterestCity[index]" value="{{ city.nome }}">
                      {{ city.nome }}
                    </option>
                  </select>
                  <div *ngIf="
                  (interest_regions.controls[index].get('interest_region_city')?.touched &&
                  interest_regions.controls[index].get('interest_region_city')?.invalid) ||
                  (isSubmited &&
                  interest_regions.controls[index].get('interest_region_city')?.invalid)
                    ">
                    <span class="small text-danger" *ngIf="
                    interest_regions.controls[index].get('interest_region_city').errors.required
                      ">
                      Cidade de interesse é um campo obrigatório.
                    </span>
                  </div>
                </div>
                <span (click)="removeRegion(index)" type="button" class="delete-icon" data-toggle="tooltip"
                  data-placement="top" title="Exclui a linha toda, estado e município">&times;</span>
              </div>
            </div>
            <div class="col-sm-6">
              <button type="button" class="button-add-region" (click)="addOtherRegion()">
                <img src="/assets/svg/plus.svg" class="img-add-region" />
                Adicionar
                {{ interestRegions.controls.length === 0 ? "" : "nova" }} região
              </button>
            </div>

            <section class="col-sm-12 mt-2">
              <h6>Redes sociais(URL)</h6>
            </section>
            <div class="col-sm-6 my-2 col-12">
              <input type="text" class="input-100" name="youtube" formControlName="youtube" placeholder="Youtube"
                data-toggle="tooltip" data-placement="top"
                title="Insira o seu canal do Youtube. Ex.: youtube.com/c/NomeDoSeuCanal" />
            </div>
            <div class="col-sm-6 my-2 col-12">
              <input type="text" class="input-100" name="facebook" formControlName="facebook" placeholder="Facebook"
                data-toggle="tooltip" data-placement="top"
                title="Insira o seu perfil do Facebook. Ex.: facebook.com/SeuLinkDoPerfil/" />
            </div>
            <div class="col-sm-6 my-2 col-12">
              <input type="text" class="input-100" name="instagram" formControlName="instagram" placeholder="Instagram"
                data-toggle="tooltip" data-placement="top"
                title="Insira o seu perfil do Instagram. Ex.: instagram.com/SeuNomeDeUsuario" />
            </div>
            <div class="col-sm-6 my-2 col-12">
              <input type="text" class="input-100" name="twitter" formControlName="twitter" placeholder="Twitter"
                data-toggle="tooltip" data-placement="top"
                title="Insira o seu perfil do Twitter. Ex.: twitter.com/NomeDeUsuario" />
            </div>
            <div class="col-sm-6 my-2 col-12">
              <input type="text" class="input-100" name="site" formControlName="site" placeholder="Site"
                data-toggle="tooltip" data-placement="top" title="Insira o link do seu site" />
            </div>
            <!-- <div class="col-sm-6 my-2 col-12">
              <button
                mat-raised-button
                type="button"
                class="btn-roxo-claro-1"
                (click)="deleteUser()"
              >
                Excluir
              </button>
            </div> -->
          </div>
        </div>
      </div>

      <!-- Coluna 2 -->
      <div class="col-lg-4">
        <app-passions-form [projectForm]="formulario.value" (passionsEmit)="onPassionChange($event)">
        </app-passions-form>
        <div *ngIf="
            (formulario.get('passions').touched &&
              formulario.get('passions').invalid) ||
            (isSubmited && formulario.get('passions').invalid)
          ">
          <span class="small text-danger" *ngIf="formulario.get('passions').errors.required">
            Pelo menos uma paixão é necessária.
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="row mx-1 mb-4">
          <div class="col-sm mx-2 mt-2">
            <button mat-raised-button type="submit" class="btn-roxo-1">
              Salvar
            </button>
          </div>
          <div class="col-sm mx-2 mt-2">
            <button mat-raised-button type="reset" class="btn-roxo-claro-1" routerLink="/perfil">
              Cancelar
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</form>
